Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

backend-pyright:
  name: Run typechecker for backend
  entry: pdm run -p backend/ pyright backend/transcribee_backend
  language: system
  pass_filenames: false

worker-pyright:
  name: Run typechecker for worker
  entry: pdm run -p worker/ pyright worker/transcribee_worker
  language: system
  pass_filenames: false

backend-openapi:
  name: update openapi-schema of the backend
  entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
  language: system
  pass_filenames: false

backend-tests:
  name: run backend tests
  entry: pdm run -p backend/ test
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: pnpm --prefix frontend/ run check:eslint
  language: system
  pass_filenames: false

openapi-typescript:
  name: openapi-typescript
  entry: pnpm --prefix frontend/ run generate-openapi
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: pnpm --prefix frontend/ run check:tsc
  language: system
  pass_filenames: false

format:
  name: format
  entry: pnpm --prefix frontend/ run format
  language: system
  pass_filenames: false

pnpm_test:
  name: pnpm test
  entry: pnpm --prefix frontend/ run test
  language: system
  pass_filenames: false

ci: test nix flake build of packages
  .github/workflows/test_build.yml
Due: none

add fixes for library search path
  flake.nix
Due: none

worker: switch to uv
  worker/__pypackages__/.gitignore
  worker/pyproject.toml
  worker/transcribee_worker/run.py
  worker/uv.lock
Due: worker-pyright

proto: use uv / setuptools
  proto/.gitignore
  proto/pyproject.toml
  proto/uv.lock
  worker/.gitignore
Due: worker-pyright

👷 ci: Remove caches to speed up build
  .github/workflows/lint.yml
Due: none

Add openssl to dev shell
  flake.nix
Due: none

backend: Switch to uv and make nix derivation pure
  backend/.gitignore
  backend/__pypackages__/.gitignore
  backend/pdm.lock
  backend/pyproject.toml
  backend/uv.lock
  nix/pkgs/backend.nix
Due: backend-pyright, backend-openapi, backend-tests

dev.sh: fix vite clearing screen
  packaging/Procfile
Due: none

📦️ Make proto editable
  backend/pyproject.toml
  backend/uv.lock
  worker/pyproject.toml
  worker/uv.lock
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests

lock sqlalchemy to previously used version
  backend/openapi-schema.yml
  backend/pyproject.toml
  backend/transcribee_backend/models/task.py
  backend/uv.lock
Due: backend-pyright, backend-openapi, backend-tests, openapi-typescript

fix torchaudio on linux
  nix/pkgs/worker.nix
Due: none

🙈 proto: ignore build directory
  proto/.gitignore
Due: none

⬆️ Bump python to 3.11 and do other random stuff
  .ruff.toml
  .vscode/settings.json
  backend/.gitignore
  backend/pdm.lock
  backend/pyproject.toml
  nix/pkgs/backend.nix
  nix/pkgs/worker.nix
  proto/pyproject.toml
  shell.nix
  worker/.gitignore
  worker/pdm.lock
  worker/pyproject.toml
  worker/transcribee_worker/config.py
  worker/transcribee_worker/icu/__init__.pyi
  worker/transcribee_worker/worker.py
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests

ci: add magic-nix-cache
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test_build.yml
Due: none

github workflow: use npm
  .github/workflows/build.yml
  flake.nix
Due: none

Fix prototype fund logo in frontend
  frontend/public/pf_funding_logos.svg
  frontend/src/pages/about.tsx
Due: eslint, tsc, format, pnpm_test

use newer uv to make torch-cpu work
  flake.lock
  flake.nix
  worker/pyproject.toml
  worker/uv.lock
Due: worker-pyright

🐛 backend: Fix sqlalchemy build
  nix/pkgs/backend.nix
Due: none

flake: add overlay
  flake.nix
  nix/pkgs/frontend.nix
Due: none

nix: Convert timestamp to iso date on build to prevent IFD
  flake.nix
  nix/pkgs/frontend.nix
Due: none

backend: Add migration script
  backend/pyproject.toml
  backend/transcribee_backend/db/run_migrations.py
Due: backend-pyright, backend-openapi, backend-tests

config: move default models
  backend/transcribee_backend/config.py
  backend/transcribee_backend/default_models.json
Due: backend-pyright, backend-openapi, backend-tests

Create transcribee-admin cli
  backend/README.md
  backend/pyproject.toml
  backend/scripts/create_api_token.py
  backend/scripts/create_user.py
  backend/scripts/create_user_token.py
  backend/scripts/create_worker.py
  backend/scripts/reset_task.py
  backend/scripts/set_password.py
  backend/transcribee_backend/admin_cli/__init__.py
  backend/transcribee_backend/admin_cli/command.py
  backend/transcribee_backend/admin_cli/commands/create_api_token.py
  backend/transcribee_backend/admin_cli/commands/create_user.py
  backend/transcribee_backend/admin_cli/commands/create_user_token.py
  backend/transcribee_backend/admin_cli/commands/create_worker.py
  backend/transcribee_backend/admin_cli/commands/reset_task.py
  backend/transcribee_backend/admin_cli/commands/set_password.py
  backend/transcribee_backend/admin_cli/main.py
Due: backend-pyright, backend-openapi, backend-tests

flake: Add worker to overlay
  flake.nix
Due: none

flake: Reuse overlay to declare packages
  flake.nix
Due: none

🎨 Format nix files
  flake.nix
  nix/pkgs/backend.nix
  nix/pkgs/frontend.nix
  nix/pkgs/worker.nix
Due: none

only try to parse reencode progress if valid
  worker/transcribee_worker/reencode.py
Due: worker-pyright

update automerge-py
  worker/pyproject.toml
  worker/uv.lock
Due: worker-pyright

Bump sqlmodel, sqlalchemy, pydantic, fastapi
  backend/openapi-schema.yml
  backend/pyproject.toml
  backend/tests/test_doc.py
  backend/transcribee_backend/auth.py
  backend/transcribee_backend/config.py
  backend/transcribee_backend/db/migrations/versions/1ec1e251173a_init.py
  backend/transcribee_backend/db/migrations/versions/6392770332cd_add_taskattempt.py
  backend/transcribee_backend/db/migrations/versions/937846561faf_add_apitoken.py
  backend/transcribee_backend/db/migrations/versions/c88376bf4844_fix_accidentially_nullable_fields.py
  backend/transcribee_backend/db/migrations/versions/d679c226343d_add_documentsharetoken.py
  backend/transcribee_backend/main.py
  backend/transcribee_backend/metrics.py
  backend/transcribee_backend/models/document.py
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/models/user.py
  backend/transcribee_backend/models/worker.py
  backend/transcribee_backend/routers/document.py
  backend/transcribee_backend/routers/user.py
  backend/uv.lock
  frontend/src/editor/worker_status.tsx
  frontend/src/openapi-schema.ts
  nix/pkgs/backend.nix
  packaging/start_backend.sh
  proto/pyproject.toml
  proto/transcribee_proto/api.py
  proto/transcribee_proto/document.py
  worker/pyproject.toml
  worker/tests/test_transcribe.py
  worker/transcribee_worker/api_client.py
  worker/transcribee_worker/config.py
  worker/transcribee_worker/worker.py
  worker/uv.lock
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

bump more packages
  backend/pyproject.toml
  backend/uv.lock
  proto/uv.lock
  worker/pyproject.toml
  worker/uv.lock
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests

Path conditions:
  backend-pyright: any of: backend/.*
  worker-pyright: any of: worker/.*
  backend-openapi: any of: backend/.*
  backend-tests: any of: backend/.*
  eslint: any of: \.[jt]sx?$
  openapi-typescript: any of: backend/openapi-schema.yml
  tsc: any of: frontend/.*
  format: any of: frontend/.*
  pnpm_test: any of: frontend/.*
