Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

backend-pyright:
  name: Run typechecker for backend
  entry: pdm run -p backend/ pyright backend/transcribee_backend
  language: system
  pass_filenames: false

worker-pyright:
  name: Run typechecker for worker
  entry: pdm run -p worker/ pyright worker/transcribee_worker
  language: system
  pass_filenames: false

backend-openapi:
  name: update openapi-schema of the backend
  entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
  language: system
  pass_filenames: false

backend-tests:
  name: run backend tests
  entry: pdm run -p backend/ test
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: pnpm --prefix frontend/ run check:eslint
  language: system
  pass_filenames: false

openapi-typescript:
  name: openapi-typescript
  entry: pnpm --prefix frontend/ run generate-openapi
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: pnpm --prefix frontend/ run check:tsc
  language: system
  pass_filenames: false

format:
  name: format
  entry: pnpm --prefix frontend/ run format
  language: system
  pass_filenames: false

pnpm_test:
  name: pnpm test
  entry: pnpm --prefix frontend/ run test
  language: system
  pass_filenames: false

🚑️ Add hotfix for websocket blocking the server
  backend/pyproject.toml
  backend/transcribee_backend/helpers/sync.py
Due: backend-pyright, backend-openapi, backend-tests

🐛 Fix speaker buttons showing over speakerdropdown
  frontend/src/components/dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
Due: eslint, tsc, format, pnpm_test

⚡️ Only render children if in view
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/editor/transcription_editor.tsx
Due: eslint, tsc, format, pnpm_test

🐛 Fix 500 when renaming document
  backend/transcribee_backend/routers/document.py
Due: backend-pyright, backend-openapi, backend-tests

💄 Use tabular-nums for timestamps
  frontend/src/editor/transcription_editor.tsx
Due: eslint, tsc, format, pnpm_test

✨ Show worker status in document list
  backend/openapi-schema.yml
  backend/transcribee_backend/models/document.py
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/routers/document.py
  frontend/src/editor/worker_status.tsx
  frontend/src/openapi-schema.ts
  frontend/src/pages/user_home.tsx
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

🐛 fix worker popup jumping on hover exit
  frontend/src/pages/user_home.tsx
Due: eslint, tsc, format, pnpm_test

💚 Wait for nix daemon to start on mac runners
  .github/workflows/lint.yml
Due: none

♻️ Change paragraph sentence recombination logic
  worker/transcribee_worker/whisper_transcribe.py
Due: worker-pyright

✨ Combine tokens into words after transcription
  .pre-commit-config.yaml
  shell.nix
  worker/pdm.lock
  worker/pyproject.toml
  worker/tests/test_transcribe.py
  worker/transcribee_worker/icu.pyi
  worker/transcribee_worker/whisper_transcribe.py
Due: worker-pyright

✨ Split sentences based on icu rules
  worker/transcribee_worker/whisper_transcribe.py
Due: worker-pyright

✨ Split sentences on ICU sentence breaks
  worker/tests/data/test_combine_tokens_to_words-simple.json
  worker/tests/data/test_move_space_to_prev_token-simple.json
  worker/tests/data/test_space_and_sentences-simple.json
  worker/tests/data/test_strict_sentence_paragraphs-combines-paragraph-2.json
  worker/tests/data/test_strict_sentence_paragraphs-combines-paragraph.json
  worker/tests/data/test_strict_sentence_paragraphs-noop.json
  worker/tests/data/test_strict_sentence_paragraphs-splits-paragraph.json
  worker/tests/test_transcribe.py
  worker/transcribee_worker/whisper_transcribe.py
Due: worker-pyright

✨ Unify version footer, fix overlaying on small screens and long pages
  frontend/src/common/version.tsx
  frontend/src/components/app.tsx
  frontend/src/editor/player.tsx
  frontend/src/pages/document.tsx
  frontend/src/pages/loading.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/new_document.tsx
  frontend/src/pages/page_not_found.tsx
  frontend/src/pages/user_home.tsx
Due: eslint, tsc, format, pnpm_test

🐛 recover editor when our performance hacks break it
  frontend/src/editor/editor_error_boundary.tsx
  frontend/src/editor/transcription_editor.tsx
Due: eslint, tsc, format, pnpm_test

⚡️ Resume transcription tasks
  worker/transcribee_worker/whisper_transcribe.py
  worker/transcribee_worker/worker.py
Due: worker-pyright

♻️ Reflect change of github orga name to bugbakery
  CONTRIBUTING.md
  frontend/src/common/version.tsx
  frontend/src/utils/export/webvtt.ts
Due: eslint, tsc, format, pnpm_test

🐬 re-introduce complex version
  frontend/src/common/version.tsx
  frontend/src/common/virtual:git-version.d.ts
  frontend/vite.config.js
Due: eslint, tsc, format, pnpm_test

⚡️ Improve error handling performance
  frontend/src/editor/editor_error_boundary.tsx
  frontend/src/editor/transcription_editor.tsx
Due: eslint, tsc, format, pnpm_test

✨ Add transcribee archive export and refactor export modal
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/document.ts
  frontend/src/editor/export/index.tsx
  frontend/src/editor/export/transcribee.tsx
  frontend/src/editor/export/webvtt.tsx
  frontend/src/editor/webvtt_export.tsx
  frontend/src/pages/document.tsx
  frontend/src/utils/download_text_as_file.ts
Due: eslint, tsc, format, pnpm_test

✨ Add transcribee archive import
  backend/openapi-schema.yml
  backend/transcribee_backend/routers/document.py
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/document.ts
  frontend/src/editor/export/transcribee.tsx
  frontend/src/openapi-schema.ts
  frontend/src/pages/new_document.tsx
  frontend/src/pages/user_home.tsx
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

🐛 fix transcribee export for long documents
  frontend/src/editor/export/transcribee.tsx
  frontend/src/utils/download_text_as_file.ts
Due: eslint, tsc, format, pnpm_test

🩹 Do not split Sentences on "i.e. " and "\d. "
  worker/tests/data/test_strict_sentence_paragraphs-special-case-number-text.json
  worker/tests/data/test_strict_sentence_paragraphs-special-case-zB.json
  worker/transcribee_worker/whisper_transcribe.py
Due: worker-pyright

🚑️ Fix error boundary not catching errors
  frontend/src/editor/editor_error_boundary.tsx
Due: eslint, tsc, format, pnpm_test

Path conditions:
  backend-pyright: any of: backend/.*
  worker-pyright: any of: worker/.*
  backend-openapi: any of: backend/.*
  backend-tests: any of: backend/.*
  eslint: any of: \.[jt]sx?$
  openapi-typescript: any of: backend/openapi-schema.yml
  tsc: any of: frontend/.*
  format: any of: frontend/.*
  pnpm_test: any of: frontend/.*
