Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        exclude: .*/pnpm-lock.yaml$
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # python checks
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: Run ruff for python files
        entry: ruff check --config .ruff.toml --force-exclude --fix
        language: system
        'types_or': [python, pyi]
  - repo: local
    hooks:
      - id: backend-pyright
        name: Run typechecker for backend
        entry: pdm run -p backend/ pyright backend/transcribee_backend
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: worker-pyright
        name: Run typechecker for worker
        entry: pdm run -p worker/ pyright worker/transcribee_worker
        language: system
        files: worker/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-openapi
        name: update openapi-schema of the backend
        entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-tests
        name: run backend tests
        entry: pdm run -p backend/ test
        language: system
        files: backend/.*
        pass_filenames: false

  # frontend checks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: pnpm --prefix frontend/ run check:eslint
        language: system
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        pass_filenames: false
  - repo: local # openapi-schema typescript from the openapi-schema of the backend
    hooks:
      - id: openapi-typescript
        name: openapi-typescript
        entry: pnpm --prefix frontend/ run generate-openapi
        language: system
        files: backend/openapi-schema.yml
        pass_filenames: false
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm --prefix frontend/ run check:tsc
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: format
        name: format
        entry: pnpm --prefix frontend/ run format
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: pnpm_test
        name: pnpm test
        entry: pnpm --prefix frontend/ run test
        language: system
        files: frontend/.*
        pass_filenames: false

make DebugPanel reactive
  ui-common/editor/debug_panel.tsx
Due: eslint

frontend: factor out loadTranscribeeArchive
  frontend/src/components/transcribee_archive_reader.ts
  frontend/src/pages/new_document.tsx
Due: eslint, tsc, format, pnpm_test

nix: remove residues from old nix setup
  flake.nix
Due: none

desktop: initial (automatic) file saving
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/tar.rs
  desktop/src/pages/document.tsx
  desktop/vite.config.ts
Due: eslint

desktop: also switch from zip to tar
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/tar.rs
  desktop/test-data/sample.transcribee
Due: none

desktop: add preliminary media loading & player
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/capabilities/default.json
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src/pages/document.tsx
  desktop/test-data/sample.transcribee
Due: eslint

desktop: initial editor and file opening
  desktop/package-lock.json
  desktop/package.json
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src/app.tsx
  desktop/src/pages/document.tsx
  desktop/src/pages/home.tsx
  desktop/src/types/slate_types.d.ts
  desktop/tsconfig.json
  desktop/vite.config.ts
  ui-common/editor/transcription_editor.tsx
Due: eslint

desktop: initial editor and file opening
  desktop/src-tauri/Cargo.lock
  desktop/tsconfig.json
Due: none

nix: add rustLibSrc
  flake.nix
Due: none

switch transcribee archive format from zip to tar
  frontend/src/pages/new_document.tsx
  ui-common/editor/export/transcribee.tsx
  ui-common/utils/tar.test.ts
  ui-common/utils/tar.ts
Due: eslint, tsc, format, pnpm_test

remove align task
  backend/openapi-schema.yml
  backend/transcribee_backend/db/migrations/versions/c9d4c04a9125_remove_align_task.py
  backend/transcribee_backend/models/task.py
  desktop/package-lock.json
  frontend/src/openapi-schema.ts
  proto/transcribee_proto/api.py
  worker/transcribee_worker/run.py
  worker/transcribee_worker/torchaudio_align.py
  worker/transcribee_worker/worker.py
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

Move file picker to ui-common
  frontend/src/pages/new_document.tsx
  ui-common/components/drop_file_picker.tsx
Due: eslint, tsc, format, pnpm_test

Rename desktop-backend to worker-adapter
  .vscode/settings.json
  desktop/desktop-backend/src/lib.rs
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/backend_plugin.rs
  desktop/worker-adapter/Cargo.lock
  desktop/worker-adapter/Cargo.toml
  desktop/worker-adapter/src/bin/standalone-backend.rs
  desktop/worker-adapter/src/handlers.rs
  desktop/worker-adapter/src/lib.rs
  desktop/worker-adapter/src/state.rs
  desktop/worker-adapter/src/worker_adapter.rs
Due: backend-pyright, backend-openapi, backend-tests

Use random worker token
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/worker_plugin.rs
Due: none

Add basic transcription capability on desktop
  .editorconfig
  desktop/package-lock.json
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/backend_plugin.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/worker_plugin.rs
  desktop/src/pages/home.tsx
  desktop/worker-adapter/Cargo.lock
  desktop/worker-adapter/Cargo.toml
  desktop/worker-adapter/src/bin/standalone-backend.rs
  desktop/worker-adapter/src/bin/standalone.rs
  desktop/worker-adapter/src/handlers.rs
  desktop/worker-adapter/src/lib.rs
  desktop/worker-adapter/src/state.rs
  desktop/worker-adapter/src/sync_message.rs
  desktop/worker-adapter/src/worker_adapter.rs
Due: eslint

Fix typo in pre-commit config
  .pre-commit-config.yaml
Due: none

ci: pin GitHub Actions to commit SHAs (6 pin(s))
  .github/workflows/.build-push-docker-image.yml
  .github/workflows/release.yml
Due: none

nix: install clippy
  flake.nix
Due: none

ci: install native dependencies of tauri for lint
  .github/workflows/lint.yml
Due: none

add pre-commit hooks for rust code
  .pre-commit-config.yaml
Due: none

desktop: follow cargo clippy lints
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/tar.rs
  desktop/src-tauri/src/worker_plugin.rs
  desktop/worker-adapter/src/bin/standalone.rs
  desktop/worker-adapter/src/handlers.rs
  desktop/worker-adapter/src/state.rs
  desktop/worker-adapter/src/sync_message.rs
  desktop/worker-adapter/src/worker_adapter.rs
Due: none

bump nix flake
  flake.lock
  flake.nix
Due: none

desktop: update @tauri-apps/plugin-log to match rust side
  desktop/package-lock.json
  desktop/package.json
Due: none

backend: fix pyright errors
  .pre-commit-config.yaml
  backend/openapi-schema.yml
  backend/pyproject.toml
  backend/transcribee_backend/admin_cli/commands/list_documents.py
  backend/transcribee_backend/config.py
  backend/transcribee_backend/metrics.py
  backend/transcribee_backend/models/document.py
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/models/user.py
  backend/transcribee_backend/models/worker.py
  backend/transcribee_backend/routers/document.py
  backend/transcribee_backend/routers/task.py
  backend/transcribee_backend/routers/user.py
  backend/uv.lock
  frontend/src/openapi-schema.ts
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

Fix migration
  backend/transcribee_backend/db/migrations/versions/c9d4c04a9125_remove_align_task.py
Due: backend-pyright, backend-openapi, backend-tests

gitignore: ignore temporary uv lock files
  .gitignore
Due: none

proto: configure pyright
  proto/pyproject.toml
  proto/transcribee_proto/api.py
  proto/uv.lock
Due: none
