Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

backend-pyright:
  name: Run typechecker for backend
  entry: pdm run -p backend/ pyright backend/transcribee_backend
  language: system
  pass_filenames: false

worker-pyright:
  name: Run typechecker for worker
  entry: pdm run -p worker/ pyright worker/transcribee_worker
  language: system
  pass_filenames: false

backend-openapi:
  name: update openapi-schema of the backend
  entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
  language: system
  pass_filenames: false

backend-tests:
  name: run backend tests
  entry: pdm run -p backend/ test
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: pnpm --prefix frontend/ run check:eslint
  language: system
  pass_filenames: false

openapi-typescript:
  name: openapi-typescript
  entry: pnpm --prefix frontend/ run generate-openapi
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: pnpm --prefix frontend/ run check:tsc
  language: system
  pass_filenames: false

format:
  name: format
  entry: pnpm --prefix frontend/ run format
  language: system
  pass_filenames: false

pnpm_test:
  name: pnpm test
  entry: pnpm --prefix frontend/ run test
  language: system
  pass_filenames: false

Bump sqlmodel, sqlalchemy, pydantic, fastapi
  backend/openapi-schema.yml
  backend/pyproject.toml
  backend/tests/test_doc.py
  backend/transcribee_backend/auth.py
  backend/transcribee_backend/config.py
  backend/transcribee_backend/db/migrations/versions/1ec1e251173a_init.py
  backend/transcribee_backend/db/migrations/versions/6392770332cd_add_taskattempt.py
  backend/transcribee_backend/db/migrations/versions/937846561faf_add_apitoken.py
  backend/transcribee_backend/db/migrations/versions/c88376bf4844_fix_accidentially_nullable_fields.py
  backend/transcribee_backend/db/migrations/versions/d679c226343d_add_documentsharetoken.py
  backend/transcribee_backend/main.py
  backend/transcribee_backend/metrics.py
  backend/transcribee_backend/models/document.py
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/models/user.py
  backend/transcribee_backend/models/worker.py
  backend/transcribee_backend/routers/document.py
  backend/transcribee_backend/routers/user.py
  backend/uv.lock
  frontend/src/editor/worker_status.tsx
  frontend/src/openapi-schema.ts
  nix/pkgs/backend.nix
  packaging/start_backend.sh
  proto/pyproject.toml
  proto/transcribee_proto/api.py
  proto/transcribee_proto/document.py
  worker/pyproject.toml
  worker/tests/test_transcribe.py
  worker/transcribee_worker/api_client.py
  worker/transcribee_worker/config.py
  worker/transcribee_worker/worker.py
  worker/uv.lock
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

bump more packages
  backend/pyproject.toml
  backend/uv.lock
  proto/uv.lock
  worker/pyproject.toml
  worker/uv.lock
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests

👷 Fix git dependencies in frontend flake
  nix/default.nix
  nix/pkgs/frontend.nix
Due: none

👷 ci: Remove magic nix cache
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test_build.yml
Due: none

⬆️ Update uv2nix
  flake.lock
Due: none

⬆️ Update outdated links to repo
  frontend/package.json
  worker/pyproject.toml
  worker/uv.lock
Due: worker-pyright, tsc, format, pnpm_test

♻️ Refactor git dependency handling in frontend flake
  nix/package-lock-utils.nix
  nix/pkgs/frontend.nix
Due: none

dev: fix docker setup
  .dockerignore
  compose.dev.yml
  compose.yml
  doc/development_setup.md
  packaging/Dockerfile
  packaging/setup_backend.sh
  worker/pyproject.toml
  worker/uv.lock
Due: worker-pyright

bump nixpkgs
  flake.lock
  flake.nix
  worker/pyproject.toml
  worker/uv.lock
Due: worker-pyright

Bump uv2nix
  flake.lock
Due: none

👷 ci: Remove storing unused frontend artifacts
  .github/workflows/build.yml
  .github/workflows/test_build.yml
Due: none

admin: add set_document script
  backend/transcribee_backend/admin_cli/__init__.py
  backend/transcribee_backend/admin_cli/commands/set_document.py
Due: backend-pyright, backend-openapi, backend-tests

worker: handle discard exception
  worker/transcribee_worker/document.py
Due: worker-pyright

backend: remove dupe admin main.py
  backend/transcribee_backend/admin_cli/main.py
Due: backend-pyright, backend-openapi, backend-tests

WIP: move automerge to loro
  backend/transcribee_backend/helpers/sync.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/document.ts
  frontend/src/editor/automerge_websocket_editor.ts
  frontend/src/editor/debug_panel.tsx
  frontend/src/editor/export/plaintext.tsx
  frontend/src/editor/export/transcribee.tsx
  frontend/src/editor/export/webvtt.tsx
  frontend/src/editor/loro_apply.spec.ts
  frontend/src/editor/loro_apply.ts
  frontend/src/editor/player.tsx
  frontend/src/editor/slate_loro.ts
  frontend/src/editor/slate_types.d.ts
  frontend/src/editor/speaker_dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/editor/types.ts
  frontend/src/editor/withLoroDoc.ts
  frontend/src/pages/new_document.tsx
  frontend/src/utils/document.ts
  frontend/src/utils/export/plaintext.ts
  frontend/src/utils/export/webvtt.ts
  frontend/vite.config.js
  worker/loro_conv.py
  worker/loro_load.py
  worker/pyproject.toml
  worker/uv.lock
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, tsc, format, pnpm_test

backend: fix document rename
  backend/transcribee_backend/routers/document.py
Due: backend-pyright, backend-openapi, backend-tests

add crisperwhisper
  backend/transcribee_backend/default_models.json
  frontend/src/pages/new_document.tsx
Due: backend-pyright, backend-openapi, backend-tests, eslint, tsc, format, pnpm_test

switch to decent-whisper
  frontend/src/pages/new_document.tsx
  nix/pkgs/worker.nix
  worker/generate_speaker_clusters.py
  worker/pyproject.toml
  worker/transcribe_manual.py
  worker/transcribee_worker/util.py
  worker/transcribee_worker/whisper_transcribe.py
  worker/transcribee_worker/worker.py
  worker/uv.lock
Due: worker-pyright, eslint, tsc, format, pnpm_test

worker: do not produce empty paragraphs
  worker/transcribee_worker/whisper_transcribe.py
Due: worker-pyright

backend: add counter for task attempts
  backend/transcribee_backend/helpers/tasks.py
Due: backend-pyright, backend-openapi, backend-tests

backend: remove unwanted warning
  backend/transcribee_backend/media_storage.py
Due: backend-pyright, backend-openapi, backend-tests

frontend: replace medium with large (turbo) model
  frontend/src/pages/new_document.tsx
Due: eslint, tsc, format, pnpm_test

worker: fix transcribe task types
  worker/transcribe_manual.py
  worker/transcribee_worker/util.py
  worker/transcribee_worker/whisper_transcribe.py
Due: worker-pyright

backend: remove model config
  backend/openapi-schema.yml
  backend/transcribee_backend/config.py
  backend/transcribee_backend/default_models.json
  backend/transcribee_backend/routers/document.py
  flake.nix
  frontend/src/openapi-schema.ts
  frontend/src/pages/languageNames.json
  frontend/src/pages/languages.json
  frontend/src/pages/new_document.tsx
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

💖 be more optimistic in the readme
  README.md
Due: none

Path conditions:
  backend-pyright: any of: backend/.*
  worker-pyright: any of: worker/.*
  backend-openapi: any of: backend/.*
  backend-tests: any of: backend/.*
  eslint: any of: \.[jt]sx?$
  openapi-typescript: any of: backend/openapi-schema.yml
  tsc: any of: frontend/.*
  format: any of: frontend/.*
  pnpm_test: any of: frontend/.*
