Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

backend-pyright:
  name: Run typechecker for backend
  entry: pdm run -p backend/ pyright backend/transcribee_backend
  language: system
  pass_filenames: false

worker-pyright:
  name: Run typechecker for worker
  entry: pdm run -p worker/ pyright worker/transcribee_worker
  language: system
  pass_filenames: false

backend-openapi:
  name: update openapi-schema of the backend
  entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
  language: system
  pass_filenames: false

backend-tests:
  name: run backend tests
  entry: pdm run -p backend/ test
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: pnpm --prefix frontend/ run check:eslint
  language: system
  pass_filenames: false

openapi-typescript:
  name: openapi-typescript
  entry: pnpm --prefix frontend/ run generate-openapi
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: pnpm --prefix frontend/ run check:tsc
  language: system
  pass_filenames: false

format:
  name: format
  entry: pnpm --prefix frontend/ run format
  language: system
  pass_filenames: false

pnpm_test:
  name: pnpm test
  entry: pnpm --prefix frontend/ run test
  language: system
  pass_filenames: false

desktop: basic reencoding of media files
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/worker_plugin.rs
  desktop/worker-adapter/src/handlers.rs
  desktop/worker-adapter/src/state.rs
  desktop/worker-adapter/src/worker_adapter.rs
Due: none

desktop: report initial worker progress earlier
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/worker-adapter/src/handlers.rs
  desktop/worker-adapter/src/state.rs
  desktop/worker-adapter/src/worker_adapter.rs
  worker/tests-integration/integration_test.rs
Due: worker-pyright

desktop: only show quit confirmation dialog when transcription is running
  desktop/src-tauri/src/menu.rs
  desktop/worker-adapter/src/state.rs
Due: none

desktop: remove unfinished transcription jobs on startup
  desktop/src-tauri/src/lib.rs
Due: none

desktop: save reencoded files in transcribee documents
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
Due: none

worker: cleanup unused settings
  worker/transcribee_worker/config.py
Due: worker-pyright

worker: add reencode support for desktop + tests
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/file_handling.rs
  desktop/worker-adapter/src/handlers.rs
  desktop/worker-adapter/src/state.rs
  desktop/worker-adapter/src/worker_adapter.rs
  worker/tests-integration/Cargo.lock
  worker/tests-integration/Cargo.toml
  worker/tests-integration/integration_test.rs
  worker/transcribee_worker/worker.py
Due: worker-pyright

desktop: only ever have one document with one save_path
  desktop/src-tauri/src/file_handling.rs
Due: none

desktop: add support for speaker identification
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/worker_plugin.rs
  desktop/src/pages/new_transcript_dialog.tsx
  desktop/worker-adapter/src/handlers.rs
  desktop/worker-adapter/src/sync_message.rs
  desktop/worker-adapter/src/worker_adapter.rs
Due: eslint

worker: add integration test
  desktop/worker-adapter/Cargo.lock
  desktop/worker-adapter/Cargo.toml
  desktop/worker-adapter/tests/integration_test.rs
Due: none

desktop/worker-adapter: remove standalone binary
  desktop/worker-adapter/Cargo.lock
  desktop/worker-adapter/Cargo.toml
  desktop/worker-adapter/src/bin/standalone.rs
  desktop/worker-adapter/src/handlers.rs
  desktop/worker-adapter/src/state.rs
  desktop/worker-adapter/tests/integration_test.rs
  worker/transcribee_worker/worker.py
Due: worker-pyright

desktop: add support for canceling transcriptions
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src/pages/home.tsx
Due: eslint

worker: increase timeout in integration tests
  desktop/worker-adapter/tests/integration_test.rs
Due: none

ci: cache downloaded test data
  .github/workflows/lint.yml
Due: none

chore: add nix mesa on non-nixos handling to dev shell
  flake.lock
  flake.nix
Due: none

Fix saving documents that are smaller than expected
  desktop/src-tauri/src/transcribee_archive.rs
Due: none

Add menu for windows and linux
  desktop/package-lock.json
  desktop/package.json
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/lib.rs
  desktop/src/menu.tsx
  desktop/src/pages/document.tsx
  desktop/src/pages/home.tsx
  ui-common/utils/use_on_click_outside.ts
Due: eslint

Improve accessibility of menubar
  desktop/src/menu.tsx
Due: eslint

Handle macOS window specific menu items
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/menu.rs
  desktop/src/menu.tsx
  desktop/src/pages/document.tsx
  desktop/src/pages/home.tsx
Due: eslint

Add undo and redo to menu bar
  desktop/src-tauri/src/menu.rs
  desktop/src/pages/document.tsx
  ui-common/editor/transcription_editor.tsx
Due: eslint

Fix potential race condition in useTauriState
  desktop/src/util/use_tauri_event.ts
Due: eslint

Remove get_focused_document_id
  desktop/src-tauri/src/window.rs
Due: none

Add spacer for menu bar and improve styling
  desktop/src/menu.tsx
Due: eslint

worker: be less verbose during idle
  worker/transcribee_worker/worker.py
Due: worker-pyright

worker: add reencode support for desktop + tests
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/file_handling.rs
  desktop/worker-adapter/Cargo.lock
  desktop/worker-adapter/Cargo.toml
  desktop/worker-adapter/src/handlers.rs
  desktop/worker-adapter/src/state.rs
  desktop/worker-adapter/src/worker_adapter.rs
  desktop/worker-adapter/tests/integration_test.rs
  worker/transcribee_worker/worker.py
Due: worker-pyright

Path conditions:
  backend-pyright: any of: backend/.*
  worker-pyright: any of: worker/.*
  backend-openapi: any of: backend/.*
  backend-tests: any of: backend/.*
  eslint: any of: \.[jt]sx?$
  openapi-typescript: any of: backend/openapi-schema.yml
  tsc: any of: frontend/.*
  format: any of: frontend/.*
  pnpm_test: any of: frontend/.*
