Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        exclude: .*/pnpm-lock.yaml$
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # python checks
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: Run ruff for python files
        entry: ruff check --config .ruff.toml --force-exclude --fix
        language: system
        'types_or': [python, pyi]
  - repo: local
    hooks:
      - id: backend-pyright
        name: Run typechecker for backend
        entry: pdm run -p backend/ pyright backend/transcribee_backend
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: worker-pyright
        name: Run typechecker for worker
        entry: pdm run -p worker/ pyright worker/transcribee_worker
        language: system
        files: worker/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-openapi
        name: update openapi-schema of the backend
        entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-tests
        name: run backend tests
        entry: pdm run -p backend/ test
        language: system
        files: backend/.*
        pass_filenames: false

  # frontend checks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: pnpm --prefix frontend/ run check:eslint
        language: system
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        pass_filenames: false
  - repo: local # openapi-schema typescript from the openapi-schema of the backend
    hooks:
      - id: openapi-typescript
        name: openapi-typescript
        entry: pnpm --prefix frontend/ run generate-openapi
        language: system
        files: backend/openapi-schema.yml
        pass_filenames: false
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm --prefix frontend/ run check:tsc
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: format
        name: format
        entry: pnpm --prefix frontend/ run format
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: pnpm_test
        name: pnpm test
        entry: pnpm --prefix frontend/ run test
        language: system
        files: frontend/.*
        pass_filenames: false

improve logging
  desktop/src-tauri/src/lib.rs
  desktop/src/main.tsx
Due: eslint

desktop: fix file argument parsing
  desktop/src-tauri/src/lib.rs
Due: none

logging
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/lib.rs
  desktop/src/main.tsx
Due: eslint

desktop: add debug options
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/menu.rs
  desktop/src/pages/home.tsx
Due: eslint

desktop: less block on to avoid deadlocks
  desktop/src-tauri/src/lib.rs
Due: none

desktop: fix race condition in MediaFileBase init
  desktop/src-tauri/src/media_file_serve.rs
Due: none

worker: remove junk python symlink in windows bundles
  worker/packaging/build_worker_bundle.py
Due: worker-pyright

desktop: less block_on to avoid deadlocks
  desktop/src-tauri/src/lib.rs
Due: none

desktop: log to console under windows
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/main.rs
Due: none

desktop: only allow a single instance
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/lib.rs
Due: none

desktop: close confirmation for all
  desktop/src-tauri/src/confirm_close.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/menu.rs
Due: none

desktop: windows with nsis & install vc_redist
  .github/workflows/release.yml
  desktop/src-tauri/tauri.conf.json
  desktop/src-tauri/windows/install_vc_redist.nsh
Due: none

desktop: fix default save_as filename
  desktop/src-tauri/src/cmd.rs
Due: none

desktop: improve logging
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/lib.rs
  desktop/src/main.tsx
Due: eslint

desktop: add padding to startup modal
  desktop/src/pages/home.tsx
  ui-common/components/modal.tsx
Due: eslint

desktop: add debug menu
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/menu.rs
  desktop/src/pages/home.tsx
Due: eslint

update docs to advertise new desktop / web split
  README.md
  doc/development_setup.md
  doc/web_development_setup.md
  doc/web_self_hosting.md
Due: none

WIP: e2e tests
  desktop/index.html
  desktop/package-lock.json
  desktop/package.json
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/capabilities/default.json
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/tauri.conf.json
  desktop/test/specs/test.e2e.ts
  desktop/wdio.conf.ts
Due: eslint

[wip]
  flake.nix
  worker-ng/Cargo.lock
  worker-ng/Cargo.toml
  worker-ng/README.md
  worker-ng/src/audio_reader.rs
  worker-ng/src/earshot_vad.rs
  worker-ng/src/main.rs
  worker-ng/src/model_downloader.rs
  worker-ng/src/silero_vad.rs
  worker-ng/src/smart_turn.rs
  worker-ng/src/stream_processing.rs
  worker-ng/src/transcription_restart.rs
  worker-ng/src/whisper.rs
Due: none

[wip]
  worker-ng/Cargo.lock
  worker-ng/Cargo.toml
  worker-ng/src/main.rs
  worker-ng/src/vad/earshot.rs
  worker-ng/src/vad/mod.rs
  worker-ng/src/vad/silero.rs
  worker-ng/src/vad/smart_turn.rs
  worker-ng/src/vad/transcription_restart.rs
  worker-ng/src/whisper.rs
  worker-ng/src/whisper/decoder.rs
  worker-ng/src/whisper/encoder.rs
  worker-ng/src/whisper/mod.rs
  worker-ng/src/whisper/python_ref.py
Due: none
