Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

backend-pyright:
  name: Run typechecker for backend
  entry: pdm run -p backend/ pyright backend/transcribee_backend
  language: system
  pass_filenames: false

worker-pyright:
  name: Run typechecker for worker
  entry: pdm run -p worker/ pyright worker/transcribee_worker
  language: system
  pass_filenames: false

backend-openapi:
  name: update openapi-schema of the backend
  entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
  language: system
  pass_filenames: false

backend-tests:
  name: run backend tests
  entry: pdm run -p backend/ test
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: pnpm --prefix frontend/ run check:eslint
  language: system
  pass_filenames: false

openapi-typescript:
  name: openapi-typescript
  entry: pnpm --prefix frontend/ run generate-openapi
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: pnpm --prefix frontend/ run check:tsc
  language: system
  pass_filenames: false

format:
  name: format
  entry: pnpm --prefix frontend/ run format
  language: system
  pass_filenames: false

pnpm_test:
  name: pnpm test
  entry: pnpm --prefix frontend/ run test
  language: system
  pass_filenames: false

beautify tauri logs
  desktop/package-lock.json
  desktop/package.json
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/capabilities/default.json
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/worker_plugin.rs
Due: none

🎉 Add desktop backend stub
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/backend.rs
  desktop/src-tauri/src/backend_plugin.rs
  desktop/src-tauri/src/lib.rs
Due: none

Move backend to own crate & add standalone bin
  .vscode/settings.json
  desktop/desktop-backend/Cargo.lock
  desktop/desktop-backend/Cargo.toml
  desktop/desktop-backend/src/backend.rs
  desktop/desktop-backend/src/bin/standalone.rs
  desktop/desktop-backend/src/lib.rs
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/backend.rs
  desktop/src-tauri/src/backend_plugin.rs
  desktop/src-tauri/src/lib.rs
Due: backend-pyright, backend-openapi, backend-tests

✨ Desktop backend: first routes, cli options
  .gitignore
  desktop/desktop-backend/Cargo.lock
  desktop/desktop-backend/Cargo.toml
  desktop/desktop-backend/src/backend.rs
  desktop/desktop-backend/src/bin/standalone.rs
  desktop/desktop-backend/src/lib.rs
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/src/backend_plugin.rs
Due: backend-pyright, backend-openapi, backend-tests

✨ Desktop: Integrate backend with worker
  desktop/desktop-backend/src/backend.rs
  desktop/src-tauri/src/backend_plugin.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/worker_plugin.rs
Due: backend-pyright, backend-openapi, backend-tests

drop nix from pre-commit action
  .github/workflows/lint.yml
Due: none

add initial standalone worker packaging
  .github/workflows/build-worker-bundles.yml
  .github/workflows/test_build.yml
  worker/.gitignore
  worker/packaging/build_worker_bundle.py
  worker/packaging/native_deps.json
  worker/packaging/run_worker.bat.tmpl
  worker/packaging/run_worker.sh.tmpl
  worker/pyproject.toml
  worker/run_worker.sh
  worker/transcribee_worker/api_client.py
  worker/transcribee_worker/document.py
  worker/uv.lock
Due: worker-pyright

Bump nodejs to v24
  .github/workflows/lint.yml
  flake.nix
Due: none

Add proper Dockerfile
  .dockerignore
  .python-version
  Dockerfile
  backend/.python-version
  worker/.python-version
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests

Add proper docker compose for web application
  backend/pyproject.toml
  backend/uv.lock
  compose-dev.yml
  compose.dev.yml
  packaging/docker/Dockerfile
  packaging/docker/Dockerfile-dev
  packaging/docker/run.sh
Due: backend-pyright, backend-openapi, backend-tests

flake: Update postgres to version 18
  flake.nix
Due: none

actions: Add job to build docker image
  .github/workflows/build-docker.yml
  .github/workflows/publish-docker.yml
Due: none

actions: Publish backend docker image
  .github/workflows/backend-publish-docker.yml
Due: none

Create docker based dev shell
  docker-devshell.sh
  packaging/docker/Dockerfile-dev
Due: none

Serve frontend with backend server
  Dockerfile
  backend/openapi-schema.yml
  backend/public/.gitkeep
  backend/transcribee_backend/main.py
  backend/transcribee_backend/static_files.py
  frontend/src/openapi-schema.ts
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

Test Docker setup in CI
  .github/workflows/docker.yml
Due: none

Improve speaker handling and player controls
  frontend/src/components/form.tsx
  frontend/src/document.test.ts
  frontend/src/editor/player.tsx
  frontend/src/editor/speaker_dropdown.tsx
  frontend/src/utils/document.ts
  frontend/src/utils/use_audio.ts
Due: eslint, tsc, format, pnpm_test

Fix dev container
  .devcontainer/Dockerfile
  .devcontainer/compose.yml
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/settings.json
  compose-dev.yml
Due: none

Ditch docker-devshell.sh in favor of dev container
  .devcontainer/Dockerfile
  docker-devshell.sh
  packaging/docker/Dockerfile-dev
Due: none

Add .ruff_cache to gitignore
  .gitignore
Due: none

devcontainer: Automatically initialize pre-commit
  .devcontainer/devcontainer.json
Due: none

replace ffmpeg with pyav
  worker/packaging/native_deps.json
  worker/tests/data/sample.mp3
  worker/tests/test_reencode.py
  worker/transcribee_worker/config.py
  worker/transcribee_worker/reencode.py
  worker/transcribee_worker/util.py
  worker/transcribee_worker/worker.py
Due: worker-pyright

fix setup_backend.sh
  packaging/setup_backend.sh
Due: none

fix: remove confusing naming from compose.yml
  compose.yml
Due: none

Update development setup docs
  doc/development_setup.md
Due: none

Path conditions:
  backend-pyright: any of: backend/.*
  worker-pyright: any of: worker/.*
  backend-openapi: any of: backend/.*
  backend-tests: any of: backend/.*
  eslint: any of: \.[jt]sx?$
  openapi-typescript: any of: backend/openapi-schema.yml
  tsc: any of: frontend/.*
  format: any of: frontend/.*
  pnpm_test: any of: frontend/.*
