Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-openapi, openapi-typescript, tsc, format, pnpm_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # python checks
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        exclude: ^backend/.*/migrations/.*$
  - repo: local  # update openapi-schema of the backend
    hooks:
      - id: django-openapi
        name: django-openapi
        entry: pdm run -p backend/ manage generateschema --file openapi-schema.yml
        language: python
        files: backend/.*
        pass_filenames: false

  # frontend checks
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.35.0
    hooks:
      - id: eslint
        additional_dependencies:
          - eslint@8.35.0
          - eslint-config-prettier@8.6.0
          - eslint-plugin-import@2.27.5
          - eslint-plugin-react@7.32.2
          - "@typescript-eslint/eslint-plugin@5.54.0"
          - "@typescript-eslint/parser@5.54.0"
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]
        args: ["-c", "frontend/.eslintrc.json", "--max-warnings", "0"]
  - repo: local  # openapi-schema typescript from the openapi-schema of the backend
    hooks:
      - id: openapi-typescript
        name: openapi-typescript
        entry: pnpm --prefix frontend/ run generate-openapi
        language: node
        files: backend/openapi-schema.yml
        pass_filenames: false
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm --prefix frontend/ run check:tsc
        language: node
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: format
        name: format
        entry: pnpm --prefix frontend/ run check:format
        language: node
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: pnpm_test
        name: pnpm test
        entry: pnpm --prefix frontend/ run test:fast
        language: node
        files: frontend/.*
        pass_filenames: false

💅 change dropdown style
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/dropdown.tsx
  frontend/src/editor/player.tsx
  frontend/src/editor/speaker_dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

✨ Implement change speaker dropdown
  frontend/src/app.tsx
  frontend/src/components/dropdown.tsx
  frontend/src/components/form.tsx
  frontend/src/components/modal.tsx
  frontend/src/editor/speaker_dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

✨ Animate modal mount/unmount
  frontend/src/components/modal.tsx
  frontend/src/editor/speaker_dropdown.tsx
Due: tsc, format, pnpm_test

✨ Add speaker dropdown
  frontend/src/components/button.tsx
  frontend/src/components/dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

⏱️ allow clicking on timestamps to jump
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

💅 move timestamps to own bar
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

✨ Add speaker names and word timings to webvtt export
  frontend/src/components/form.tsx
  frontend/src/editor/speaker_dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/editor/webvtt_export.tsx
  frontend/src/utils/export/webvtt.ts
Due: tsc, format, pnpm_test

🌀 refactor: lift editor state
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/editor/automerge_websocket_editor.ts
  frontend/src/editor/automerge_websocket_provider.ts
  frontend/src/editor/debug_panel.tsx
  frontend/src/editor/player.tsx
  frontend/src/editor/slate_types.d.ts
  frontend/src/editor/transcription_editor.tsx
  frontend/src/pages/document.tsx
Due: tsc, format, pnpm_test

🔧 Use ws url relative to site url in frontend
  frontend/src/pages/document.tsx
  frontend/vite.config.js
Due: tsc, format, pnpm_test

🐛 Don't show unsupported version on fresh documents
  frontend/src/pages/document.tsx
Due: tsc, format, pnpm_test

Make player arrow buttons jump 2 seconds
  frontend/src/editor/player.tsx
Due: tsc, format, pnpm_test

Enable seeking by holding player arrow buttons
  frontend/src/editor/player.tsx
  frontend/src/utils/button_hooks.ts
Due: tsc, format, pnpm_test

🚸 Re-Add Tooltip if WebVTT export not possible
  frontend/src/components/tooltip.tsx
  frontend/src/pages/document.tsx
  frontend/src/utils/export/webvtt.ts
Due: tsc, format, pnpm_test

🔒️ Switch hashing to scrypt
  backend/transcribee_backend/auth.py
Due: django-openapi

🔒️ Use user_id instead of username in token
  backend/transcribee_backend/auth.py
Due: django-openapi

🔒️ Only accept tokens that are within valid perios
  backend/transcribee_backend/auth.py
Due: django-openapi

✨ Add script to set user password
  backend/scripts/set_password.py
Due: django-openapi

✅ Add performance tests
  backend/tests/test_performance.py
Due: django-openapi

⚰️ Remove duplicate definition of task_types
  worker/run.py
Due: none

🐞 use backwards arrow also for forward the im/ImForward2 Icon seems to be a bit off center
  frontend/src/editor/player.tsx
Due: tsc, format, pnpm_test

🩹 Remove editable transcribee_proto from dev deps
  backend/pdm.lock
  backend/pyproject.toml
Due: django-openapi

➖ Replace react-responsive with custom useMediaQuery impl
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/editor/debug_panel.tsx
  frontend/src/editor/worker_status.tsx
  frontend/src/utils/use_media_query.ts
Due: tsc, format, pnpm_test

🐛 Set vtt as default subtitle export
  frontend/src/editor/webvtt_export.tsx
Due: tsc, format, pnpm_test
