Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-openapi, openapi-typescript, tsc, format, pnpm_test

django-openapi:
  name: django-openapi
  entry: pdm run -p backend/ manage generateschema --file openapi-schema.yml
  language: python
  pass_filenames: false

openapi-typescript:
  name: openapi-typescript
  entry: pnpm --prefix frontend/ run generate-openapi
  language: node
  pass_filenames: false

tsc:
  name: tsc
  entry: pnpm --prefix frontend/ run check:tsc
  language: node
  pass_filenames: false

format:
  name: format
  entry: pnpm --prefix frontend/ run check:format
  language: node
  pass_filenames: false

pnpm_test:
  name: pnpm test
  entry: pnpm --prefix frontend/ run test:fast
  language: node
  pass_filenames: false

📦 add backend dependency to transcribee-proto
  backend/pdm.lock
  backend/pyproject.toml
Due: django-openapi

Fix some automerge mapping
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/editor/TranscriptionEditor.tsx
  worker/transcribee_worker/worker.py
Due: tsc, format, pnpm_test

✨ better login / logout
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/components/Popup.tsx
  frontend/src/components/SecondaryButton.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/UserHomePage.tsx
Due: tsc, format, pnpm_test

✨ show document title in editor
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/src/pages/DocumentPage.tsx
Due: tsc, format, pnpm_test

✨ improve top bar
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/common/TopBar.tsx
  frontend/src/components/AppContainer.tsx
  frontend/src/components/IconButton.tsx
  frontend/src/components/Popup.tsx
  frontend/src/pages/DocumentPage.tsx
  frontend/src/pages/UserHomePage.tsx
Due: tsc, format, pnpm_test

🔧 pre-commit: use prettier write
  .pre-commit-config.yaml
Due: none

💅 avoid default exports & uppercase filenames
  frontend/.eslintrc.json
  frontend/src/app.tsx
  frontend/src/common/top_bar.tsx
  frontend/src/components/DialogTitle.tsx
  frontend/src/components/Input.tsx
  frontend/src/components/PrimaryButton.tsx
  frontend/src/components/SecondaryButton.tsx
  frontend/src/components/app.tsx
  frontend/src/components/button.tsx
  frontend/src/components/dialog.tsx
  frontend/src/components/form.tsx
  frontend/src/components/popup.tsx
  frontend/src/editor/automerge_websocket_provider.ts
  frontend/src/editor/debug_panel.tsx
  frontend/src/editor/slate_types.d.ts
  frontend/src/editor/transcription_editor.tsx
  frontend/src/editor/websocket_provider.ts
  frontend/src/main.tsx
  frontend/src/pages/document.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/new_document.tsx
  frontend/src/pages/page_not_found.tsx
  frontend/src/pages/user_home.tsx
  frontend/src/utils/trim_trailing_slash.ts
  frontend/vite.config.js
Due: tsc, format, pnpm_test

🐞 re-add new document button
  frontend/src/pages/user_home.tsx
Due: tsc, format, pnpm_test

🧹 factor out AppCenter component
  frontend/src/components/app.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/new_document.tsx
  frontend/src/pages/page_not_found.tsx
Due: tsc, format, pnpm_test

✨ add cancel button to new document dialog
  frontend/src/components/button.tsx
  frontend/src/pages/new_document.tsx
Due: tsc, format, pnpm_test

🧑‍🦽 add labels to icon buttons
  frontend/src/common/top_bar.tsx
  frontend/src/components/button.tsx
  frontend/src/pages/document.tsx
  frontend/src/pages/user_home.tsx
Due: tsc, format, pnpm_test

🐞 don't use rem unit for icon sizes
  frontend/src/components/button.tsx
Due: tsc, format, pnpm_test

🐞 popup: don't use margin
  frontend/src/components/popup.tsx
Due: tsc, format, pnpm_test

♫ add playback bar
  backend/transcribee_backend/base/views.py
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/editor/player.tsx
  frontend/src/pages/document.tsx
Due: django-openapi, tsc, format, pnpm_test

👽️ Use new automerge-py get_change api
  worker/pdm.lock
  worker/pyproject.toml
  worker/transcribee_worker/worker.py
Due: none

🧑‍💻 Add admin actio trequeue tasks
  backend/transcribee_backend/base/admin.py
  backend/transcribee_backend/base/models.py
Due: django-openapi

🧑‍💻 Do not mark tasks as completed with `--run-once-and-dont-complete`
  worker/run.py
Due: none

⬆️ Bump automerg-pye rev
  worker/pdm.lock
  worker/pyproject.toml
Due: none

⬆️ Upgrade pdm to 2.4.9
  shell.nix
Due: none

✨ backend: Do not claim tasks with unfinished dependencies
  backend/transcribee_backend/api/views.py
  backend/transcribee_backend/base/migrations/0010_alter_task_assigned_at_alter_task_assigned_worker_and_more.py
  backend/transcribee_backend/base/models.py
Due: django-openapi

✨ Add alignment to worker
  proto/transcribee_proto/document.py
  worker/pdm.lock
  worker/pyproject.toml
  worker/run.py
  worker/transcribee_worker/torchaudio_align.py
  worker/transcribee_worker/worker.py
Due: none

✨ Recombine split words and remove leading spaces in paragraphs
  worker/transcribee_worker/whisper_transcribe.py
  worker/transcribee_worker/worker.py
Due: none

✨ Apply speaker ids from diarization in alignment step
  frontend/src/editor/debug_panel.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/editor/types.ts
  proto/transcribee_proto/document.py
  worker/dump_doc.py
  worker/pdm.lock
  worker/pyproject.toml
  worker/transcribee_worker/torchaudio_align.py
  worker/transcribee_worker/whisper_transcribe.py
  worker/transcribee_worker/worker.py
Due: tsc, format, pnpm_test

✨ Add Diarization
  backend/transcribee_backend/api/views.py
  backend/transcribee_backend/base/admin.py
  backend/transcribee_backend/base/models.py
  proto/transcribee_proto/document.py
  worker/.env.example
  worker/README.md
  worker/pdm.lock
  worker/pyproject.toml
  worker/run.py
  worker/transcribee_worker/config.py
  worker/transcribee_worker/diarize.py
  worker/transcribee_worker/torchaudio_align.py
  worker/transcribee_worker/util.py
  worker/transcribee_worker/whisper_transcribe.py
  worker/transcribee_worker/worker.py
Due: django-openapi

🩹 transcription: If lang is auto, set para lang from whisper ctx
  frontend/src/editor/transcription_editor.tsx
  worker/transcribee_worker/whisper_transcribe.py
Due: tsc, format, pnpm_test

🐛 Align segments seperately; fix alignment ts calc
  worker/transcribee_worker/torchaudio_align.py
Due: none

🏷️ Add timestamp confidence to atom type
  proto/transcribee_proto/document.py
  worker/transcribee_worker/whisper_transcribe.py
Due: none

🧑‍💻 Add check against impossible alignments
  worker/transcribee_worker/worker.py
Due: none

Path conditions:
  django-openapi: any of: backend/.*
  openapi-typescript: any of: backend/openapi-schema.yml
  tsc: any of: frontend/.*
  format: any of: frontend/.*
  pnpm_test: any of: frontend/.*
