Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

backend-pyright:
  name: Run typechecker for backend
  entry: pdm run -p backend/ pyright backend/transcribee_backend
  language: system
  pass_filenames: false

worker-pyright:
  name: Run typechecker for worker
  entry: pdm run -p worker/ pyright worker/transcribee_worker
  language: system
  pass_filenames: false

backend-openapi:
  name: update openapi-schema of the backend
  entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
  language: system
  pass_filenames: false

backend-tests:
  name: run backend tests
  entry: pdm run -p backend/ test
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: pnpm --prefix frontend/ run check:eslint
  language: system
  pass_filenames: false

openapi-typescript:
  name: openapi-typescript
  entry: pnpm --prefix frontend/ run generate-openapi
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: pnpm --prefix frontend/ run check:tsc
  language: system
  pass_filenames: false

format:
  name: format
  entry: pnpm --prefix frontend/ run format
  language: system
  pass_filenames: false

pnpm_test:
  name: pnpm test
  entry: pnpm --prefix frontend/ run test
  language: system
  pass_filenames: false

💖 be more optimistic in the readme
  README.md
Due: none

wip
  backend/pyproject.toml
  backend/transcribee_backend/helpers/sync.py
  backend/transcribee_backend/media_storage.py
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/editor/automerge_websocket_editor.ts
  frontend/src/editor/loro_apply.ts
  frontend/src/editor/player.tsx
  frontend/src/editor/slate_loro.ts
  frontend/src/editor/speaker_dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/editor/withLoroDoc.ts
  frontend/src/pages/document.tsx
  frontend/src/pages/new_document.tsx
  frontend/src/utils/document.ts
  frontend/src/utils/export/plaintext.ts
  proto/transcribee_proto/sync.py
  worker/loro_conv.py
  worker/loro_load.py
  worker/pyproject.toml
  worker/transcribee_worker/document.py
  worker/uv.lock
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, tsc, format, pnpm_test

wip
  backend/transcribee_backend/db/migrations/versions/10e80963c5a3_automerge_loro_migration.py
Due: backend-pyright, backend-openapi, backend-tests

🎤 allow adding speaker name suggestions via url param
  frontend/src/editor/speaker_dropdown.tsx
Due: eslint, tsc, format, pnpm_test

✨ Play original file if it's the only source
  frontend/src/editor/player.tsx
Due: eslint, tsc, format, pnpm_test

fix multiple tracks playing when disabling video preview
  frontend/src/utils/use_audio.ts
Due: eslint, tsc, format, pnpm_test

✨ Allow user to disable video preview
  frontend/src/editor/player.tsx
Due: eslint, tsc, format, pnpm_test

fix: dont reload sources when refocusing window.
  backend/openapi-schema.yml
  backend/transcribee_backend/routers/document.py
  frontend/src/api/document.ts
  frontend/src/editor/player.tsx
  frontend/src/openapi-schema.ts
  frontend/src/utils/use_audio.ts
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

♻️ Cleanup source sorting & only load src after document loaded
  frontend/src/api/document.ts
  frontend/src/editor/export/index.tsx
  frontend/src/editor/export/transcribee.tsx
  frontend/src/editor/player.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/utils/use_audio.ts
Due: eslint, tsc, format, pnpm_test

💅 Style video preview
  frontend/src/utils/use_audio.ts
Due: eslint, tsc, format, pnpm_test

✨ Add menu to change video preview size
  frontend/src/editor/player.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/pages/document.tsx
  frontend/src/utils/use_audio.ts
Due: eslint, tsc, format, pnpm_test

⚖ make video resizing more intuitive
  frontend/src/editor/player.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/pages/document.tsx
  frontend/src/utils/use_audio.ts
Due: eslint, tsc, format, pnpm_test

document: Make title single line and add ellipsis
  frontend/src/common/top_bar.tsx
  frontend/src/components/button.tsx
  frontend/src/pages/document.tsx
Due: eslint, tsc, format, pnpm_test

home: Truncate long document titles
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/user_home.tsx
Due: eslint, tsc, format, pnpm_test

🤏 make video resizable
  frontend/src/editor/player.tsx
  frontend/src/pages/document.tsx
  frontend/src/utils/use_audio.ts
Due: eslint, tsc, format, pnpm_test

video preview: Fix resize handles appearing in mid air
  frontend/src/utils/rect_utils.ts
  frontend/src/utils/use_audio.ts
Due: eslint, tsc, format, pnpm_test

Fix z-index of video preview and speaker dropdown
  frontend/src/components/dropdown.tsx
  frontend/src/utils/use_audio.ts
Due: eslint, tsc, format, pnpm_test

Update package-lock.json
  frontend/package-lock.json
Due: tsc, format, pnpm_test

WIP: move automerge to loro
  backend/transcribee_backend/helpers/sync.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/document.ts
  frontend/src/editor/automerge_websocket_editor.ts
  frontend/src/editor/debug_panel.tsx
  frontend/src/editor/export/plaintext.tsx
  frontend/src/editor/export/transcribee.tsx
  frontend/src/editor/export/webvtt.tsx
  frontend/src/editor/loro_apply.spec.ts
  frontend/src/editor/loro_apply.ts
  frontend/src/editor/player.tsx
  frontend/src/editor/slate_loro.ts
  frontend/src/editor/slate_types.d.ts
  frontend/src/editor/speaker_dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/editor/types.ts
  frontend/src/editor/withLoroDoc.ts
  frontend/src/pages/new_document.tsx
  frontend/src/utils/document.ts
  frontend/src/utils/export/plaintext.ts
  frontend/src/utils/export/webvtt.ts
  frontend/vite.config.js
  worker/loro_conv.py
  worker/loro_load.py
  worker/pyproject.toml
  worker/uv.lock
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, tsc, format, pnpm_test

wip
  backend/pyproject.toml
  backend/transcribee_backend/helpers/sync.py
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/editor/automerge_websocket_editor.ts
  frontend/src/editor/loro_apply.ts
  frontend/src/editor/player.tsx
  frontend/src/editor/slate_loro.ts
  frontend/src/editor/speaker_dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/editor/withLoroDoc.ts
  frontend/src/pages/document.tsx
  frontend/src/pages/new_document.tsx
  frontend/src/utils/document.ts
  frontend/src/utils/export/plaintext.ts
  proto/transcribee_proto/sync.py
  worker/loro_conv.py
  worker/loro_load.py
  worker/pyproject.toml
  worker/transcribee_worker/document.py
  worker/uv.lock
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, tsc, format, pnpm_test

wip
  backend/transcribee_backend/db/migrations/versions/10e80963c5a3_automerge_loro_migration.py
  frontend/src/pages/new_document.tsx
Due: backend-pyright, backend-openapi, backend-tests, eslint, tsc, format, pnpm_test

worker: factor out video codec to be easily configurable
  worker/transcribee_worker/config.py
Due: worker-pyright

🔙 hardcode the use of faster-whisper, because mlx-whisper has bad QOR
  worker/transcribee_worker/whisper_transcribe.py
Due: worker-pyright

Path conditions:
  backend-pyright: any of: backend/.*
  worker-pyright: any of: worker/.*
  backend-openapi: any of: backend/.*
  backend-tests: any of: backend/.*
  eslint: any of: \.[jt]sx?$
  openapi-typescript: any of: backend/openapi-schema.yml
  tsc: any of: frontend/.*
  format: any of: frontend/.*
  pnpm_test: any of: frontend/.*
