Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

backend-pyright:
  name: Run typechecker for backend
  entry: pdm run -p backend/ pyright backend/transcribee_backend
  language: system
  pass_filenames: false

worker-pyright:
  name: Run typechecker for worker
  entry: pdm run -p worker/ pyright worker/transcribee_worker
  language: system
  pass_filenames: false

backend-openapi:
  name: update openapi-schema of the backend
  entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
  language: system
  pass_filenames: false

backend-tests:
  name: run backend tests
  entry: pdm run -p backend/ test
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: pnpm --prefix frontend/ run check:eslint
  language: system
  pass_filenames: false

openapi-typescript:
  name: openapi-typescript
  entry: pnpm --prefix frontend/ run generate-openapi
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: pnpm --prefix frontend/ run check:tsc
  language: system
  pass_filenames: false

format:
  name: format
  entry: pnpm --prefix frontend/ run format
  language: system
  pass_filenames: false

pnpm_test:
  name: pnpm test
  entry: pnpm --prefix frontend/ run test
  language: system
  pass_filenames: false

editor: allow loading to finish even if the document is empty
  ui-common/editor/transcription_editor.tsx
Due: eslint

desktop: fix media files reloading on progress
  desktop/src/pages/document.tsx
  desktop/src/pages/home.tsx
  desktop/src/util/use_tauri_event.ts
Due: eslint

web: also use document not finished banner
  frontend/src/pages/document.tsx
  ui-common/components/transcription_progress.tsx
Due: eslint, tsc, format, pnpm_test

add queue indication in DocumentNotFinishedBanner
  ui-common/components/transcription_progress.tsx
Due: eslint

Use nixpkgs from channels.nixos.org
  flake.lock
  flake.nix
Due: none

Switch to nixpkgs stable
  flake.lock
  flake.nix
Due: none

Remove native deps functionality from worker bundle
  .dockerignore
  worker/.gitignore
  worker/packaging/build_worker_bundle.py
  worker/packaging/native_deps.json
Due: worker-pyright

Download bundled python via uv and fix installation on windows
  worker/packaging/build_worker_bundle.py
  worker/packaging/native_deps.json
  worker/packaging/run_worker.bat.tmpl
  worker/packaging/run_worker.sh.tmpl
Due: worker-pyright

Prevent uv from caching worker too agressively
  worker/pyproject.toml
Due: worker-pyright

Adjust wording and styling of DocumentNotFinishedBanner
  frontend/src/pages/document.tsx
  ui-common/components/transcription_progress.tsx
Due: eslint, tsc, format, pnpm_test

desktop: Set worker model dir
  desktop/src-tauri/src/worker_plugin.rs
Due: none

worker: No signals on windows
  worker/transcribee_worker/run.py
Due: worker-pyright

worker: Update speechbrain
  worker/pyproject.toml
  worker/transcribee_worker/identify_speakers.py
  worker/uv.lock
Due: worker-pyright

worker: Fix tests on windows
  worker/pyproject.toml
  worker/tests/test_reencode.py
  worker/uv.lock
Due: worker-pyright

worker: Windows friendly cache strategy for speechbrain
  worker/transcribee_worker/identify_speakers.py
Due: worker-pyright

desktop,web: prevent overscroll of static ui elements
  desktop/src/pages/document.tsx
  frontend/src/pages/document.tsx
  ui-common/editor/speaker_colors.tsx
  ui-common/editor/transcription_editor.tsx
Due: eslint, tsc, format, pnpm_test

desktop: Kill worker when exiting application
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/before_exit.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/worker_plugin.rs
Due: none

desktop: Remove bee emoji from title
  desktop/index.html
Due: none

desktop: Do not auto close main window
  desktop/src-tauri/src/cmd.rs
Due: none

desktop: Nicer transcription queue context menu order
  desktop/src/pages/home.tsx
Due: eslint

desktop: Move click handler of recent file to parent
  desktop/src/pages/home.tsx
Due: eslint

desktop: Add option to reveal recent files in file explorer
  desktop/package-lock.json
  desktop/package.json
  desktop/src/pages/home.tsx
  desktop/src/utils/texts.ts
Due: eslint

desktop: Enable opening app with document files
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/tauri.conf.json
Due: none

desktop: use blocking dialogs in async commands
  desktop/src-tauri/src/cmd.rs
Due: none

desktop: include file extensions in default save paths
  desktop/src-tauri/src/cmd.rs
Due: none

Path conditions:
  backend-pyright: any of: backend/.*
  worker-pyright: any of: worker/.*
  backend-openapi: any of: backend/.*
  backend-tests: any of: backend/.*
  eslint: any of: \.[jt]sx?$
  openapi-typescript: any of: backend/openapi-schema.yml
  tsc: any of: frontend/.*
  format: any of: frontend/.*
  pnpm_test: any of: frontend/.*
