Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        exclude: .*/pnpm-lock.yaml$
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # python checks
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: Run ruff for python files
        entry: ruff check --config .ruff.toml --force-exclude --fix
        language: system
        'types_or': [python, pyi]
  - repo: local
    hooks:
      - id: backend-pyright
        name: Run typechecker for backend
        entry: pdm run -p backend/ pyright backend/transcribee_backend
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: worker-pyright
        name: Run typechecker for worker
        entry: pdm run -p worker/ pyright worker/transcribee_worker
        language: system
        files: worker/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-openapi
        name: update openapi-schema of the backend
        entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-tests
        name: run backend tests
        entry: pdm run -p backend/ test
        language: system
        files: backend/.*
        pass_filenames: false

  # frontend checks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: pnpm --prefix frontend/ run check:eslint
        language: system
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        pass_filenames: false
  - repo: local # openapi-schema typescript from the openapi-schema of the backend
    hooks:
      - id: openapi-typescript
        name: openapi-typescript
        entry: pnpm --prefix frontend/ run generate-openapi
        language: system
        files: backend/openapi-schema.yml
        pass_filenames: false
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm --prefix frontend/ run check:tsc
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: format
        name: format
        entry: pnpm --prefix frontend/ run format
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: pnpm_test
        name: pnpm test
        entry: pnpm --prefix frontend/ run test
        language: system
        files: frontend/.*
        pass_filenames: false

backend: lock with --dev
  backend/uv.lock
Due: backend-pyright, backend-openapi, backend-tests

desktop: add dummy test script in package.json
  desktop/package.json
Due: none

ui-common: fix check:format glob
  ui-common/package.json
Due: none

increase npm test timeout during linting
  packaging/pre-commit-projects.py
Due: none

pre-commit: factor out package-manager run checks
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  packaging/pre-commit-projects.py
  worker/uv.lock
Due: worker-pyright

ci: cache rust builds
  .github/workflows/lint.yml
Due: none

desktop: use local worker version during development
  desktop/src-tauri/build.rs
  desktop/src-tauri/src/worker_plugin.rs
  desktop/src-tauri/tauri.conf.json
Due: none

desktop: fix panic because of missing tokio runtime
  desktop/src-tauri/src/lib.rs
Due: none

Fix migration
  backend/transcribee_backend/db/migrations/versions/c9d4c04a9125_remove_align_task.py
Due: backend-pyright, backend-openapi, backend-tests

fixup
  backend/transcribee_backend/admin_cli/commands/list_documents.py
Due: backend-pyright, backend-openapi, backend-tests

backend: fix pyright errors
  .pre-commit-config.yaml
  backend/openapi-schema.yml
  backend/pyproject.toml
  backend/transcribee_backend/admin_cli/commands/list_documents.py
  backend/transcribee_backend/config.py
  backend/transcribee_backend/metrics.py
  backend/transcribee_backend/models/document.py
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/models/user.py
  backend/transcribee_backend/models/worker.py
  backend/transcribee_backend/routers/document.py
  backend/transcribee_backend/routers/task.py
  backend/transcribee_backend/routers/user.py
  backend/uv.lock
  frontend/src/openapi-schema.ts
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

proto: configure pyright
  proto/pyproject.toml
  proto/transcribee_proto/api.py
  proto/uv.lock
Due: none

bump nix flake
  flake.lock
  flake.nix
Due: none

gitignore: ignore temporary uv lock files
  .gitignore
Due: none

desktop: update @tauri-apps/plugin-log to match rust side
  desktop/package-lock.json
  desktop/package.json
Due: none

desktop: hook up basic recent documents ui
  desktop/src-tauri/src/file_handling.rs
  desktop/src/pages/home.tsx
Due: eslint

desktop: implement file handling flow
  desktop/package-lock.json
  desktop/package.json
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/capabilities/default.json
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/tar.rs
  desktop/src/pages/home.tsx
  desktop/worker-adapter/src/handlers.rs
  desktop/worker-adapter/src/worker_adapter.rs
Due: eslint

desktop: fix document order in documents_changed event
  desktop/src-tauri/src/file_handling.rs
Due: none

desktop: hook up progress reporting for running transcriptions
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/http_partial_content.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/tar.rs
  desktop/src/pages/document.tsx
  desktop/src/pages/home.tsx
  desktop/src/util/use_tauri_event.ts
  desktop/worker-adapter/Cargo.toml
  desktop/worker-adapter/src/handlers.rs
  desktop/worker-adapter/src/state.rs
  desktop/worker-adapter/src/worker_adapter.rs
Due: eslint
