Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

backend-pyright:
  name: Run typechecker for backend
  entry: pdm run -p backend/ pyright backend/transcribee_backend
  language: system
  pass_filenames: false

worker-pyright:
  name: Run typechecker for worker
  entry: pdm run -p worker/ pyright worker/transcribee_worker
  language: system
  pass_filenames: false

backend-openapi:
  name: update openapi-schema of the backend
  entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
  language: system
  pass_filenames: false

backend-tests:
  name: run backend tests
  entry: pdm run -p backend/ test
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: pnpm --prefix frontend/ run check:eslint
  language: system
  pass_filenames: false

openapi-typescript:
  name: openapi-typescript
  entry: pnpm --prefix frontend/ run generate-openapi
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: pnpm --prefix frontend/ run check:tsc
  language: system
  pass_filenames: false

format:
  name: format
  entry: pnpm --prefix frontend/ run format
  language: system
  pass_filenames: false

pnpm_test:
  name: pnpm test
  entry: pnpm --prefix frontend/ run test
  language: system
  pass_filenames: false

backend: expose pdm
  nix/pkgs/backend.nix
  nix/pkgs/worker.nix
Due: none

backend: expose pdm
  nix/pkgs/backend.nix
Due: none

pdm fix
  backend/pdm.lock
Due: backend-pyright, backend-openapi, backend-tests

pdm fix
  nix/pkgs/backend.nix
Due: none

asd
  nix/pkgs/backend.nix
Due: none

about: founded -> funded
  frontend/src/pages/about.tsx
Due: eslint, tsc, format, pnpm_test

worker: _discard_messages: fix return being missed
  worker/transcribee_worker/document.py
Due: worker-pyright

⬆️ Bump python to 3.11 and do other random stuff
  .ruff.toml
  .vscode/settings.json
  backend/.gitignore
  backend/pdm.lock
  backend/pyproject.toml
  nix/pkgs/backend.nix
  nix/pkgs/worker.nix
  proto/pyproject.toml
  shell.nix
  worker/.gitignore
  worker/pdm.lock
  worker/pyproject.toml
  worker/transcribee_worker/config.py
  worker/transcribee_worker/icu/__init__.pyi
  worker/transcribee_worker/worker.py
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests

Fix proto deps
  proto/pyproject.toml
Due: none

worker: Switch to uv and make nix derivation pure
  nix/pkgs/worker.nix
  worker/.gitignore
  worker/pdm.lock
  worker/pyproject.toml
  worker/uv.lock
Due: worker-pyright

dev.sh: fix vite clearing screen
  packaging/Procfile
Due: none

Cleanup .gitignores
  .gitignore
  backend/.gitignore
  worker/.gitignore
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests

add fixes for library search path
  flake.nix
Due: none

Fix vscode settings
  .vscode/settings.json
Due: none

github workflow: use npm
  .github/workflows/build.yml
  flake.nix
Due: none

fix Procfile
  packaging/Procfile
Due: none

backend: Switch to uv and make nix derivation pure
  backend/.gitignore
  backend/__pypackages__/.gitignore
  backend/pdm.lock
  backend/pyproject.toml
  backend/uv.lock
  nix/pkgs/backend.nix
Due: backend-pyright, backend-openapi, backend-tests

scripts: make executable and add shebang
  backend/scripts/create_api_token.py
  backend/scripts/create_user.py
  backend/scripts/create_user_token.py
  backend/scripts/create_worker.py
  backend/scripts/generate_openapi.py
  backend/scripts/reset_task.py
  backend/scripts/set_password.py
Due: backend-pyright, backend-openapi, backend-tests

frontend: Switch to npm and make nix derivation pure
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/logo.svg
  frontend/src/pages/about.tsx
  frontend/vite.config.js
  nix/pkgs/frontend.nix
  shell.nix
Due: eslint, tsc, format, pnpm_test

update worker gitignore
  worker/.gitignore
Due: worker-pyright

use newer uv to make torch-cpu work
  flake.lock
  flake.nix
  worker/pyproject.toml
  worker/uv.lock
Due: worker-pyright

lock sqlalchemy to previously used version
  backend/openapi-schema.yml
  backend/pyproject.toml
  backend/transcribee_backend/models/task.py
  backend/uv.lock
Due: backend-pyright, backend-openapi, backend-tests, openapi-typescript

Update READMEs to uv
  backend/README.md
  worker/README.md
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests

fix container build
  .dockerignore
  packaging/Dockerfile
Due: none

backend: packaging
  backend/pyproject.toml
  backend/uv.lock
Due: backend-pyright, backend-openapi, backend-tests

Update dev.sh to uv and npm
  packaging/Procfile
  packaging/install_dependencies.sh
  packaging/setup_backend.sh
  packaging/start_backend.sh
Due: none

install locale data
  flake.nix
  packaging/Procfile
Due: none

fix pre-commit config
  .pre-commit-config.yaml
  backend/pyproject.toml
  packaging/install_dependencies.sh
  worker/pyproject.toml
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests

Fix prototype fund logo in frontend
  frontend/public/pf_funding_logos.svg
  frontend/src/pages/about.tsx
Due: eslint, tsc, format, pnpm_test

switch to nix flake
  .envrc
  flake.lock
  flake.nix
Due: none

move assets out of public directory
  frontend/assets/logo.svg
  frontend/assets/pf_funding_logos.svg
  frontend/src/pages/about.tsx
  frontend/vite.config.js
Due: eslint, tsc, format, pnpm_test

build frontend without fixed output derivation
  flake.nix
  nix/pkgs/backend.nix
  nix/pkgs/frontend.nix
  nix/pkgs/worker.nix
Due: none

remove unused service nix file
  nix/services/worker.nix
Due: none

worker: switch to uv
  worker/__pypackages__/.gitignore
  worker/pyproject.toml
  worker/transcribee_worker/run.py
  worker/uv.lock
Due: worker-pyright

remove __pypackages__ from dockerignore
  .dockerignore
Due: none

proto: use uv / setuptools
  proto/.gitignore
  proto/pyproject.toml
  proto/uv.lock
  worker/.gitignore
Due: worker-pyright

Format code
  backend/transcribee_backend/models/task.py
Due: backend-pyright, backend-openapi, backend-tests

Path conditions:
  backend-pyright: any of: backend/.*
  worker-pyright: any of: worker/.*
  backend-openapi: any of: backend/.*
  backend-tests: any of: backend/.*
  eslint: any of: \.[jt]sx?$
  openapi-typescript: any of: backend/openapi-schema.yml
  tsc: any of: frontend/.*
  format: any of: frontend/.*
  pnpm_test: any of: frontend/.*
