Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        exclude: .*/pnpm-lock.yaml$
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # python checks
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: Run ruff for python files
        entry: ruff check --config .ruff.toml --force-exclude --fix
        language: system
        'types_or': [python, pyi]
  - repo: local
    hooks:
      - id: backend-pyright
        name: Run typechecker for backend
        entry: pdm run -p backend/ pyright backend/transcribee_backend
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: worker-pyright
        name: Run typechecker for worker
        entry: pdm run -p worker/ pyright worker/transcribee_worker
        language: system
        files: worker/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-openapi
        name: update openapi-schema of the backend
        entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-tests
        name: run backend tests
        entry: pdm run -p backend/ test
        language: system
        files: backend/.*
        pass_filenames: false

  # frontend checks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: pnpm --prefix frontend/ run check:eslint
        language: system
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        pass_filenames: false
  - repo: local # openapi-schema typescript from the openapi-schema of the backend
    hooks:
      - id: openapi-typescript
        name: openapi-typescript
        entry: pnpm --prefix frontend/ run generate-openapi
        language: system
        files: backend/openapi-schema.yml
        pass_filenames: false
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm --prefix frontend/ run check:tsc
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: format
        name: format
        entry: pnpm --prefix frontend/ run format
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: pnpm_test
        name: pnpm test
        entry: pnpm --prefix frontend/ run test
        language: system
        files: frontend/.*
        pass_filenames: false

🤕 bump broken decent-whisper version
  worker/pyproject.toml
  worker/uv.lock
Due: worker-pyright

Fix random reloading when using share tokens
  frontend/src/utils/auth.ts
Due: eslint, tsc, format, pnpm_test

🐣 plumb through task type limiting on worker cli
  worker/transcribee_worker/run.py
Due: worker-pyright

bump decent_whisper (for threads env var)
  worker/pyproject.toml
  worker/uv.lock
Due: worker-pyright

improved webvtt worker export
  worker/transcribee_worker/webvtt/export_webvtt.py
Due: worker-pyright

worker: allow broken utf-8 in ffmpeg output
  worker/transcribee_worker/reencode.py
Due: worker-pyright

only set speakers in speaker identification if unset
  worker/transcribee_worker/identify_speakers.py
Due: worker-pyright

export fixes
  worker/transcribee_worker/webvtt/export_webvtt.py
Due: worker-pyright

🐛 Fix double spaces in webvtt export
  worker/transcribee_worker/webvtt/export_webvtt.py
Due: worker-pyright

worker: ignore partial loads
  worker/pyproject.toml
  worker/transcribee_worker/document.py
  worker/uv.lock
Due: worker-pyright

🐣 add tools for reflowing the transcript
  frontend/src/editor/automerge_websocket_editor.ts
  frontend/src/editor/text_tools.tsx
  frontend/src/pages/document.tsx
Due: eslint, tsc, format, pnpm_test

✨ add smart reflow
  frontend/src/editor/text_tools.tsx
Due: eslint, tsc, format, pnpm_test

worker: Fix missing speaker names in vtt export
  worker/transcribee_worker/webvtt/export_webvtt.py
Due: worker-pyright

worker: Fix missing spaces in vtt export
  worker/transcribee_worker/webvtt/export_webvtt.py
Due: worker-pyright

admin: add list_documents script
  backend/transcribee_backend/admin_cli/__init__.py
  backend/transcribee_backend/admin_cli/commands/list_documents.py
Due: backend-pyright, backend-openapi, backend-tests

social: add generative AI use policy
  CONTRIBUTING.md
Due: none

🖨️ add typst export
  frontend/src/editor/export/index.tsx
  frontend/src/editor/export/typst.tsx
Due: eslint, tsc, format, pnpm_test

update nixpkgs & python to 3.12
  .ruff.toml
  backend/pyproject.toml
  backend/uv.lock
  flake.lock
  flake.nix
  nix/pkgs/backend.nix
  nix/pkgs/worker.nix
  packaging/install_dependencies.sh
  proto/pyproject.toml
  proto/uv.lock
  worker/pyproject.toml
  worker/uv.lock
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests

Ignore __pycache__
  desktop/.gitignore
Due: none

Format native-deps.json
  desktop/src-tauri/native-deps.json
Due: none

Update nodejs to version 24
  flake.nix
Due: none

add icons to transcribee-desktop
  desktop/README.md
  desktop/src-tauri/icons/128x128.png
  desktop/src-tauri/icons/128x128@2x.png
  desktop/src-tauri/icons/32x32.png
  desktop/src-tauri/icons/64x64.png
  desktop/src-tauri/icons/Square107x107Logo.png
  desktop/src-tauri/icons/Square142x142Logo.png
  desktop/src-tauri/icons/Square150x150Logo.png
  desktop/src-tauri/icons/Square284x284Logo.png
  desktop/src-tauri/icons/Square30x30Logo.png
  desktop/src-tauri/icons/Square310x310Logo.png
  desktop/src-tauri/icons/Square44x44Logo.png
  desktop/src-tauri/icons/Square71x71Logo.png
  desktop/src-tauri/icons/Square89x89Logo.png
  desktop/src-tauri/icons/StoreLogo.png
  desktop/src-tauri/icons/generate_icons.sh
  desktop/src-tauri/icons/icon.icns
  desktop/src-tauri/icons/icon.ico
  desktop/src-tauri/icons/icon.png
  desktop/src-tauri/icons/icon.svg
Due: none

add initial standalone worker packaging
  .github/workflows/build_worker.yml
  .github/workflows/test_build.yml
  worker/.gitignore
  worker/build_worker_bundle.py
  worker/native-deps.json
  worker/pyproject.toml
  worker/run_worker.sh
  worker/transcribee_worker/api_client.py
  worker/transcribee_worker/document.py
  worker/uv.lock
Due: worker-pyright

include the worker bundles in tauri app
  desktop/src-tauri/.gitignore
  desktop/src-tauri/download_native_deps.py
  desktop/src-tauri/native-deps.json
  desktop/src-tauri/prepare_resources.py
  desktop/src-tauri/prepare_worker.py
  desktop/src-tauri/tauri.conf.json
Due: none
