Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

backend-pyright:
  name: Run typechecker for backend
  entry: pdm run -p backend/ pyright backend/transcribee_backend
  language: system
  pass_filenames: false

worker-pyright:
  name: Run typechecker for worker
  entry: pdm run -p worker/ pyright worker/transcribee_worker
  language: system
  pass_filenames: false

backend-openapi:
  name: update openapi-schema of the backend
  entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
  language: system
  pass_filenames: false

backend-tests:
  name: run backend tests
  entry: pdm run -p backend/ test
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: pnpm --prefix frontend/ run check:eslint
  language: system
  pass_filenames: false

openapi-typescript:
  name: openapi-typescript
  entry: pnpm --prefix frontend/ run generate-openapi
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: pnpm --prefix frontend/ run check:tsc
  language: system
  pass_filenames: false

format:
  name: format
  entry: pnpm --prefix frontend/ run format
  language: system
  pass_filenames: false

pnpm_test:
  name: pnpm test
  entry: pnpm --prefix frontend/ run test
  language: system
  pass_filenames: false

Optimize light theme for player
  frontend/src/editor/player.tsx
Due: eslint, tsc, format, pnpm_test

Add time marker to player
  frontend/src/editor/player.tsx
  frontend/src/utils/use_audio.ts
Due: eslint, tsc, format, pnpm_test

Implement player seek bar
  frontend/src/editor/player.tsx
Due: eslint, tsc, format, pnpm_test

Fix swapping audio source in player
  frontend/src/utils/use_audio.ts
Due: eslint, tsc, format, pnpm_test

Tweek media chunk size and improve comments
  backend/transcribee_backend/media_storage.py
Due: backend-pyright, backend-openapi, backend-tests

Serve media as chunks
  backend/transcribee_backend/media_storage.py
Due: backend-pyright, backend-openapi, backend-tests

Add speaker colors to seek bar
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/loading_spinner.tsx
  frontend/src/editor/player.tsx
  frontend/src/editor/speaker_colors.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/pages/document.tsx
  frontend/src/utils/use_audio.ts
Due: eslint, tsc, format, pnpm_test

Fix stuttering audio playback
  frontend/src/editor/player.tsx
  frontend/src/utils/duration_in_ms.ts
Due: eslint, tsc, format, pnpm_test

Update to bugbakery github repos
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: tsc, format, pnpm_test

Use html5-audio-driver as audio player
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/editor/player.tsx
Due: eslint, tsc, format, pnpm_test

Fix loading media files in docker setup deployment
  .dockerignore
  frontend/vite.config.js
  packaging/Dockerfile
Due: eslint, tsc, format, pnpm_test

√ Move shell.nix to project root
  .envrc
  .vscode/settings.json
  doc/development_setup.md
  packaging/Dockerfile
  shell.nix
Due: none

⚡️ Add performant layouts for small devices
  frontend/src/editor/speaker_dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
Due: eslint, tsc, format, pnpm_test

🗑️ Remove useless measuring on dropdown
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/dropdown.tsx
Due: eslint, tsc, format, pnpm_test

⚡ Improve editor performance by replacing grid
  frontend/src/editor/transcription_editor.tsx
Due: eslint, tsc, format, pnpm_test

📋 Prevent copying editor decorations
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/index.css
  frontend/src/utils/copy_text.ts
Due: eslint, tsc, format, pnpm_test

🎯 backend: allow specifying speaker number
  backend/openapi-schema.yml
  backend/pdm.lock
  backend/pyproject.toml
  backend/transcribee_backend/routers/document.py
  frontend/src/openapi-schema.ts
  proto/transcribee_proto/api.py
  worker/pdm.lock
  worker/pyproject.toml
  worker/transcribee_worker/identify_speakers.py
  worker/transcribee_worker/worker.py
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

🎯 frontend: allow specifying speaker number
  frontend/src/components/form.tsx
  frontend/src/pages/new_document.tsx
Due: eslint, tsc, format, pnpm_test

🐞 fix worker progress_callback types
  worker/transcribee_worker/worker.py
Due: worker-pyright

💚 Flush dependency cache if proto changes
  .github/workflows/lint.yml
Due: none

🚸 Make automatic speaker names 1-indexed
  worker/transcribee_worker/identify_speakers.py
Due: worker-pyright

✨ Allow document sharing
  backend/openapi-schema.yml
  backend/tests/test_doc.py
  backend/transcribee_backend/auth.py
  backend/transcribee_backend/db/migrations/versions/d679c226343d_add_documentsharetoken.py
  backend/transcribee_backend/helpers/sync.py
  backend/transcribee_backend/models/__init__.py
  backend/transcribee_backend/models/document.py
  backend/transcribee_backend/routers/document.py
  frontend/src/api.ts
  frontend/src/api/document.ts
  frontend/src/app.tsx
  frontend/src/common/top_bar.tsx
  frontend/src/components/dialog.tsx
  frontend/src/components/modal.tsx
  frontend/src/editor/player.tsx
  frontend/src/editor/share.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/openapi-schema.ts
  frontend/src/pages/document.tsx
  frontend/src/pages/loading.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/new_document.tsx
  frontend/src/utils/auth.ts
  frontend/tailwind.config.js
  proto/transcribee_proto/api.py
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

🐛 Only show editable document title if full access
  frontend/src/pages/document.tsx
Due: eslint, tsc, format, pnpm_test

🐛 Fix 500 when renaming document
  backend/transcribee_backend/routers/document.py
Due: backend-pyright, backend-openapi, backend-tests

💄 Use tabular-nums for timestamps
  frontend/src/editor/transcription_editor.tsx
Due: eslint, tsc, format, pnpm_test

🚑️ Add hotfix for websocket blocking the server
  backend/pyproject.toml
  backend/transcribee_backend/helpers/sync.py
Due: backend-pyright, backend-openapi, backend-tests

♻️ Reflect change of github orga name to bugbakery
  CONTRIBUTING.md
  frontend/src/common/version.tsx
  frontend/src/utils/export/webvtt.ts
Due: eslint, tsc, format, pnpm_test

⚡️ Resume transcription tasks
  worker/transcribee_worker/whisper_transcribe.py
  worker/transcribee_worker/worker.py
Due: worker-pyright

Path conditions:
  backend-pyright: any of: backend/.*
  worker-pyright: any of: worker/.*
  backend-openapi: any of: backend/.*
  backend-tests: any of: backend/.*
  eslint: any of: \.[jt]sx?$
  openapi-typescript: any of: backend/openapi-schema.yml
  tsc: any of: frontend/.*
  format: any of: frontend/.*
  pnpm_test: any of: frontend/.*
