Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        exclude: .*/pnpm-lock.yaml$
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # python checks
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: Run ruff for python files
        entry: ruff check --config .ruff.toml --force-exclude --fix
        language: system
        'types_or': [python, pyi]
  - repo: local
    hooks:
      - id: backend-pyright
        name: Run typechecker for backend
        entry: pdm run -p backend/ pyright backend/transcribee_backend
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: worker-pyright
        name: Run typechecker for worker
        entry: pdm run -p worker/ pyright worker/transcribee_worker
        language: system
        files: worker/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-openapi
        name: update openapi-schema of the backend
        entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-tests
        name: run backend tests
        entry: pdm run -p backend/ test
        language: system
        files: backend/.*
        pass_filenames: false

  # frontend checks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: pnpm --prefix frontend/ run check:eslint
        language: system
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        pass_filenames: false
  - repo: local # openapi-schema typescript from the openapi-schema of the backend
    hooks:
      - id: openapi-typescript
        name: openapi-typescript
        entry: pnpm --prefix frontend/ run generate-openapi
        language: system
        files: backend/openapi-schema.yml
        pass_filenames: false
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm --prefix frontend/ run check:tsc
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: format
        name: format
        entry: pnpm --prefix frontend/ run format
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: pnpm_test
        name: pnpm test
        entry: pnpm --prefix frontend/ run test
        language: system
        files: frontend/.*
        pass_filenames: false

optimize initial document load
  frontend/src/editor/automerge_websocket_editor.ts
  frontend/src/editor/transcription_editor.tsx
  frontend/src/pages/document.tsx
Due: eslint, tsc, format, pnpm_test

use proper Content-Type for favicon
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/vite.config.js
Due: eslint, tsc, format, pnpm_test

loading bee
  frontend/src/components/loading_spinner.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/pages/document.tsx
  frontend/tailwind.config.js
Due: eslint, tsc, format, pnpm_test

Fix speaker color div 🐝ing content editable
  frontend/src/editor/transcription_editor.tsx
Due: eslint, tsc, format, pnpm_test

fixup
  frontend/src/components/loading_spinner.tsx
  frontend/src/editor/automerge_websocket_editor.ts
  frontend/src/editor/transcription_editor.tsx
  frontend/src/pages/document.tsx
Due: eslint, tsc, format, pnpm_test

Only send changes we did not send yet.
  frontend/src/editor/automerge_websocket_editor.ts
Due: eslint, tsc, format, pnpm_test

Add basic undo functionality
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/editor/automerge_websocket_editor.ts
  frontend/src/editor/slate_types.d.ts
Due: eslint, tsc, format, pnpm_test

fix loosing cursor position on new paragraph
  frontend/src/editor/transcription_editor.tsx
Due: eslint, tsc, format, pnpm_test

more performance improvements
  frontend/src/editor/transcription_editor.tsx
Due: eslint, tsc, format, pnpm_test

🐝 Add flight trail to loading bee
  frontend/src/components/button.tsx
  frontend/src/components/loading_spinner/loading_bee.svg
  frontend/src/components/loading_spinner/loading_bee.tsx
  frontend/src/components/loading_spinner/loading_spinner.tsx
  frontend/src/editor/player.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/types/svg.d.ts
Due: eslint, tsc, format, pnpm_test

✨ Add pages in footer & about page
  backend/.gitignore
  backend/data/pages/.gitkeep
  backend/openapi-schema.yml
  backend/pdm.lock
  backend/pyproject.toml
  backend/transcribee_backend/config.py
  backend/transcribee_backend/main.py
  backend/transcribee_backend/routers/page.py
  doc/development_setup.md
  frontend/.gitignore
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/.gitkeep
  frontend/scripts/generate_licenses.mjs
  frontend/src/api.ts
  frontend/src/api/pages.ts
  frontend/src/app.tsx
  frontend/src/common/footer.tsx
  frontend/src/common/version.tsx
  frontend/src/common/virtual:git-version.d.ts
  frontend/src/components/app.tsx
  frontend/src/openapi-schema.ts
  frontend/src/pages/about.tsx
  frontend/src/pages/page.tsx
  frontend/tailwind.config.js
  frontend/vite.config.js
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

Add debian+nix dev container
  .devcontainer/devcontainer.json
Due: none

Add /.pnpm-store to gitignore
  .gitignore
Due: none

Update dev container setup
  .devcontainer/Dockerfile
  .devcontainer/compose.yml
  .devcontainer/devcontainer.json
  doc/development_setup.md
Due: none

🐛 Specify build context for devcontainer
  .devcontainer/compose.yml
Due: none

💄 Make loading spinner respect dark mode
  frontend/src/editor/transcription_editor.tsx
Due: eslint, tsc, format, pnpm_test

💄 Render loading spinner in front of player
  frontend/src/editor/transcription_editor.tsx
Due: eslint, tsc, format, pnpm_test

♻️ Rework auth in router
  frontend/src/app.tsx
Due: eslint, tsc, format, pnpm_test

✨ Don't recombine paragraphs which only contain non-word text
  worker/tests/data/test_strict_sentence_paragraphs-protected_paragraphs.json
  worker/transcribee_worker/whisper_transcribe.py
Due: worker-pyright

🐛 Fix document import for documents with >1000 changes
  backend/openapi-schema.yml
  backend/transcribee_backend/routers/document.py
  frontend/src/editor/automerge_websocket_editor.ts
  frontend/src/openapi-schema.ts
  frontend/src/pages/document.tsx
  frontend/src/pages/new_document.tsx
  frontend/src/utils/auth.ts
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test
