Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        exclude: .*/pnpm-lock.yaml$
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # python checks
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: Run ruff for python files
        entry: ruff check --config .ruff.toml --force-exclude --fix
        language: system
        'types_or': [python, pyi]
  - repo: local
    hooks:
      - id: backend-pyright
        name: Run typechecker for backend
        entry: pdm run -p backend/ pyright backend/transcribee_backend
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: worker-pyright
        name: Run typechecker for worker
        entry: pdm run -p worker/ pyright worker/transcribee_worker
        language: system
        files: worker/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-openapi
        name: update openapi-schema of the backend
        entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-tests
        name: run backend tests
        entry: pdm run -p backend/ test
        language: system
        files: backend/.*
        pass_filenames: false

  # frontend checks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: pnpm --prefix frontend/ run check:eslint
        language: system
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        pass_filenames: false
  - repo: local # openapi-schema typescript from the openapi-schema of the backend
    hooks:
      - id: openapi-typescript
        name: openapi-typescript
        entry: pnpm --prefix frontend/ run generate-openapi
        language: system
        files: backend/openapi-schema.yml
        pass_filenames: false
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm --prefix frontend/ run check:tsc
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: format
        name: format
        entry: pnpm --prefix frontend/ run format
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: pnpm_test
        name: pnpm test
        entry: pnpm --prefix frontend/ run test
        language: system
        files: frontend/.*
        pass_filenames: false

🔧 Fix unpacking None value in alignment
  worker/transcribee_worker/torchaudio_align.py
Due: worker-pyright

💄 Move new document button to the top
  frontend/src/pages/user_home.tsx
Due: eslint, tsc, format, pnpm_test

🐛 Fix document import for documents with >1000 changes
  backend/openapi-schema.yml
  backend/transcribee_backend/routers/document.py
  frontend/src/editor/automerge_websocket_editor.ts
  frontend/src/openapi-schema.ts
  frontend/src/pages/document.tsx
  frontend/src/pages/new_document.tsx
  frontend/src/utils/auth.ts
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

backend: add logged_out_redirect_url config
  backend/openapi-schema.yml
  backend/transcribee_backend/config.py
  frontend/src/openapi-schema.ts
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

frontend: implement logged out redirect
  frontend/src/app.tsx
Due: eslint, tsc, format, pnpm_test

🐛 Fix crash if document is opened too soon after creation
  frontend/src/editor/automerge_websocket_editor.ts
Due: eslint, tsc, format, pnpm_test

✨ Add report bug link to footer
  frontend/src/common/footer.tsx
Due: eslint, tsc, format, pnpm_test

🧱 Use postgres as db
  backend/.gitignore
  backend/pdm.lock
  backend/pyproject.toml
  backend/transcribee_backend/db/__init__.py
  backend/transcribee_backend/db/migrations/versions/6392770332cd_add_taskattempt.py
  packaging/Procfile
  packaging/dev.sh
  packaging/setup_backend.sh
  packaging/start_backend.sh
  packaging/start_db.sh
  shell.nix
Due: backend-pyright, backend-openapi, backend-tests

🐛 Sort tasks by dependencies
  frontend/src/editor/worker_status.tsx
Due: eslint, tsc, format, pnpm_test

✨ Add plaintext export
  frontend/src/editor/export/index.tsx
  frontend/src/editor/export/plaintext.tsx
  frontend/src/utils/export/plaintext.ts
Due: eslint, tsc, format, pnpm_test

⬆️ Upgrade frontend deps
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: tsc, format, pnpm_test

🚨 Fix typescript issues after frontend dependency updates
  backend/openapi-schema.yml
  backend/transcribee_backend/routers/document.py
  backend/transcribee_backend/routers/user.py
  frontend/src/api.ts
  frontend/src/app.tsx
  frontend/src/editor/share.tsx
  frontend/src/editor/worker_status.tsx
  frontend/src/openapi-schema.ts
  frontend/src/pages/new_document.tsx
  frontend/src/pages/user_home.tsx
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

🐛 Fix crash in speaker identification if segment starts less than 0.1s before audio end
  worker/transcribee_worker/identify_speakers.py
Due: worker-pyright

➖ Use psycopg2 instead of psycopg2-binary
  backend/pdm.lock
  backend/pyproject.toml
  shell.nix
Due: backend-pyright, backend-openapi, backend-tests

🐛 Calling setup_backend.sh was moved to start_backend.sh as it needs the database
  packaging/Dockerfile
Due: none

✨ Add api to create workers
  backend/openapi-schema.yml
  backend/pyproject.toml
  backend/scripts/create_api_token.py
  backend/transcribee_backend/auth.py
  backend/transcribee_backend/db/migrations/versions/937846561faf_add_apitoken.py
  backend/transcribee_backend/main.py
  backend/transcribee_backend/models/__init__.py
  backend/transcribee_backend/models/api.py
  backend/transcribee_backend/routers/worker.py
  frontend/src/openapi-schema.ts
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

✨ Add endpoint to list workers
  backend/openapi-schema.yml
  backend/transcribee_backend/routers/worker.py
  frontend/src/openapi-schema.ts
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

✨ Add api to deactivate workers
  backend/openapi-schema.yml
  backend/transcribee_backend/auth.py
  backend/transcribee_backend/db/migrations/versions/417eece003cb_add_worker_deactivated_at_flag.py
  backend/transcribee_backend/models/worker.py
  backend/transcribee_backend/routers/worker.py
  frontend/src/openapi-schema.ts
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

⚡️ Increase performance of list_documents by eager loading
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/routers/document.py
Due: backend-pyright, backend-openapi, backend-tests

⚡️ Reduce number of sql queries in task api
  backend/openapi-schema.yml
  backend/transcribee_backend/auth.py
  backend/transcribee_backend/routers/document.py
  backend/transcribee_backend/routers/task.py
  backend/transcribee_backend/routers/user.py
  frontend/src/openapi-schema.ts
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

✨ Add metrics endpoint
  backend/pdm.lock
  backend/pyproject.toml
  backend/transcribee_backend/main.py
Due: backend-pyright, backend-openapi, backend-tests
