Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        exclude: .*/pnpm-lock.yaml$
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # python checks
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: Run ruff for python files
        entry: ruff check --config .ruff.toml --force-exclude --fix
        language: system
        'types_or': [python, pyi]
  - repo: local
    hooks:
      - id: backend-pyright
        name: Run typechecker for backend
        entry: pdm run -p backend/ pyright backend/transcribee_backend
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: worker-pyright
        name: Run typechecker for worker
        entry: pdm run -p worker/ pyright worker/transcribee_worker
        language: system
        files: worker/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-openapi
        name: update openapi-schema of the backend
        entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-tests
        name: run backend tests
        entry: pdm run -p backend/ test
        language: system
        files: backend/.*
        pass_filenames: false

  # frontend checks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: pnpm --prefix frontend/ run check:eslint
        language: system
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        pass_filenames: false
  - repo: local # openapi-schema typescript from the openapi-schema of the backend
    hooks:
      - id: openapi-typescript
        name: openapi-typescript
        entry: pnpm --prefix frontend/ run generate-openapi
        language: system
        files: backend/openapi-schema.yml
        pass_filenames: false
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm --prefix frontend/ run check:tsc
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: format
        name: format
        entry: pnpm --prefix frontend/ run format
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: pnpm_test
        name: pnpm test
        entry: pnpm --prefix frontend/ run test
        language: system
        files: frontend/.*
        pass_filenames: false

🐛 Fix reencode of videos with multiple audio streams
  worker/transcribee_worker/reencode.py
Due: worker-pyright

🐛 Reencode: capture stderr & check return code
  worker/transcribee_worker/reencode.py
Due: worker-pyright

🐛 Fix and simplify reencode progress reporting
  worker/transcribee_worker/reencode.py
Due: worker-pyright

Fix worker service
  nix/services/worker.nix
Due: none

Worker no rec
  nix/pkgs/worker.nix
Due: none

remove options
  nix/services/worker.nix
Due: none

rm worker
  nix/services/worker.nix
Due: none

sdasdasdasdasd
  nix/services/worker.nix
Due: none

✨ Add script for creating user tokens
  backend/scripts/create_user_token.py
  backend/tests/conftest.py
  backend/transcribee_backend/auth.py
  backend/transcribee_backend/routers/user.py
Due: backend-pyright, backend-openapi, backend-tests

Whisper: Make quantization configurable and switch to int8 by default
  worker/transcribee_worker/config.py
  worker/transcribee_worker/whisper_transcribe.py
Due: worker-pyright

🐛 Fix cacerts for frontend derivation
  nix/pkgs/frontend.nix
Due: none

🐛 Fix permission issues in frontend derivation
  frontend/pnpm-lock.yaml
  nix/pkgs/frontend.nix
Due: tsc, format, pnpm_test

🐛 Fix saving in create_user_token script
  backend/scripts/create_user_token.py
Due: backend-pyright, backend-openapi, backend-tests

worker: kill keepalive task on exceptions
  worker/transcribee_worker/worker.py
Due: worker-pyright

🐛 worker: Remove invalid usage of asyncio.wait with python 3.11
  worker/transcribee_worker/document.py
Due: worker-pyright

🐛 Increase sql connection pool size
  backend/transcribee_backend/db/__init__.py
Due: backend-pyright, backend-openapi, backend-tests

add endpoint to generate webvtt export
  backend/openapi-schema.yml
  backend/pdm.lock
  backend/pyproject.toml
  backend/transcribee_backend/config.py
  backend/transcribee_backend/db/__init__.py
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/routers/document.py
  backend/transcribee_backend/util/redis_task_channel.py
  frontend/src/openapi-schema.ts
  packaging/Procfile
  proto/transcribee_proto/api.py
  shell.nix
  worker/transcribee_worker/webvtt/export_webvtt.py
  worker/transcribee_worker/webvtt/webvtt_writer.py
  worker/transcribee_worker/worker.py
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

🐛 Fix exporting webvtt with zero length tokens
  frontend/src/utils/export/webvtt.ts
Due: eslint, tsc, format, pnpm_test

speaker indentification: use spectral clustering
  worker/pdm.lock
  worker/pyproject.toml
  worker/transcribee_worker/identify_speakers.py
Due: worker-pyright

backend: allow reset_task script to reset tasks with any state
  backend/scripts/reset_task.py
  backend/transcribee_backend/models/task.py
Due: backend-pyright, backend-openapi, backend-tests

worker: add generate_speaker_clusters.py
  worker/generate_speaker_clusters.py
  worker/transcribee_worker/identify_speakers.py
Due: worker-pyright

🧑‍💻 dev.sh: Wait for postgres before starting backend
  .github/workflows/lint.yml
  packaging/setup_backend.sh
  shell.nix
Due: none

👷 CI: Do not run external actions in nix-shell
  .github/workflows/lint.yml
Due: none

🧑‍💻 Move redis database file to db folder
  packaging/Procfile
Due: none
