Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

backend-pyright:
  name: Run typechecker for backend
  entry: pdm run -p backend/ pyright backend/transcribee_backend
  language: system
  pass_filenames: false

worker-pyright:
  name: Run typechecker for worker
  entry: pdm run -p worker/ pyright worker/transcribee_worker
  language: system
  pass_filenames: false

backend-openapi:
  name: update openapi-schema of the backend
  entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
  language: system
  pass_filenames: false

backend-tests:
  name: run backend tests
  entry: pdm run -p backend/ test
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: pnpm --prefix frontend/ run check:eslint
  language: system
  pass_filenames: false

openapi-typescript:
  name: openapi-typescript
  entry: pnpm --prefix frontend/ run generate-openapi
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: pnpm --prefix frontend/ run check:tsc
  language: system
  pass_filenames: false

format:
  name: format
  entry: pnpm --prefix frontend/ run format
  language: system
  pass_filenames: false

pnpm_test:
  name: pnpm test
  entry: pnpm --prefix frontend/ run test
  language: system
  pass_filenames: false

worker: improve progress reporting
  desktop/src-tauri/Cargo.lock
  desktop/worker-adapter/Cargo.lock
  desktop/worker-adapter/Cargo.toml
  desktop/worker-adapter/src/state.rs
  worker/transcribee_worker/whisper_transcribe.py
  worker/transcribee_worker/worker.py
Due: worker-pyright

web,desktop: factor out progress indication into common code
  desktop/src/pages/home.tsx
  frontend/src/components/worker_status.tsx
  frontend/src/pages/document.tsx
  frontend/src/pages/user_home.tsx
  ui-common/components/transcription_progress.tsx
Due: eslint, tsc, format, pnpm_test

Build desktop windows releases
  .github/workflows/release.yml
Due: none

Fix prepare_worker.py on windows
  desktop/src-tauri/prepare_worker.py
Due: none

desktop: add transcription in progress banner
  desktop/src/pages/document.tsx
  ui-common/components/tooltip.tsx
  ui-common/components/transcription_progress.tsx
Due: eslint

desktop/worker_adapter: make task queue order deterministic
  desktop/src-tauri/src/worker_plugin.rs
  desktop/worker-adapter/src/state.rs
Due: none

web: also use document not finished banner
  frontend/src/pages/document.tsx
  ui-common/components/transcription_progress.tsx
Due: eslint, tsc, format, pnpm_test

add queue indication in DocumentNotFinishedBanner
  ui-common/components/transcription_progress.tsx
Due: eslint

desktop: add padding at the end of the document
  desktop/src/pages/document.tsx
Due: eslint

editor: allow loading to finish even if the document is empty
  ui-common/editor/transcription_editor.tsx
Due: eslint

desktop: fix media files reloading on progress
  desktop/src/pages/document.tsx
  desktop/src/pages/home.tsx
  desktop/src/util/use_tauri_event.ts
Due: eslint

editor: dont seek on alt+click
  ui-common/editor/transcription_editor.tsx
Due: eslint

[wip] player: shortcut for slow repeat
  ui-common/editor/player.tsx
Due: eslint

desktop: fix startup crash
  desktop/src-tauri/src/lib.rs
Due: none

ci: fix cargo clippy lint
  packaging/pre-commit-projects.py
Due: none

desktop: fix clippy lints
  desktop/src-tauri/src/cmd.rs
  desktop/worker-adapter/src/state.rs
  desktop/worker-adapter/src/worker_adapter.rs
Due: none

nix: add env vars required to run on linux
  flake.nix
Due: none

desktop: close main window after opening document
  desktop/src-tauri/src/cmd.rs
Due: none

Switch to nixpkgs stable
  flake.lock
  flake.nix
Due: none

Download bundled python via uv and fix installation on windows
  worker/packaging/build_worker_bundle.py
  worker/packaging/native_deps.json
  worker/packaging/run_worker.bat.tmpl
  worker/packaging/run_worker.sh.tmpl
Due: worker-pyright

Prevent uv from caching worker too agressively
  worker/pyproject.toml
Due: worker-pyright

Remove native deps functionality from worker bundle
  .dockerignore
  worker/.gitignore
  worker/packaging/build_worker_bundle.py
  worker/packaging/native_deps.json
Due: worker-pyright

desktop: add progress indicator for model downloads
  desktop/src/pages/home.tsx
  ui-common/components/transcription_progress.tsx
Due: eslint

Path conditions:
  backend-pyright: any of: backend/.*
  worker-pyright: any of: worker/.*
  backend-openapi: any of: backend/.*
  backend-tests: any of: backend/.*
  eslint: any of: \.[jt]sx?$
  openapi-typescript: any of: backend/openapi-schema.yml
  tsc: any of: frontend/.*
  format: any of: frontend/.*
  pnpm_test: any of: frontend/.*
