Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-openapi, openapi-typescript, tsc, format, pnpm_test

django-openapi:
  name: django-openapi
  entry: pdm run -p backend/ manage generateschema --file openapi-schema.yml
  language: python
  pass_filenames: false

openapi-typescript:
  name: openapi-typescript
  entry: pnpm --prefix frontend/ run generate-openapi
  language: node
  pass_filenames: false

tsc:
  name: tsc
  entry: pnpm --prefix frontend/ run check:tsc
  language: node
  pass_filenames: false

format:
  name: format
  entry: pnpm --prefix frontend/ run check:format
  language: node
  pass_filenames: false

pnpm_test:
  name: pnpm test
  entry: pnpm --prefix frontend/ run test:fast
  language: node
  pass_filenames: false

🐬 use ffmpeg to load audio in worker
  packaging/shell.nix
  worker/pdm.lock
  worker/pyproject.toml
  worker/transcribee_worker/util.py
  worker/transcribee_worker/worker.py
Due: none

🙈 raise_for_status in worker while getting media
  worker/transcribee_worker/worker.py
Due: none

🐬 a different approach to speaker identification
  README.md
  backend/openapi-schema.yml
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/routers/document.py
  doc/task_protocol.md
  frontend/src/openapi-schema.ts
  proto/transcribee_proto/api.py
  proto/transcribee_proto/document.py
  worker/.env.example
  worker/README.md
  worker/pdm.lock
  worker/pyproject.toml
  worker/run.py
  worker/transcribee_worker/diarize.py
  worker/transcribee_worker/identify_speakers.py
  worker/transcribee_worker/worker.py
Due: django-openapi, openapi-typescript, tsc, format, pnpm_test

✨ Reencode task for worker
  backend/openapi-schema.yml
  backend/scripts/create_worker.py
  backend/transcribee_backend/routers/document.py
  frontend/src/editor/player.tsx
  frontend/src/openapi-schema.ts
  proto/transcribee_proto/api.py
  worker/pdm.lock
  worker/pyproject.toml
  worker/run.py
  worker/transcribee_worker/config.py
  worker/transcribee_worker/reencode.py
  worker/transcribee_worker/worker.py
Due: django-openapi, openapi-typescript, tsc, format, pnpm_test

useEvent: Fix registering cleanup function
  frontend/src/utils/use_event.ts
Due: tsc, format, pnpm_test

🐞 fix to short segments crashing speaker id
  worker/transcribee_worker/identify_speakers.py
Due: none

🙈 fix not splitting 1. of May paragraph
  worker/transcribee_worker/whisper_transcribe.py
Due: none

player: Center seek icons
  frontend/src/components/button.tsx
  frontend/src/editor/player.tsx
Due: tsc, format, pnpm_test

player: Adjust waveform style
  frontend/src/editor/player.tsx
Due: tsc, format, pnpm_test

Fix unit of icon size
  frontend/src/pages/user_home.tsx
Due: tsc, format, pnpm_test

Order last recently changed documents first
  backend/transcribee_backend/helpers/sync.py
  backend/transcribee_backend/helpers/time.py
  backend/transcribee_backend/routers/document.py
  backend/transcribee_backend/routers/task.py
Due: django-openapi

📝 Spec for document format v1
  doc/document_format/document_format_v1.md
  doc/document_format/examples/v1_example1.json
  doc/document_format/index.md
Due: none

♻️ Use second precision for timestamps
  frontend/src/utils/export/webvtt.ts
Due: tsc, format, pnpm_test

♻️ `speaker`s are now strings; remove `alternative_speakers`
  frontend/src/editor/debug_panel.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/editor/types.ts
  proto/transcribee_proto/document.py
  worker/transcribee_worker/identify_speakers.py
Due: tsc, format, pnpm_test

🔍 update ensure atom invairants check
  worker/transcribee_worker/worker.py
Due: none

🏷️ Add document.version property
  frontend/src/editor/transcription_editor.tsx
  frontend/src/editor/types.ts
  proto/transcribee_proto/document.py
  worker/transcribee_worker/worker.py
Due: tsc, format, pnpm_test

✨ Show timestamps in webvtt format
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

✨ Store document duration and task results
  backend/openapi-schema.yml
  backend/transcribee_backend/db/migrations/versions/14b5324ec3e2_add_task_completion_data_document_.py
  backend/transcribee_backend/models/document.py
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/routers/document.py
  backend/transcribee_backend/routers/task.py
  frontend/src/openapi-schema.ts
  worker/transcribee_worker/reencode.py
  worker/transcribee_worker/worker.py
Due: django-openapi, openapi-typescript, tsc, format, pnpm_test

⚗️ Add notebook to estimate task speed
  backend/notebooks/Analyze Task Duration.ipynb
  backend/pdm.lock
  backend/pyproject.toml
Due: django-openapi

✨ Add speaker dropdown
  frontend/src/components/button.tsx
  frontend/src/components/dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

✨ Animate modal mount/unmount
  frontend/src/components/modal.tsx
  frontend/src/editor/speaker_dropdown.tsx
Due: tsc, format, pnpm_test

✨ Implement change speaker dropdown
  frontend/src/app.tsx
  frontend/src/components/dropdown.tsx
  frontend/src/components/form.tsx
  frontend/src/components/modal.tsx
  frontend/src/editor/speaker_dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

✨ Allow deleting a document
  backend/alembic.ini
  backend/openapi-schema.yml
  backend/pdm.lock
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/test_doc.py
  backend/tests/test_migrations.py
  backend/tests/test_user.py
  backend/transcribee_backend/auth.py
  backend/transcribee_backend/db/__init__.py
  backend/transcribee_backend/db/migrations/env.py
  backend/transcribee_backend/db/migrations/versions/fc7c9d045329_cascade_document_task_deletion.py
  backend/transcribee_backend/exceptions.py
  backend/transcribee_backend/models/document.py
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/routers/document.py
  frontend/src/api/document.ts
  frontend/src/index.css
  frontend/src/openapi-schema.ts
  frontend/src/pages/user_home.tsx
Due: django-openapi, openapi-typescript, tsc, format, pnpm_test

Path conditions:
  django-openapi: any of: backend/.*
  openapi-typescript: any of: backend/openapi-schema.yml
  tsc: any of: frontend/.*
  format: any of: frontend/.*
  pnpm_test: any of: frontend/.*
