Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-openapi, openapi-typescript, tsc, format, pnpm_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # python checks
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        exclude: ^backend/.*/migrations/.*$
  - repo: local  # update openapi-schema of the backend
    hooks:
      - id: django-openapi
        name: django-openapi
        entry: pdm run -p backend/ manage generateschema --file openapi-schema.yml
        language: python
        files: backend/.*
        pass_filenames: false

  # frontend checks
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.35.0
    hooks:
      - id: eslint
        additional_dependencies:
          - eslint@8.35.0
          - eslint-config-prettier@8.6.0
          - eslint-plugin-import@2.27.5
          - eslint-plugin-react@7.32.2
          - "@typescript-eslint/eslint-plugin@5.54.0"
          - "@typescript-eslint/parser@5.54.0"
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]
        args: ["-c", "frontend/.eslintrc.json", "--max-warnings", "0"]
  - repo: local  # openapi-schema typescript from the openapi-schema of the backend
    hooks:
      - id: openapi-typescript
        name: openapi-typescript
        entry: pnpm --prefix frontend/ run generate-openapi
        language: node
        files: backend/openapi-schema.yml
        pass_filenames: false
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm --prefix frontend/ run check:tsc
        language: node
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: format
        name: format
        entry: pnpm --prefix frontend/ run check:format
        language: node
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: pnpm_test
        name: pnpm test
        entry: pnpm --prefix frontend/ run test:fast
        language: node
        files: frontend/.*
        pass_filenames: false

💚 Update docker action versions
  .github/workflows/docker.yml
Due: none

✨ Better type for multiple speakers; mps & progress in diar
  frontend/src/editor/debug_panel.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/editor/types.ts
  proto/transcribee_proto/document.py
  worker/pdm.lock
  worker/pyproject.toml
  worker/transcribee_worker/diarize.py
  worker/transcribee_worker/torchaudio_align.py
  worker/transcribee_worker/whisper_transcribe.py
  worker/transcribee_worker/worker.py
Due: tsc, format, pnpm_test

⬆️ Upgrade pdm to 2.4.9
  shell.nix
Due: none

⬆️ Bump automerg-pye rev
  worker/pdm.lock
  worker/pyproject.toml
Due: none

✨ Recombine split words and remove leading spaces in paragraphs
  worker/transcribee_worker/whisper_transcribe.py
  worker/transcribee_worker/worker.py
Due: none

✨ backend: Do not claim tasks with unfinished dependencies
  backend/transcribee_backend/api/views.py
  backend/transcribee_backend/base/migrations/0010_alter_task_assigned_at_alter_task_assigned_worker_and_more.py
  backend/transcribee_backend/base/models.py
Due: django-openapi

🐛 Align segments seperately; fix alignment ts calc
  worker/transcribee_worker/torchaudio_align.py
Due: none

👽️ Use new automerge-py get_change api
  worker/pdm.lock
  worker/pyproject.toml
  worker/transcribee_worker/worker.py
Due: none

✨ Add Diarization
  backend/transcribee_backend/api/views.py
  backend/transcribee_backend/base/admin.py
  backend/transcribee_backend/base/models.py
  proto/transcribee_proto/document.py
  worker/.env.example
  worker/README.md
  worker/pdm.lock
  worker/pyproject.toml
  worker/run.py
  worker/transcribee_worker/config.py
  worker/transcribee_worker/diarize.py
  worker/transcribee_worker/torchaudio_align.py
  worker/transcribee_worker/util.py
  worker/transcribee_worker/whisper_transcribe.py
  worker/transcribee_worker/worker.py
Due: django-openapi

🧑‍💻 Do not mark tasks as completed with `--run-once-and-dont-complete`
  worker/run.py
Due: none

🏷️ Add timestamp confidence to atom type
  proto/transcribee_proto/document.py
  worker/transcribee_worker/whisper_transcribe.py
Due: none

✨ Apply speaker ids from diarization in alignment step
  frontend/src/editor/debug_panel.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/editor/types.ts
  proto/transcribee_proto/document.py
  worker/dump_doc.py
  worker/pdm.lock
  worker/pyproject.toml
  worker/transcribee_worker/torchaudio_align.py
  worker/transcribee_worker/whisper_transcribe.py
  worker/transcribee_worker/worker.py
Due: tsc, format, pnpm_test

🧑‍💻 Add check against impossible alignments
  worker/transcribee_worker/worker.py
Due: none

✨ Add alignment to worker
  proto/transcribee_proto/document.py
  worker/pdm.lock
  worker/pyproject.toml
  worker/run.py
  worker/transcribee_worker/torchaudio_align.py
  worker/transcribee_worker/worker.py
Due: none

🩹 transcription: If lang is auto, set para lang from whisper ctx
  frontend/src/editor/transcription_editor.tsx
  worker/transcribee_worker/whisper_transcribe.py
Due: tsc, format, pnpm_test

🧑‍💻 Add admin actio trequeue tasks
  backend/transcribee_backend/base/admin.py
  backend/transcribee_backend/base/models.py
Due: django-openapi

📝 Improve readme
  README.md
Due: none

🐛 Don't realign para if no path found
  worker/transcribee_worker/torchaudio_align.py
Due: none

🐛 Fix typo in speaker assignment
  worker/transcribee_worker/worker.py
Due: none

⚡️ Option to send full document via WS instead of list of changes
  backend/pdm.lock
  backend/pyproject.toml
  backend/transcribee_backend/settings/base.py
  backend/transcribee_backend/sync/consumers.py
  frontend/src/editor/automerge_websocket_provider.ts
  frontend/src/editor/transcription_editor.tsx
  proto/transcribee_proto/sync.py
  worker/transcribee_worker/worker.py
Due: django-openapi, tsc, format, pnpm_test

👷 Cache docker build
  .github/workflows/docker.yml
Due: none

⬆️ Bump whispercpp dependency
  worker/pdm.lock
Due: none

Run lint action on macOS
  .github/workflows/lint.yml
Due: none

Replace direnv action with macOS compatible one
  .github/workflows/lint.yml
Due: none

Disable cache for nix direnv action
  .github/workflows/lint.yml
Due: none

nix: Use stdenv without CC on macOS
  shell.nix
Due: none

➕ Use whispercppy instead of whispercpp
  shell.nix
  worker/pdm.lock
  worker/pyproject.toml
  worker/transcribee_worker/whisper_transcribe.py
Due: none

🧹 remove bazel from the nix shell
  shell.nix
Due: none

📈 update torch dependency
  worker/pdm.lock
  worker/pyproject.toml
Due: none
