Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

backend-pyright:
  name: Run typechecker for backend
  entry: pdm run -p backend/ pyright backend/transcribee_backend
  language: system
  pass_filenames: false

worker-pyright:
  name: Run typechecker for worker
  entry: pdm run -p worker/ pyright worker/transcribee_worker
  language: system
  pass_filenames: false

backend-openapi:
  name: update openapi-schema of the backend
  entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
  language: system
  pass_filenames: false

backend-tests:
  name: run backend tests
  entry: pdm run -p backend/ test
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: pnpm --prefix frontend/ run check:eslint
  language: system
  pass_filenames: false

openapi-typescript:
  name: openapi-typescript
  entry: pnpm --prefix frontend/ run generate-openapi
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: pnpm --prefix frontend/ run check:tsc
  language: system
  pass_filenames: false

format:
  name: format
  entry: pnpm --prefix frontend/ run format
  language: system
  pass_filenames: false

pnpm_test:
  name: pnpm test
  entry: pnpm --prefix frontend/ run test
  language: system
  pass_filenames: false

desktop: add support for export
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/menu.rs
  desktop/src/pages/document.tsx
  frontend/src/components/download_data_as_file.ts
  frontend/src/pages/document.tsx
  ui-common/editor/export/index.tsx
  ui-common/editor/export/plaintext.tsx
  ui-common/editor/export/transcribee.tsx
  ui-common/editor/export/webvtt.tsx
Due: eslint, tsc, format, pnpm_test

desktop: use blocking dialogs in async commands
  desktop/src-tauri/src/cmd.rs
Due: none

desktop: include file extensions in default save paths
  desktop/src-tauri/src/cmd.rs
Due: none

ci: run lint on macos
  .github/workflows/lint.yml
Due: none

desktop: add alpha version banner
  desktop/src/pages/home.tsx
Due: eslint

desktop: fix speaker detection radio highlight
  ui-common/components/inputs/speaker_detection.tsx
Due: eslint

build linux bundles
  .github/workflows/release.yml
  desktop/src-tauri/build.rs
  desktop/src-tauri/tauri.conf.json
Due: none

nix: remove clang + mold
  flake.nix
Due: none

worker: unset PYTHONPATH and PYTHONHOME
  worker/packaging/run_worker.sh.tmpl
  worker/run_worker.sh
Due: worker-pyright

desktop: fix media plaback on linux
  flake.nix
Due: none

desktop: fix worker tar extraction for linux
  desktop/src-tauri/prepare_worker.py
Due: none

Fix build_worker_bundle in nix shell
  worker/packaging/build_worker_bundle.py
Due: worker-pyright

ci: produce empty raw_tag for non-dev releases
  .github/workflows/release.yml
Due: none

desktop: pass task types also in non dev mode
  desktop/src-tauri/src/worker_plugin.rs
Due: none

desktop: sign macOS app with bollox cert
  desktop/src-tauri/tauri.conf.json
Due: none

desktop: add padding to startup modal
  desktop/src/pages/home.tsx
  ui-common/components/modal.tsx
Due: eslint

desktop: log to console under windows
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/main.rs
Due: none

desktop: fix race condition in MediaFileBase init
  desktop/src-tauri/src/media_file_serve.rs
Due: none

desktop: vendor wix windows installer template
  desktop/src-tauri/tauri.conf.json
  desktop/src-tauri/windows/main.wxs
Due: none

desktop: install visual c++ redistributable on windows
  desktop/src-tauri/windows/main.wxs
Due: none

worker: remove junk python symlink in windows bundles
  worker/packaging/build_worker_bundle.py
Due: worker-pyright

desktop: windows with nsis & install vc_redist
  desktop/src-tauri/tauri.conf.json
  desktop/src-tauri/windows/install_vc_redist.nsh
Due: none

desktop: close confirmation for all
  desktop/src-tauri/src/confirm_close.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/menu.rs
Due: none

fixup! desktop: add padding to startup modal
  ui-common/components/modal.tsx
Due: eslint

fixup! desktop: add padding to startup modal
  desktop/src/pages/home.tsx
Due: eslint

desktop: remove wix installer
  desktop/src-tauri/tauri.conf.json
  desktop/src-tauri/windows/main.wxs
Due: none

amend: close for all
  desktop/src-tauri/src/lib.rs
Due: none

desktop: only allow a single instance
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/lib.rs
Due: none

Path conditions:
  backend-pyright: any of: backend/.*
  worker-pyright: any of: worker/.*
  backend-openapi: any of: backend/.*
  backend-tests: any of: backend/.*
  eslint: any of: \.[jt]sx?$
  openapi-typescript: any of: backend/openapi-schema.yml
  tsc: any of: frontend/.*
  format: any of: frontend/.*
  pnpm_test: any of: frontend/.*
