Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

backend-pyright:
  name: Run typechecker for backend
  entry: pdm run -p backend/ pyright backend/transcribee_backend
  language: system
  pass_filenames: false

worker-pyright:
  name: Run typechecker for worker
  entry: pdm run -p worker/ pyright worker/transcribee_worker
  language: system
  pass_filenames: false

backend-openapi:
  name: update openapi-schema of the backend
  entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
  language: system
  pass_filenames: false

backend-tests:
  name: run backend tests
  entry: pdm run -p backend/ test
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: pnpm --prefix frontend/ run check:eslint
  language: system
  pass_filenames: false

openapi-typescript:
  name: openapi-typescript
  entry: pnpm --prefix frontend/ run generate-openapi
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: pnpm --prefix frontend/ run check:tsc
  language: system
  pass_filenames: false

format:
  name: format
  entry: pnpm --prefix frontend/ run format
  language: system
  pass_filenames: false

pnpm_test:
  name: pnpm test
  entry: pnpm --prefix frontend/ run test
  language: system
  pass_filenames: false

Add initial desktop application
  desktop/.gitignore
  desktop/README.md
  desktop/index.html
  desktop/package-lock.json
  desktop/package.json
  desktop/src-tauri/.gitignore
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/build.rs
  desktop/src-tauri/capabilities/default.json
  desktop/src-tauri/icons/icon.png
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/main.rs
  desktop/src-tauri/tauri.conf.json
  desktop/src/App.tsx
  desktop/src/main.tsx
  desktop/src/vite-env.d.ts
  desktop/tsconfig.json
  desktop/tsconfig.node.json
  desktop/vite.config.ts
Due: eslint

add icons to transcribee-desktop
  desktop/src-tauri/icons/128x128.png
  desktop/src-tauri/icons/128x128@2x.png
  desktop/src-tauri/icons/32x32.png
  desktop/src-tauri/icons/64x64.png
  desktop/src-tauri/icons/generate_icons.sh
  desktop/src-tauri/icons/icon.icns
  desktop/src-tauri/icons/icon.ico
  desktop/src-tauri/icons/icon.svg
  desktop/src-tauri/tauri.conf.json
Due: none

✨ Desktop: More routes, local media support in worker
  backend/openapi-schema.yml
  backend/transcribee_backend/models/document.py
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/routers/document.py
  desktop/desktop-backend/Cargo.lock
  desktop/desktop-backend/Cargo.toml
  desktop/desktop-backend/src/backend.rs
  desktop/desktop-backend/src/bin/standalone-backend.rs
  desktop/desktop-backend/src/bin/standalone.rs
  desktop/desktop-backend/src/handlers.rs
  desktop/desktop-backend/src/lib.rs
  desktop/desktop-backend/src/state.rs
  desktop/src-tauri/Cargo.lock
  frontend/src/openapi-schema.ts
  proto/transcribee_proto/api.py
  worker/transcribee_worker/config.py
  worker/transcribee_worker/worker.py
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

🎉 Add desktop backend stub
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/backend.rs
  desktop/src-tauri/src/backend_plugin.rs
  desktop/src-tauri/src/lib.rs
Due: none

Move backend to own crate & add standalone bin
  .vscode/settings.json
  desktop/desktop-backend/Cargo.lock
  desktop/desktop-backend/Cargo.toml
  desktop/desktop-backend/src/backend.rs
  desktop/desktop-backend/src/bin/standalone.rs
  desktop/desktop-backend/src/lib.rs
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/backend.rs
  desktop/src-tauri/src/backend_plugin.rs
  desktop/src-tauri/src/lib.rs
Due: backend-pyright, backend-openapi, backend-tests

✨ Desktop: Integrate backend with worker
  desktop/desktop-backend/src/backend.rs
  desktop/src-tauri/src/backend_plugin.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/worker_plugin.rs
Due: backend-pyright, backend-openapi, backend-tests

include worker bundles in tauri app
  desktop/src-tauri/.gitignore
  desktop/src-tauri/prepare_worker.py
  desktop/src-tauri/tauri.conf.json
  worker/packaging/run_worker.sh.tmpl
Due: worker-pyright

run worker in tauri app & add more beautiful logging
  desktop/package-lock.json
  desktop/package.json
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/capabilities/default.json
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/worker_plugin.rs
Due: none

Throttle restarting of worker in tauri
  desktop/src-tauri/src/worker_plugin.rs
Due: none

frontend: bump automerge version
  frontend/package-lock.json
  frontend/package.json
  frontend/src/document.ts
Due: eslint, tsc, format, pnpm_test

fix: fix websocket reconnects
  frontend/src/document.ts
  frontend/src/editor/automerge_websocket_editor.ts
Due: eslint, tsc, format, pnpm_test

add barebones transcribee desktop frontend
  desktop/index.html
  desktop/package-lock.json
  desktop/package.json
  desktop/postcss.config.js
  desktop/src/App.tsx
  desktop/src/app.tsx
  desktop/src/index.css
  desktop/src/pages/home.tsx
  desktop/tailwind.config.js
Due: eslint

fix docker backend build with split frontend code
  packaging/docker/Dockerfile
Due: none

install_dependencies.sh: install deps for ui-common
  packaging/install_dependencies.sh
Due: none

add comments in vite.config.js explaining hacks
  frontend/vite.config.js
Due: eslint, tsc, format, pnpm_test

Update vite and jest
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.js
  ui-common/package-lock.json
  ui-common/package.json
Due: eslint, tsc, format, pnpm_test

Migrate from jest to vitest
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/share.tsx
  frontend/src/pages/new_document.tsx
  frontend/tsconfig.json
  ui-common/editor/migrate_document.test.ts
  ui-common/package-lock.json
  ui-common/package.json
  ui-common/tsconfig.json
Due: eslint, tsc, format, pnpm_test

Use vite react-plugin for web
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.js
Due: eslint, tsc, format, pnpm_test

fix: rename type declaration so the repo can be cloned on Windows
  frontend/src/types/git-version.d.ts
Due: eslint, tsc, format, pnpm_test

desktop: Add linting and formatting checks
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  desktop/.eslintrc.json
  desktop/.gitignore
  desktop/.prettierrc
  desktop/package-lock.json
  desktop/package.json
  desktop/src/app.tsx
  desktop/src/main.tsx
  desktop/src/pages/home.tsx
Due: eslint

nix: add rustLibSrc
  flake.nix
Due: none

nix: remove residues from old nix setup
  flake.nix
Due: none

desktop: initial editor and file opening
  desktop/src-tauri/Cargo.lock
  desktop/tsconfig.json
Due: none

switch transcribee archive format from zip to tar
  frontend/src/pages/new_document.tsx
  ui-common/editor/export/transcribee.tsx
  ui-common/utils/tar.test.ts
  ui-common/utils/tar.ts
Due: eslint, tsc, format, pnpm_test

desktop: add preliminary media loading & player
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/capabilities/default.json
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src/pages/document.tsx
  desktop/test-data/sample.transcribee
Due: eslint

desktop: initial editor and file opening
  desktop/package-lock.json
  desktop/package.json
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src/app.tsx
  desktop/src/pages/document.tsx
  desktop/src/pages/home.tsx
  desktop/src/types/slate_types.d.ts
  desktop/tsconfig.json
  desktop/vite.config.ts
  ui-common/editor/transcription_editor.tsx
Due: eslint

desktop: initial (automatic) file saving
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/tar.rs
  desktop/src/pages/document.tsx
  desktop/vite.config.ts
Due: eslint

desktop: also switch from zip to tar
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/tar.rs
  desktop/test-data/sample.transcribee
Due: none

Path conditions:
  backend-pyright: any of: backend/.*
  worker-pyright: any of: worker/.*
  backend-openapi: any of: backend/.*
  backend-tests: any of: backend/.*
  eslint: any of: \.[jt]sx?$
  openapi-typescript: any of: backend/openapi-schema.yml
  tsc: any of: frontend/.*
  format: any of: frontend/.*
  pnpm_test: any of: frontend/.*
