Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        exclude: .*/pnpm-lock.yaml$
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # python checks
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: Run ruff for python files
        entry: ruff check --config .ruff.toml --force-exclude --fix
        language: system
        'types_or': [python, pyi]
  - repo: local
    hooks:
      - id: backend-pyright
        name: Run typechecker for backend
        entry: pdm run -p backend/ pyright backend/transcribee_backend
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: worker-pyright
        name: Run typechecker for worker
        entry: pdm run -p worker/ pyright worker/transcribee_worker
        language: system
        files: worker/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-openapi
        name: update openapi-schema of the backend
        entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-tests
        name: run backend tests
        entry: pdm run -p backend/ test
        language: system
        files: backend/.*
        pass_filenames: false

  # frontend checks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: pnpm --prefix frontend/ run check:eslint
        language: system
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        pass_filenames: false
  - repo: local # openapi-schema typescript from the openapi-schema of the backend
    hooks:
      - id: openapi-typescript
        name: openapi-typescript
        entry: pnpm --prefix frontend/ run generate-openapi
        language: system
        files: backend/openapi-schema.yml
        pass_filenames: false
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm --prefix frontend/ run check:tsc
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: format
        name: format
        entry: pnpm --prefix frontend/ run format
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: pnpm_test
        name: pnpm test
        entry: pnpm --prefix frontend/ run test
        language: system
        files: frontend/.*
        pass_filenames: false

[wip] performance fiddling
  backend/transcribee_backend/routers/document.py
  frontend/pnpm-lock.yaml
  frontend/src/components/dropdown.tsx
  frontend/src/editor/player.tsx
  frontend/src/editor/speaker_colors.tsx
  frontend/src/editor/speaker_dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/utils/document.ts
  frontend/src/utils/id.ts
Due: backend-pyright, backend-openapi, backend-tests, eslint, tsc, format, pnpm_test

🐛 fix document loading in firefox
  frontend/src/editor/automerge_websocket_editor.ts
Due: eslint, tsc, format, pnpm_test

✨ Allow document sharing
  backend/openapi-schema.yml
  backend/tests/test_doc.py
  backend/transcribee_backend/auth.py
  backend/transcribee_backend/db/migrations/versions/59c9184ab48b_add_name_field_to_documentsharetoken.py
  backend/transcribee_backend/db/migrations/versions/72c5eb8a46de_add_documentsharetoken.py
  backend/transcribee_backend/models/__init__.py
  backend/transcribee_backend/models/document.py
  backend/transcribee_backend/models/user.py
  backend/transcribee_backend/routers/document.py
  frontend/src/api.ts
  frontend/src/api/document.ts
  frontend/src/app.tsx
  frontend/src/common/top_bar.tsx
  frontend/src/components/dialog.tsx
  frontend/src/components/modal.tsx
  frontend/src/editor/player.tsx
  frontend/src/editor/share.tsx
  frontend/src/openapi-schema.ts
  frontend/src/pages/document.tsx
  frontend/src/pages/loading.tsx
  frontend/src/pages/user_home.tsx
  frontend/src/utils/auth.ts
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

💚 Build frontend in CI
  .github/workflows/build.yml
Due: none

✨ Add Debug Export / Import
  .gitignore
  backend/openapi-schema.yml
  backend/pdm.lock
  backend/pyproject.toml
  backend/transcribee_backend/config.py
  backend/transcribee_backend/routers/document.py
  doc/development_setup.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/document.ts
  frontend/src/components/dropdown.tsx
  frontend/src/editor/export/debug.tsx
  frontend/src/editor/export/export_modal.tsx
  frontend/src/editor/export/export_options.tsx
  frontend/src/editor/export/subtitle.tsx
  frontend/src/editor/webvtt_export.tsx
  frontend/src/openapi-schema.ts
  frontend/src/pages/document.tsx
  frontend/src/pages/user_home.tsx
  frontend/src/utils/download_text_as_file.ts
  frontend/src/utils/use_debug_mode.ts
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

🐛 Use automerge.Text in speaker id if only 1 para
  worker/transcribee_worker/identify_speakers.py
Due: worker-pyright

✨ Show document name in title
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app.tsx
  frontend/src/pages/document.tsx
Due: eslint, tsc, format, pnpm_test

🐝 add logo
  README.md
  doc/transcribee-logo.svg
Due: none

🐝 add favicon
  frontend/index.html
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/vite.config.js
Due: eslint, tsc, format, pnpm_test

🐛 fix whisper model download url
  worker/transcribee_worker/whisper_transcribe.py
Due: worker-pyright

🐛 Change button text in password modal to 'Change Password'
  frontend/src/components/change_password.tsx
Due: eslint, tsc, format, pnpm_test

✨ Logout user everywhere on pw change
  backend/transcribee_backend/routers/user.py
  frontend/src/components/change_password.tsx
Due: backend-pyright, backend-openapi, backend-tests, eslint, tsc, format, pnpm_test

🐳 dont use dev.sh as Dockerfile entrypoint
  .dockerignore
  doc/development_setup.md
  frontend/src/common/version.tsx
  frontend/src/common/virtual:git-version.d.ts
  packaging/Dockerfile
  packaging/dev.sh
  packaging/setup_backend.sh
Due: eslint, tsc, format, pnpm_test

🐛 Fix default model and language
  frontend/src/pages/new_document.tsx
Due: eslint, tsc, format, pnpm_test

🇬🇧 Show 'en' as language for english models
  backend/data/models.json
  worker/scripts/generate_model_config.py
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests

√ Move shell.nix to project root
  .envrc
  .vscode/settings.json
  doc/development_setup.md
  packaging/Dockerfile
  shell.nix
Due: none

Fix swapping audio source in player
  frontend/src/utils/use_audio.ts
Due: eslint, tsc, format, pnpm_test

Serve media as chunks
  backend/transcribee_backend/media_storage.py
Due: backend-pyright, backend-openapi, backend-tests

Add speaker colors to seek bar
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/loading_spinner.tsx
  frontend/src/editor/player.tsx
  frontend/src/editor/speaker_colors.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/pages/document.tsx
  frontend/src/utils/use_audio.ts
Due: eslint, tsc, format, pnpm_test

Optimize light theme for player
  frontend/src/editor/player.tsx
Due: eslint, tsc, format, pnpm_test

Implement player seek bar
  frontend/src/editor/player.tsx
Due: eslint, tsc, format, pnpm_test

Fix stuttering audio playback
  frontend/src/editor/player.tsx
  frontend/src/utils/duration_in_ms.ts
Due: eslint, tsc, format, pnpm_test

Use html5-audio-driver as audio player
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/editor/player.tsx
Due: eslint, tsc, format, pnpm_test

Tweek media chunk size and improve comments
  backend/transcribee_backend/media_storage.py
Due: backend-pyright, backend-openapi, backend-tests

Update to bugbakery github repos
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: tsc, format, pnpm_test

Update openapi spec
  backend/openapi-schema.yml
  frontend/src/openapi-schema.ts
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

Add time marker to player
  frontend/src/editor/player.tsx
  frontend/src/utils/use_audio.ts
Due: eslint, tsc, format, pnpm_test
