Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-openapi, openapi-typescript, tsc, format, pnpm_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # python checks
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        exclude: ^backend/.*/migrations/.*$
  - repo: local  # update openapi-schema of the backend
    hooks:
      - id: django-openapi
        name: django-openapi
        entry: pdm run -p backend/ manage generateschema --file openapi-schema.yml
        language: python
        files: backend/.*
        pass_filenames: false

  # frontend checks
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.35.0
    hooks:
      - id: eslint
        additional_dependencies:
          - eslint@8.35.0
          - eslint-config-prettier@8.6.0
          - eslint-plugin-import@2.27.5
          - eslint-plugin-react@7.32.2
          - "@typescript-eslint/eslint-plugin@5.54.0"
          - "@typescript-eslint/parser@5.54.0"
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]
        args: ["-c", "frontend/.eslintrc.json", "--max-warnings", "0"]
  - repo: local  # openapi-schema typescript from the openapi-schema of the backend
    hooks:
      - id: openapi-typescript
        name: openapi-typescript
        entry: pnpm --prefix frontend/ run generate-openapi
        language: node
        files: backend/openapi-schema.yml
        pass_filenames: false
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm --prefix frontend/ run check:tsc
        language: node
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: format
        name: format
        entry: pnpm --prefix frontend/ run check:format
        language: node
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: pnpm_test
        name: pnpm test
        entry: pnpm --prefix frontend/ run test:fast
        language: node
        files: frontend/.*
        pass_filenames: false

update openapi spec
  backend/openapi-schema.yml
  frontend/src/openapi-schema.ts
Due: django-openapi, openapi-typescript, tsc, format, pnpm_test

👷‍♀️ install backend deps in ci
  .github/workflows/lint.yml
Due: none

🔧 pre-commit: Do not lint pnpm-lock.yaml
  .pre-commit-config.yaml
Due: none

📝 Login api: correct openapi definition
  backend/openapi-schema.yml
  backend/transcribee_backend/api/views.py
Due: django-openapi, openapi-typescript

🐛 Make UserViewSet generic, fixes schema generation
  backend/openapi-schema.yml
  backend/transcribee_backend/api/views.py
Due: django-openapi, openapi-typescript

🐬 use openapi types in frontend
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api.ts
  frontend/src/api/document.ts
  frontend/src/api/user.ts
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/NewDocumentPage.tsx
Due: tsc, format, pnpm_test

⚙️ generate typescript types from openapi schema
  .pre-commit-config.yaml
  frontend/.prettierignore
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/openapi-schema.ts
Due: tsc, format, pnpm_test

📖 add openapi schema for backend
  .pre-commit-config.yaml
  backend/openapi-schema.yml
  backend/pdm.lock
  backend/pyproject.toml
  backend/transcribee_backend/api/views.py
Due: django-openapi, openapi-typescript

🐛 Generate error reponses in openapi
  backend/openapi-schema.yml
  backend/transcribee_backend/api/schema.py
  backend/transcribee_backend/api/views.py
Due: django-openapi, openapi-typescript

🐛 Fix: correct serializer in login view
  backend/transcribee_backend/api/views.py
Due: django-openapi

✨ Add transcription task on file upload
  backend/transcribee_backend/api/views.py
  backend/transcribee_backend/base/migrations/0008_alter_task_assigned_at.py
  backend/transcribee_backend/base/models.py
Due: django-openapi

🔧 Enable atomic requests in dev settings
  backend/transcribee_backend/settings/dev.py
Due: django-openapi

🐛 fix: whisper transcription yielding paragraphs in the wrong order
  worker/transcribee_worker/whisper_transcribe.py
Due: none

💚 Remove cuda dependencies to fix docker build
  worker/pdm.lock
Due: none

🩹 Add timeout for dev-db to prevent locking issues
  backend/transcribee_backend/settings/dev.py
Due: django-openapi

➕ Add self-build automerge
  frontend/deps/automerge-2.0.2.tgz
  frontend/deps/automerge-wasm-0.1.25.tgz
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: tsc, format, pnpm_test

🏷️ Save language per paragraph
  frontend/src/editor/DebugPanel.tsx
  frontend/src/editor/types.ts
  proto/transcribee_proto/document.py
  worker/transcribee_worker/whisper_transcribe.py
Due: tsc, format, pnpm_test

✨ Add automerge to frontend & worker
  backend/transcribee_backend/settings/dev.py
  frontend/src/editor/AutomergeWebsocketProvider.ts
  frontend/src/editor/DebugPanel.tsx
  frontend/src/editor/TranscriptionEditor.tsx
  frontend/src/editor/slate-types.d.ts
  frontend/src/editor/types.ts
  frontend/vite.config.js
  shell.nix
  worker/dump_doc.py
  worker/pdm.lock
  worker/pyproject.toml
  worker/run.py
  worker/transcribee_worker/worker.py
Due: django-openapi, tsc, format, pnpm_test

🔧 backend: Add local config override
  backend/.gitignore
  backend/README.md
  backend/transcribee_backend/settings/dev.py
  backend/transcribee_backend/settings/local.py.example
Due: django-openapi

♻️ Move sync types to transcribee_proto
  backend/openapi-schema.yml
  backend/transcribee_backend/sync/consumers.py
  frontend/src/openapi-schema.ts
  proto/transcribee_proto/sync.py
  worker/transcribee_worker/worker.py
Due: django-openapi, openapi-typescript, tsc, format, pnpm_test

🗃️ Add merge migration for both 0008
  backend/transcribee_backend/base/migrations/0009_merge_20230321_1425.py
Due: django-openapi

Add slate-colaborative submodule
  .gitmodules
Due: none

Add transcribee-proto to pyproject
  backend/pdm.lock
  backend/pyproject.toml
Due: django-openapi

Move slate-collaborative submodule
  .gitmodules
Due: none

WIP: Connect slate to automerge
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/editor/AutomergeChangesBuffer.ts
  frontend/src/editor/AutomergeWebsocketProvider.ts
  frontend/src/editor/TranscriptionEditor.tsx
  frontend/src/editor/types.ts
  worker/transcribee_worker/worker.py
Due: tsc, format, pnpm_test

🔧 worker: default websocket-base-url from coordinator url
  worker/run.py
Due: none

📦 add backend dependency to transcribee-proto
  backend/pdm.lock
  backend/pyproject.toml
Due: django-openapi
