Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        exclude: .*/pnpm-lock.yaml$
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # python checks
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: Run ruff for python files
        entry: ruff check --config .ruff.toml --force-exclude --fix
        language: system
        'types_or': [python, pyi]
  - repo: local
    hooks:
      - id: backend-pyright
        name: Run typechecker for backend
        entry: pdm run -p backend/ pyright backend/transcribee_backend
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: worker-pyright
        name: Run typechecker for worker
        entry: pdm run -p worker/ pyright worker/transcribee_worker
        language: system
        files: worker/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-openapi
        name: update openapi-schema of the backend
        entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-tests
        name: run backend tests
        entry: pdm run -p backend/ test
        language: system
        files: backend/.*
        pass_filenames: false

  # frontend checks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: pnpm --prefix frontend/ run check:eslint
        language: system
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        pass_filenames: false
  - repo: local # openapi-schema typescript from the openapi-schema of the backend
    hooks:
      - id: openapi-typescript
        name: openapi-typescript
        entry: pnpm --prefix frontend/ run generate-openapi
        language: system
        files: backend/openapi-schema.yml
        pass_filenames: false
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm --prefix frontend/ run check:tsc
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: format
        name: format
        entry: pnpm --prefix frontend/ run format
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: pnpm_test
        name: pnpm test
        entry: pnpm --prefix frontend/ run test
        language: system
        files: frontend/.*
        pass_filenames: false

desktop: emit document_changed events with FrontendDocument payload
  desktop/src-tauri/src/file_handling.rs
Due: none

desktop: add file changed indicator to titlebar
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src/pages/document.tsx
  desktop/src/pages/home.tsx
Due: eslint

desktop: add support to save files
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/menu.rs
  desktop/src-tauri/src/range_util.rs
  desktop/src-tauri/src/tar.rs
  desktop/src-tauri/src/transcribee_archive.rs
  desktop/src-tauri/src/window.rs
Due: none

desktop: dont prevent ctrl+s
  frontend/src/pages/document.tsx
  ui-common/editor/transcription_editor.tsx
Due: eslint, tsc, format, pnpm_test

desktop: rework media file list to be stored
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src/pages/document.tsx
  desktop/src/pages/home.tsx
Due: eslint

desktop: report progress on transcription jobs earlier
  desktop/src-tauri/src/lib.rs
Due: none

ui-common: upgrade react to v19
  ui-common/components/button.tsx
  ui-common/components/drop_file_picker.tsx
  ui-common/components/dropdown.tsx
  ui-common/components/form.tsx
  ui-common/components/inputs/speaker_detection.tsx
  ui-common/components/inputs/transcription_quality.tsx
  ui-common/components/loading_spinner/loading_bee.tsx
  ui-common/components/loading_spinner/loading_spinner.tsx
  ui-common/components/modal.tsx
  ui-common/components/popup.tsx
  ui-common/components/tooltip.tsx
  ui-common/editor/export/index.tsx
  ui-common/editor/player.tsx
  ui-common/editor/speaker_dropdown.tsx
  ui-common/editor/transcription_editor.tsx
  ui-common/package-lock.json
  ui-common/package.json
  ui-common/utils/button_hooks.ts
  ui-common/utils/styled.ts
  ui-common/utils/use_audio.ts
Due: eslint

nix: fix flake on macos
  flake.nix
Due: none

frontend: upgrade react to v19
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/app_container.tsx
  frontend/src/components/automerge_websocket_editor.ts
  frontend/src/components/footer.tsx
  frontend/src/components/share.tsx
  frontend/src/components/top_bar.tsx
  frontend/src/components/worker_status.tsx
  frontend/src/pages/user_home.tsx
Due: eslint, tsc, format, pnpm_test

frontend: replacy double slashes in imports
  frontend/src/components/share.tsx
Due: eslint, tsc, format, pnpm_test

frontend: remove unused footer version component
  frontend/src/components/footer.tsx
Due: eslint, tsc, format, pnpm_test

desktop: better main window
  desktop/package-lock.json
  desktop/package.json
  desktop/src/pages/home.tsx
Due: eslint

Fix prepare_worker.py
  desktop/src-tauri/build.rs
  desktop/src-tauri/prepare_worker.py
Due: none

Fix running xcode tools
  flake.nix
Due: none

web: bump react-markdown
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/page.tsx
Due: eslint, tsc, format, pnpm_test

desktop: dark mode for main page
  desktop/src/pages/home.tsx
  ui-common/components/tooltip.tsx
Due: eslint

Fix creating window on windows
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/menu.rs
  desktop/src-tauri/src/window.rs
Due: none

Remove python-version symlinks to support windows
  .python-version
  backend/.python-version
  packaging/docker/Dockerfile
  packaging/docker/worker.Dockerfile
  worker/.python-version
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests

worker: add integration test
  worker/tests-integration/.gitignore
  worker/tests-integration/Cargo.lock
  worker/tests-integration/Cargo.toml
  worker/tests-integration/integration_test.rs
Due: worker-pyright

worker: add support for canceling tasks
  desktop/worker-adapter/src/handlers.rs
  desktop/worker-adapter/src/state.rs
  worker/tests-integration/Cargo.lock
  worker/tests-integration/Cargo.toml
  worker/tests-integration/integration_test.rs
  worker/transcribee_worker/worker.py
Due: worker-pyright

desktop: add support for canceling transcriptions
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src/pages/home.tsx
Due: eslint

desktop/worker-adapter: remove standalone binary
  desktop/worker-adapter/Cargo.toml
  desktop/worker-adapter/src/bin/standalone.rs
Due: none

worker: increase timeout in integration tests
  worker/tests-integration/integration_test.rs
Due: worker-pyright

worker: be less verbose during idle
  worker/transcribee_worker/worker.py
Due: worker-pyright
