Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        exclude: .*/pnpm-lock.yaml$
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # python checks
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: Run ruff for python files
        entry: ruff check --config .ruff.toml --force-exclude --fix
        language: system
        'types_or': [python, pyi]
  - repo: local
    hooks:
      - id: backend-pyright
        name: Run typechecker for backend
        entry: pdm run -p backend/ pyright backend/transcribee_backend
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: worker-pyright
        name: Run typechecker for worker
        entry: pdm run -p worker/ pyright worker/transcribee_worker
        language: system
        files: worker/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-openapi
        name: update openapi-schema of the backend
        entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-tests
        name: run backend tests
        entry: pdm run -p backend/ test
        language: system
        files: backend/.*
        pass_filenames: false

  # frontend checks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: pnpm --prefix frontend/ run check:eslint
        language: system
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        pass_filenames: false
  - repo: local # openapi-schema typescript from the openapi-schema of the backend
    hooks:
      - id: openapi-typescript
        name: openapi-typescript
        entry: pnpm --prefix frontend/ run generate-openapi
        language: system
        files: backend/openapi-schema.yml
        pass_filenames: false
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm --prefix frontend/ run check:tsc
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: format
        name: format
        entry: pnpm --prefix frontend/ run format
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: pnpm_test
        name: pnpm test
        entry: pnpm --prefix frontend/ run test
        language: system
        files: frontend/.*
        pass_filenames: false

move lint ci to flakes
  .github/workflows/lint.yml
Due: none

remove unused styled util function
  frontend/src/styled.tsx
Due: eslint, tsc, format, pnpm_test

fix torchaudio on linux
  nix/pkgs/worker.nix
Due: none

Add openssl to dev shell
  flake.nix
Due: none

🙈 proto: ignore build directory
  proto/.gitignore
Due: none

ci: build frontend with nix
  .github/workflows/build.yml
Due: none

nix: use https to download git deps
  nix/pkgs/frontend.nix
Due: none

ci: test nix flake build of packages
  .github/workflows/test_build.yml
Due: none

📦️ Make proto editable
  backend/pyproject.toml
  backend/uv.lock
  worker/pyproject.toml
  worker/uv.lock
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests

🐛 backend: Fix sqlalchemy build
  nix/pkgs/backend.nix
Due: none

👷 ci: Fix pypackages cache
  .github/workflows/lint.yml
Due: none

ci: use github macos runners
  .github/workflows/lint.yml
  .github/workflows/test_build.yml
Due: none

👷 ci: Remove caches to speed up build
  .github/workflows/lint.yml
Due: none

ci: add magic-nix-cache
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test_build.yml
Due: none

fix container build
  .dockerignore
  packaging/Dockerfile
Due: none

switch to nix flake
  .envrc
  flake.lock
  flake.nix
Due: none

build frontend without fixed output derivation
  flake.nix
  nix/pkgs/backend.nix
  nix/pkgs/frontend.nix
  nix/pkgs/worker.nix
Due: none

Cleanup .gitignores
  .gitignore
  backend/.gitignore
  worker/.gitignore
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests

frontend: Switch to npm and make nix derivation pure
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/logo.svg
  frontend/src/pages/about.tsx
  frontend/vite.config.js
  nix/pkgs/frontend.nix
  shell.nix
Due: eslint, tsc, format, pnpm_test

backend: packaging
  backend/pyproject.toml
  backend/uv.lock
Due: backend-pyright, backend-openapi, backend-tests

Update dev.sh to uv and npm
  packaging/Procfile
  packaging/install_dependencies.sh
  packaging/setup_backend.sh
  packaging/start_backend.sh
Due: none

worker: Switch to uv and make nix derivation pure
  nix/pkgs/worker.nix
  worker/.gitignore
  worker/pdm.lock
  worker/pyproject.toml
  worker/uv.lock
Due: worker-pyright

Update READMEs to uv
  backend/README.md
  worker/README.md
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests

update worker gitignore
  worker/.gitignore
Due: worker-pyright

fix pre-commit config
  .pre-commit-config.yaml
  backend/pyproject.toml
  packaging/install_dependencies.sh
  worker/pyproject.toml
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests

Fix vscode settings
  .vscode/settings.json
Due: none

fix Procfile
  packaging/Procfile
Due: none

scripts: make executable and add shebang
  backend/scripts/create_api_token.py
  backend/scripts/create_user.py
  backend/scripts/create_user_token.py
  backend/scripts/create_worker.py
  backend/scripts/generate_openapi.py
  backend/scripts/reset_task.py
  backend/scripts/set_password.py
Due: backend-pyright, backend-openapi, backend-tests

remove unused service nix file
  nix/services/worker.nix
Due: none

Format code
  backend/transcribee_backend/models/task.py
Due: backend-pyright, backend-openapi, backend-tests

move assets out of public directory
  frontend/assets/logo.svg
  frontend/assets/pf_funding_logos.svg
  frontend/src/pages/about.tsx
  frontend/vite.config.js
Due: eslint, tsc, format, pnpm_test

install locale data
  flake.nix
  packaging/Procfile
Due: none

Fix proto deps
  proto/pyproject.toml
Due: none

remove __pypackages__ from dockerignore
  .dockerignore
Due: none
