Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        exclude: .*/pnpm-lock.yaml$
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # python checks
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: Run ruff for python files
        entry: ruff check --config .ruff.toml --force-exclude --fix
        language: system
        'types_or': [python, pyi]
  - repo: local
    hooks:
      - id: backend-pyright
        name: Run typechecker for backend
        entry: pdm run -p backend/ pyright backend/transcribee_backend
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: worker-pyright
        name: Run typechecker for worker
        entry: pdm run -p worker/ pyright worker/transcribee_worker
        language: system
        files: worker/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-openapi
        name: update openapi-schema of the backend
        entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-tests
        name: run backend tests
        entry: pdm run -p backend/ test
        language: system
        files: backend/.*
        pass_filenames: false

  # frontend checks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: pnpm --prefix frontend/ run check:eslint
        language: system
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        pass_filenames: false
  - repo: local # openapi-schema typescript from the openapi-schema of the backend
    hooks:
      - id: openapi-typescript
        name: openapi-typescript
        entry: pnpm --prefix frontend/ run generate-openapi
        language: system
        files: backend/openapi-schema.yml
        pass_filenames: false
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm --prefix frontend/ run check:tsc
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: format
        name: format
        entry: pnpm --prefix frontend/ run format
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: pnpm_test
        name: pnpm test
        entry: pnpm --prefix frontend/ run test
        language: system
        files: frontend/.*
        pass_filenames: false

🧱 Scale preview video to 480p and keep audio file
  frontend/src/editor/player.tsx
  worker/transcribee_worker/config.py
  worker/transcribee_worker/reencode.py
  worker/transcribee_worker/worker.py
Due: worker-pyright, eslint, tsc, format, pnpm_test

🧹 Enable video preview based on media tags
  frontend/src/editor/player.tsx
  frontend/src/utils/use_audio.ts
Due: eslint, tsc, format, pnpm_test

🐛 Fix reencode progress calculation
  worker/transcribee_worker/worker.py
Due: worker-pyright

🧱 Include video in reencoded preview media
  frontend/src/editor/player.tsx
  worker/transcribee_worker/config.py
  worker/transcribee_worker/reencode.py
  worker/transcribee_worker/worker.py
Due: worker-pyright, eslint, tsc, format, pnpm_test

✨ Add space for video below document content
  frontend/src/editor/player.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/pages/document.tsx
Due: eslint, tsc, format, pnpm_test

Integrate PR review feedback
  frontend/src/editor/export/webvtt.tsx
  frontend/src/utils/export_to_podlove.ts
Due: eslint, tsc, format, pnpm_test

feat(frontend) - Export to Podlove Publisher
  frontend/src/editor/export/webvtt.tsx
  frontend/src/utils/export_to_podlove.ts
Due: eslint, tsc, format, pnpm_test

♻️ Refactor podlove export code
  frontend/src/editor/export/webvtt.tsx
  frontend/src/utils/export_to_podlove.ts
Due: eslint, tsc, format, pnpm_test

🚸 Show error message if podlove export not possible
  frontend/src/editor/export/webvtt.tsx
Due: eslint, tsc, format, pnpm_test

🚸 Add nix files
  nix/common.nix
  nix/default.nix
  nix/pkgs/backend.nix
  nix/pkgs/frontend.nix
  nix/pkgs/worker.nix
  nix/services/worker.nix
Due: none

🚸 Get name and version of nix derivations from project files
  nix/common.nix
  nix/pkgs/backend.nix
  nix/pkgs/frontend.nix
  nix/pkgs/worker.nix
Due: none

🐛 Calculate query count using session events
  backend/transcribee_backend/db/__init__.py
Due: backend-pyright, backend-openapi, backend-tests

🚸 Set cargo home to tmp directory in worker nix derivation
  nix/pkgs/worker.nix
Due: none

🧹 Simplify version and allow to pass infos via env variables
  frontend/src/common/footer.tsx
  frontend/src/common/virtual:git-version.d.ts
  frontend/vite.config.js
Due: eslint, tsc, format, pnpm_test

🚸 Pass git infos in nix derivation
  nix/pkgs/frontend.nix
  shell.nix
Due: none

🐛 Configure npm to use temp dir in frontend nix derivation
  nix/pkgs/frontend.nix
Due: none

Do not reload worker when models change
  worker/run.py
Due: worker-pyright

Fix signal handling of worker when reload is enabled
  worker/run.py
Due: worker-pyright

✨ Stop worker gracefully on sigterm
  worker/run.py
Due: worker-pyright

✨ Allow to cancel worker shutdown via SIGUSR1
  worker/run.py
Due: worker-pyright

🐛 Add missing variable to frontend nix derivation
  nix/pkgs/frontend.nix
Due: none

🐛 Fix versionInfo check in frontend nix derivation
  nix/pkgs/frontend.nix
Due: none

🐛 Reencode: capture stderr & check return code
  worker/transcribee_worker/reencode.py
Due: worker-pyright
