Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-openapi, openapi-typescript, tsc, format, pnpm_test

django-openapi:
  name: django-openapi
  entry: pdm run -p backend/ manage generateschema --file openapi-schema.yml
  language: python
  pass_filenames: false

openapi-typescript:
  name: openapi-typescript
  entry: pnpm --prefix frontend/ run generate-openapi
  language: node
  pass_filenames: false

tsc:
  name: tsc
  entry: pnpm --prefix frontend/ run check:tsc
  language: node
  pass_filenames: false

format:
  name: format
  entry: pnpm --prefix frontend/ run check:format
  language: node
  pass_filenames: false

pnpm_test:
  name: pnpm test
  entry: pnpm --prefix frontend/ run test:fast
  language: node
  pass_filenames: false

🐬 use select for playback rate
  frontend/src/editor/player.tsx
Due: tsc, format, pnpm_test

✨ add playback speed controls
  frontend/src/components/dropdown.tsx
  frontend/src/editor/player.tsx
Due: tsc, format, pnpm_test

💄 Make speaker bar slightly wider
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

💄 Fix scrollbar for wavesurfer bar
  frontend/src/editor/player.tsx
Due: tsc, format, pnpm_test

❌ close popups when they use focus
  frontend/src/components/dropdown.tsx
  frontend/src/components/modal.tsx
  frontend/src/components/popup.tsx
  frontend/src/utils/use_blur.ts
Due: tsc, format, pnpm_test

💅 animate popups
  frontend/src/components/popup.tsx
Due: tsc, format, pnpm_test

🧹 remove dom elements of hidden popups
  frontend/src/components/dropdown.tsx
  frontend/src/components/popup.tsx
  frontend/src/utils/use_state_delayed.ts
Due: tsc, format, pnpm_test

Rename useOnBlur -> useOnClickOutside
  frontend/src/components/dropdown.tsx
  frontend/src/components/popup.tsx
  frontend/src/utils/use_on_click_outside.ts
Due: tsc, format, pnpm_test

Fix event handling workaround for closing overlays
  frontend/src/editor/transcription_editor.tsx
  frontend/src/utils/use_blur.ts
Due: tsc, format, pnpm_test

Use MediaElement as wafesurfer backend
  frontend/src/editor/player.tsx
Due: tsc, format, pnpm_test

backend: batch send initial automerge changes
  backend/transcribee_backend/helpers/sync.py
Due: django-openapi

Remove editable proto from worker deps
  worker/pdm.lock
  worker/pyproject.toml
Due: none

worker: discard unneeded websocket messages
  worker/transcribee_worker/api_client.py
  worker/transcribee_worker/document.py
Due: none

💾 Store playback speed in local storage
  frontend/src/editor/player.tsx
  frontend/src/utils/use_local_storage.ts
Due: tsc, format, pnpm_test

🐞 set max_size=None in worker websocket
  worker/transcribee_worker/api_client.py
Due: none

⌨️ Tap tab tab to skip
  frontend/src/editor/player.tsx
Due: tsc, format, pnpm_test

😵‍💫 Add loading spinner to new document modal
  frontend/src/components/button.tsx
  frontend/src/components/loading_spinner.tsx
  frontend/src/pages/new_document.tsx
Due: tsc, format, pnpm_test

💅 Keep button width when showing loading spinner
  frontend/src/components/button.tsx
  frontend/src/components/loading_spinner.tsx
  frontend/src/pages/new_document.tsx
Due: tsc, format, pnpm_test

🐛 Fix type of document.speaker_names
  proto/transcribee_proto/document.py
Due: none

refactor worker progress callback
  worker/transcribee_worker/identify_speakers.py
  worker/transcribee_worker/reencode.py
  worker/transcribee_worker/torchaudio_align.py
  worker/transcribee_worker/types.py
  worker/transcribee_worker/whisper_transcribe.py
  worker/transcribee_worker/worker.py
Due: none

🙈 remove half-finished word-highlight code
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

✨ display current transcribee version in frontend
  frontend/src/common/version.tsx
  frontend/src/common/virtual:git-version.d.ts
  frontend/src/components/tooltip.tsx
  frontend/src/pages/document.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/new_document.tsx
  frontend/src/pages/page_not_found.tsx
  frontend/src/pages/user_home.tsx
  frontend/vite.config.js
Due: tsc, format, pnpm_test

🐞 fix useStateDelayed rapid toggling
  frontend/src/utils/use_state_delayed.ts
Due: tsc, format, pnpm_test

Path conditions:
  django-openapi: any of: backend/.*
  openapi-typescript: any of: backend/openapi-schema.yml
  tsc: any of: frontend/.*
  format: any of: frontend/.*
  pnpm_test: any of: frontend/.*
