Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-openapi, openapi-typescript, tsc, format, pnpm_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # python checks
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        exclude: ^backend/.*/migrations/.*$
  - repo: local  # update openapi-schema of the backend
    hooks:
      - id: django-openapi
        name: django-openapi
        entry: pdm run -p backend/ manage generateschema --file openapi-schema.yml
        language: python
        files: backend/.*
        pass_filenames: false

  # frontend checks
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.35.0
    hooks:
      - id: eslint
        additional_dependencies:
          - eslint@8.35.0
          - eslint-config-prettier@8.6.0
          - eslint-plugin-import@2.27.5
          - eslint-plugin-react@7.32.2
          - "@typescript-eslint/eslint-plugin@5.54.0"
          - "@typescript-eslint/parser@5.54.0"
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]
        args: ["-c", "frontend/.eslintrc.json", "--max-warnings", "0"]
  - repo: local  # openapi-schema typescript from the openapi-schema of the backend
    hooks:
      - id: openapi-typescript
        name: openapi-typescript
        entry: pnpm --prefix frontend/ run generate-openapi
        language: node
        files: backend/openapi-schema.yml
        pass_filenames: false
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm --prefix frontend/ run check:tsc
        language: node
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: format
        name: format
        entry: pnpm --prefix frontend/ run check:format
        language: node
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: pnpm_test
        name: pnpm test
        entry: pnpm --prefix frontend/ run test:fast
        language: node
        files: frontend/.*
        pass_filenames: false

💥 Mark task as failed on exception
  backend/transcribee_backend/routers/task.py
  worker/transcribee_worker/worker.py
Due: django-openapi

🧑‍💻 Add script to reset failed task(s)
  backend/scripts/reset_task.py
Due: django-openapi

🐛 Cancel pending tasks if worker fails
  worker/transcribee_worker/util.py
Due: none

✨ Move task attempts to extra model, limit retries
  backend/openapi-schema.yml
  backend/pyproject.toml
  backend/tests/test_doc.py
  backend/transcribee_backend/auth.py
  backend/transcribee_backend/config.py
  backend/transcribee_backend/db/migrations/versions/6392770332cd_add_taskattempt.py
  backend/transcribee_backend/models/__init__.py
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/routers/document.py
  backend/transcribee_backend/routers/task.py
  frontend/src/editor/worker_status.tsx
  frontend/src/openapi-schema.ts
Due: django-openapi, openapi-typescript, tsc, format, pnpm_test

♻️ Move attempt timeouting into repeating task
  backend/transcribee_backend/main.py
  backend/transcribee_backend/routers/task.py
Due: django-openapi

♻️ Move attempt timeouting into repeating task
  backend/transcribee_backend/helpers/repeated_tasks.py
  backend/transcribee_backend/helpers/tasks.py
Due: django-openapi

♻️ Send worker keepalive periodic, not on progress update
  backend/transcribee_backend/helpers/periodic_tasks.py
  backend/transcribee_backend/main.py
  worker/transcribee_worker/config.py
  worker/transcribee_worker/worker.py
Due: django-openapi

♻️ Add SessionContextManager instead of next(get_session())
  backend/scripts/create_user.py
  backend/scripts/create_worker.py
  backend/scripts/reset_task.py
  backend/scripts/set_password.py
  backend/transcribee_backend/db/__init__.py
Due: django-openapi

🚑️ Run add_document_media_file in executor
  worker/transcribee_worker/worker.py
Due: none

💚 Add latest tag for main branch docker images
  .github/workflows/docker.yml
Due: none

init logout fixl
  backend/transcribee_backend/routers/user.py
  frontend/src/api/user.ts
  frontend/src/common/top_bar.tsx
Due: django-openapi, tsc, format, pnpm_test

updated openapi docs; lint fix;
  backend/openapi-schema.yml
  backend/transcribee_backend/routers/user.py
Due: django-openapi, openapi-typescript

add periodic task; updated docker updates;
  backend/transcribee_backend/config.py
  backend/transcribee_backend/helpers/tasks.py
  backend/transcribee_backend/main.py
  frontend/src/common/top_bar.tsx
  packaging/Dockerfile
Due: django-openapi, tsc, format, pnpm_test

🎨 Add ruff & pyright
  .flake8
  .pre-commit-config.yaml
  .ruff.toml
  backend/pdm.lock
  backend/pyproject.toml
  backend/scripts/reset_task.py
  backend/transcribee_backend/db/migrations/env.py
  backend/transcribee_backend/db/migrations/versions/14b5324ec3e2_add_task_completion_data_document_.py
  backend/transcribee_backend/db/migrations/versions/1ec1e251173a_init.py
  backend/transcribee_backend/db/migrations/versions/6392770332cd_add_taskattempt.py
  backend/transcribee_backend/db/migrations/versions/fc7c9d045329_cascade_document_task_deletion.py
  backend/transcribee_backend/helpers/tasks.py
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/routers/document.py
  backend/transcribee_backend/routers/task.py
  worker/pdm.lock
  worker/pyproject.toml
  worker/transcribee_worker/api_client.py
  worker/transcribee_worker/document.py
  worker/transcribee_worker/identify_speakers.py
  worker/transcribee_worker/torchaudio_align.py
  worker/transcribee_worker/whisper_transcribe.py
  worker/transcribee_worker/worker.py
Due: django-openapi

enable isort for ruff
  .ruff.toml
  backend/transcribee_backend/auth.py
  backend/transcribee_backend/db/migrations/env.py
  backend/transcribee_backend/db/migrations/versions/6392770332cd_add_taskattempt.py
  backend/transcribee_backend/helpers/tasks.py
  backend/transcribee_backend/main.py
  backend/transcribee_backend/models/document.py
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/routers/document.py
  backend/transcribee_backend/routers/task.py
  backend/transcribee_backend/routers/user.py
  worker/transcribee_worker/api_client.py
  worker/transcribee_worker/document.py
  worker/transcribee_worker/worker.py
Due: django-openapi

fix ruff on NixOS
  .pre-commit-config.yaml
  packaging/shell.nix
Due: none

✨ Allow changing password
  backend/openapi-schema.yml
  backend/transcribee_backend/models/user.py
  backend/transcribee_backend/routers/user.py
  frontend/src/api/user.ts
  frontend/src/common/top_bar.tsx
  frontend/src/components/change_password.tsx
  frontend/src/openapi-schema.ts
Due: django-openapi, openapi-typescript, tsc, format, pnpm_test

fixed logout;
  backend/transcribee_backend/config.py
  backend/transcribee_backend/helpers/tasks.py
  backend/transcribee_backend/main.py
  backend/transcribee_backend/routers/user.py
  frontend/src/api/user.ts
  frontend/src/common/top_bar.tsx
  packaging/Dockerfile
Due: django-openapi, tsc, format, pnpm_test

lint fix;
  backend/transcribee_backend/main.py
Due: django-openapi

Use self hosted macOS actions runner
  .github/workflows/lint.yml
Due: none

Include runner arch in cache keys
  .github/workflows/lint.yml
Due: none

Use cachix action to install nix
  .github/workflows/lint.yml
Due: none

removed unnecessary 'all()'
  backend/transcribee_backend/helpers/tasks.py
Due: django-openapi

✨ Allow setting model / language on new doc page
  backend/data/models.json
  backend/openapi-schema.yml
  backend/tests/test_doc.py
  backend/tests/test_performance.py
  backend/transcribee_backend/config.py
  backend/transcribee_backend/main.py
  backend/transcribee_backend/routers/config.py
  backend/transcribee_backend/routers/document.py
  frontend/src/api/config.ts
  frontend/src/openapi-schema.ts
  frontend/src/pages/new_document.tsx
  worker/scripts/generate_model_config.py
Due: django-openapi, openapi-typescript, tsc, format, pnpm_test

✨ Delete user token from backend when logging out
  backend/openapi-schema.yml
  backend/transcribee_backend/helpers/tasks.py
  backend/transcribee_backend/routers/user.py
  frontend/src/api/user.ts
  frontend/src/common/top_bar.tsx
  frontend/src/openapi-schema.ts
Due: django-openapi, openapi-typescript, tsc, format, pnpm_test

🐛 Fix path to dev.sh in dockercontainer
  packaging/Dockerfile
Due: none

🗑️ Remove expired user token via periodic task
  backend/transcribee_backend/helpers/tasks.py
  backend/transcribee_backend/main.py
Due: django-openapi
