Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-openapi, openapi-typescript, tsc, format, pnpm_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # python checks
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        exclude: ^backend/.*/migrations/.*$
  - repo: local  # update openapi-schema of the backend
    hooks:
      - id: django-openapi
        name: django-openapi
        entry: pdm run -p backend/ manage generateschema --file openapi-schema.yml
        language: python
        files: backend/.*
        pass_filenames: false

  # frontend checks
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.35.0
    hooks:
      - id: eslint
        additional_dependencies:
          - eslint@8.35.0
          - eslint-config-prettier@8.6.0
          - eslint-plugin-import@2.27.5
          - eslint-plugin-react@7.32.2
          - "@typescript-eslint/eslint-plugin@5.54.0"
          - "@typescript-eslint/parser@5.54.0"
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]
        args: ["-c", "frontend/.eslintrc.json", "--max-warnings", "0"]
  - repo: local  # openapi-schema typescript from the openapi-schema of the backend
    hooks:
      - id: openapi-typescript
        name: openapi-typescript
        entry: pnpm --prefix frontend/ run generate-openapi
        language: node
        files: backend/openapi-schema.yml
        pass_filenames: false
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm --prefix frontend/ run check:tsc
        language: node
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: format
        name: format
        entry: pnpm --prefix frontend/ run check:format
        language: node
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: pnpm_test
        name: pnpm test
        entry: pnpm --prefix frontend/ run test:fast
        language: node
        files: frontend/.*
        pass_filenames: false

➖ Replace react-responsive with custom useMediaQuery impl
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/editor/debug_panel.tsx
  frontend/src/editor/worker_status.tsx
  frontend/src/utils/use_media_query.ts
Due: tsc, format, pnpm_test

🩹 Remove editable transcribee_proto from dev deps
  backend/pdm.lock
  backend/pyproject.toml
Due: django-openapi

🐛 Set vtt as default subtitle export
  frontend/src/editor/webvtt_export.tsx
Due: tsc, format, pnpm_test

Enable seeking by holding player arrow buttons
  frontend/src/editor/player.tsx
  frontend/src/utils/button_hooks.ts
Due: tsc, format, pnpm_test

🐞 use backwards arrow also for forward the im/ImForward2 Icon seems to be a bit off center
  frontend/src/editor/player.tsx
Due: tsc, format, pnpm_test

Make player arrow buttons jump 2 seconds
  frontend/src/editor/player.tsx
Due: tsc, format, pnpm_test

refactor worker
  worker/transcribee_worker/api_client.py
  worker/transcribee_worker/document.py
  worker/transcribee_worker/identify_speakers.py
  worker/transcribee_worker/reencode.py
  worker/transcribee_worker/torchaudio_align.py
  worker/transcribee_worker/util.py
  worker/transcribee_worker/whisper_transcribe.py
  worker/transcribee_worker/worker.py
Due: none

frontend: Batch initial load
  frontend/src/editor/automerge_websocket_editor.ts
Due: tsc, format, pnpm_test

frontend: fix export dialog title
  frontend/src/editor/webvtt_export.tsx
Due: tsc, format, pnpm_test

👷 Run backend tests in ci
  .pre-commit-config.yaml
Due: none

✅ Relax performance tests limits
  backend/tests/test_performance.py
Due: django-openapi

🔒️ Add check that users own document
  backend/tests/conftest.py
  backend/tests/test_doc.py
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/routers/document.py
Due: django-openapi

backend: use GZipMiddleware
  backend/transcribee_backend/main.py
Due: django-openapi

reduce information transmitted for list_tasks
  backend/openapi-schema.yml
  backend/transcribee_backend/models/task.py
  frontend/src/editor/worker_status.tsx
  frontend/src/openapi-schema.ts
Due: django-openapi, openapi-typescript, tsc, format, pnpm_test

🐬 add color indicators for speakers
  frontend/src/components/dropdown.tsx
  frontend/src/editor/automerge_websocket_editor.ts
  frontend/src/editor/speaker_colors.tsx
  frontend/src/editor/speaker_dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/pages/document.tsx
Due: tsc, format, pnpm_test

frontend: chain onDocChange override
  frontend/src/editor/automerge_websocket_editor.ts
Due: tsc, format, pnpm_test

🐞 re-render component tree on document updates
  frontend/src/editor/automerge_websocket_editor.ts
Due: tsc, format, pnpm_test

🎨 use palette for speaker colors
  frontend/src/editor/speaker_colors.tsx
Due: tsc, format, pnpm_test

💯 set confidence to 1 for user corrected atoms
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

💅 use gradient for confidence colors
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

🐬 use select for playback rate
  frontend/src/editor/player.tsx
Due: tsc, format, pnpm_test

💄 Make speaker bar slightly wider
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

💄 Fix scrollbar for wavesurfer bar
  frontend/src/editor/player.tsx
Due: tsc, format, pnpm_test

✨ add playback speed controls
  frontend/src/components/dropdown.tsx
  frontend/src/editor/player.tsx
Due: tsc, format, pnpm_test

🚑️ Re-Add document to assigned task response
  backend/openapi-schema.yml
  backend/transcribee_backend/models/task.py
  frontend/src/openapi-schema.ts
Due: django-openapi, openapi-typescript, tsc, format, pnpm_test

add presence
  backend/transcribee_backend/helpers/sync.py
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/routers/document.py
  frontend/src/editor/automerge_websocket_editor.ts
  frontend/src/editor/transcription_editor.tsx
Due: django-openapi, tsc, format, pnpm_test
