Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

backend-pyright:
  name: Run typechecker for backend
  entry: pdm run -p backend/ pyright backend/transcribee_backend
  language: system
  pass_filenames: false

worker-pyright:
  name: Run typechecker for worker
  entry: pdm run -p worker/ pyright worker/transcribee_worker
  language: system
  pass_filenames: false

backend-openapi:
  name: update openapi-schema of the backend
  entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
  language: system
  pass_filenames: false

backend-tests:
  name: run backend tests
  entry: pdm run -p backend/ test
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: pnpm --prefix frontend/ run check:eslint
  language: system
  pass_filenames: false

openapi-typescript:
  name: openapi-typescript
  entry: pnpm --prefix frontend/ run generate-openapi
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: pnpm --prefix frontend/ run check:tsc
  language: system
  pass_filenames: false

format:
  name: format
  entry: pnpm --prefix frontend/ run format
  language: system
  pass_filenames: false

pnpm_test:
  name: pnpm test
  entry: pnpm --prefix frontend/ run test
  language: system
  pass_filenames: false

desktop: only ever have one document with one save_path
  desktop/src-tauri/src/file_handling.rs
Due: none

desktop: save reencoded files in transcribee documents
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
Due: none

desktop: add support for speaker identification
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/worker_plugin.rs
  desktop/src/pages/new_transcript_dialog.tsx
  desktop/worker-adapter/src/handlers.rs
  desktop/worker-adapter/src/sync_message.rs
  desktop/worker-adapter/src/worker_adapter.rs
Due: eslint

desktop: basic reencoding of media files
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/worker_plugin.rs
  desktop/src/pages/document.tsx
  desktop/src/pages/home.tsx
  desktop/worker-adapter/src/handlers.rs
  desktop/worker-adapter/src/state.rs
  desktop/worker-adapter/src/worker_adapter.rs
  desktop/worker-adapter/tests/integration_test.rs
Due: eslint

desktop: only show quit confirmation dialog when transcription is running
  desktop/src-tauri/src/menu.rs
Due: none

desktop: mark unfinished transcription jobs as aborted on startup
  desktop/src-tauri/src/lib.rs
  desktop/src/pages/home.tsx
  desktop/worker-adapter/src/state.rs
Due: eslint

worker: change the way in which we select reencode profiles
  worker/transcribee_worker/config.py
  worker/transcribee_worker/worker.py
Due: worker-pyright

worker: be less verbose during idle
  worker/transcribee_worker/worker.py
Due: worker-pyright

worker: cleanup unused settings
  worker/transcribee_worker/config.py
Due: worker-pyright

worker: add reencode support for desktop + tests
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/file_handling.rs
  desktop/worker-adapter/Cargo.lock
  desktop/worker-adapter/Cargo.toml
  desktop/worker-adapter/src/handlers.rs
  desktop/worker-adapter/src/state.rs
  desktop/worker-adapter/src/worker_adapter.rs
  desktop/worker-adapter/tests/integration_test.rs
  worker/transcribee_worker/worker.py
Due: worker-pyright

desktop: refactor media file handling to be in one file
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/media_file_serve.rs
Due: none

desktop: refactor cmds to be in one file
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
Due: none

desktop: refactor our code into tauri plugins
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/media_file_serve.rs
  desktop/src-tauri/src/menu.rs
  desktop/src-tauri/src/worker_plugin.rs
Due: none

desktop: fix media file handling under linux
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/media_file_serve.rs
  desktop/src-tauri/src/menu.rs
  desktop/src/pages/document.tsx
Due: eslint

desktop: add token to media file urls
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/file_handling.rs
Due: none

desktop: use http media file serving on all platforms
  desktop/src-tauri/src/media_file_serve.rs
Due: none

frontend,desktop: install ui-common deps in prepare script
  desktop/package.json
  frontend/package.json
  packaging/docker/Dockerfile
  packaging/install_dependencies.sh
Due: tsc, format, pnpm_test

chore: replace protected spaces by normal spaces
  desktop/src-tauri/icons/generate_icons.sh
  doc/self_hosting.md
  packaging/compose-deploy.yml
  worker/packaging/build_worker_bundle.py
Due: worker-pyright

desktop: add more tauri temp files to gitignore
  desktop/src-tauri/.gitignore
Due: none

Build desktop macOS releases
  .github/workflows/release.yml
Due: none

Fix prepare_worker.py on windows
  desktop/src-tauri/prepare_worker.py
Due: none

Build desktop windows releases
  .github/workflows/release.yml
Due: none

desktop: add progress indicator for model downloads
  desktop/src/pages/home.tsx
  ui-common/components/transcription_progress.tsx
Due: eslint

Path conditions:
  backend-pyright: any of: backend/.*
  worker-pyright: any of: worker/.*
  backend-openapi: any of: backend/.*
  backend-tests: any of: backend/.*
  eslint: any of: \.[jt]sx?$
  openapi-typescript: any of: backend/openapi-schema.yml
  tsc: any of: frontend/.*
  format: any of: frontend/.*
  pnpm_test: any of: frontend/.*
