Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-openapi, openapi-typescript, tsc, format, pnpm_test

django-openapi:
  name: django-openapi
  entry: pdm run -p backend/ manage generateschema --file openapi-schema.yml
  language: python
  pass_filenames: false

openapi-typescript:
  name: openapi-typescript
  entry: pnpm --prefix frontend/ run generate-openapi
  language: node
  pass_filenames: false

tsc:
  name: tsc
  entry: pnpm --prefix frontend/ run check:tsc
  language: node
  pass_filenames: false

format:
  name: format
  entry: pnpm --prefix frontend/ run check:format
  language: node
  pass_filenames: false

pnpm_test:
  name: pnpm test
  entry: pnpm --prefix frontend/ run test:fast
  language: node
  pass_filenames: false

💅 get rid of custom css; use tailwind
  frontend/src/components/popup.tsx
  frontend/src/index.css
  frontend/tailwind.config.js
Due: tsc, format, pnpm_test

🫧 close old popups when new one is opened
  frontend/src/components/popup.tsx
Due: tsc, format, pnpm_test

💅 add arrow to popup
  frontend/src/components/popup.tsx
  frontend/src/index.css
Due: tsc, format, pnpm_test

✨ add worker progress UI
  frontend/src/api.ts
  frontend/src/api/document.ts
  frontend/src/components/popup.tsx
  frontend/src/editor/worker_status.tsx
  frontend/src/index.css
  frontend/src/pages/document.tsx
Due: tsc, format, pnpm_test

🚀 support more complex graphs in worker status ui
  frontend/src/editor/worker_status.tsx
Due: tsc, format, pnpm_test

⬆️ Bump automerge(fix ci)
  worker/pdm.lock
  worker/pyproject.toml
Due: none

✨ add api endpoint for getting a documents tasks
  backend/openapi-schema.yml
  backend/transcribee_backend/api/views.py
  backend/transcribee_backend/base/serializers.py
  frontend/src/openapi-schema.ts
Due: django-openapi, openapi-typescript, tsc, format, pnpm_test

⬆️ Upgrade cache action to v3
  .github/workflows/lint.yml
Due: none

⬆️ bump automerge-py in backend
  backend/pdm.lock
  backend/pyproject.toml
Due: django-openapi

Update slate-automerge-doc
  frontend/pnpm-lock.yaml
Due: tsc, format, pnpm_test

Use automerge text in worker
  worker/transcribee_worker/worker.py
Due: none

📦 upgrade @automerge/automerge to ^2.0.3
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: tsc, format, pnpm_test

Connect slate to automerge
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/editor/automerge_websocket_provider.ts
  frontend/src/editor/debug_panel.tsx
  frontend/src/editor/slate_types.d.ts
  frontend/src/editor/transcription_editor.tsx
  frontend/src/editor/types.ts
  frontend/src/utils/export/webvtt.ts
  worker/transcribee_worker/worker.py
Due: tsc, format, pnpm_test

Remove unused Yjs WebsocketProvider
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/editor/websocket_provider.ts
Due: tsc, format, pnpm_test

add missing deps to shell.nix
  shell.nix
Due: none

use torch cpu version
  worker/pdm.lock
  worker/pyproject.toml
Due: none

♻️ Move packaging into seperate folder; fix libraries
  .envrc
  Procfile
  doc/development_setup.md
  packaging/Procfile
  packaging/README.md
  packaging/dev.sh
  packaging/shell.nix
  packaging/start_backend.sh
Due: none

🙈 Add worker/.env to gitignore
  worker/.gitignore
Due: none

📦 add automerge-wasm dependency
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: tsc, format, pnpm_test

👷‍♀️ switch to macos-xl runners
  .github/workflows/lint.yml
Due: none

🔧 Remove whisper segment length limit
  worker/transcribee_worker/whisper_transcribe.py
Due: none

Path conditions:
  django-openapi: any of: backend/.*
  openapi-typescript: any of: backend/openapi-schema.yml
  tsc: any of: frontend/.*
  format: any of: frontend/.*
  pnpm_test: any of: frontend/.*
