Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

backend-pyright:
  name: Run typechecker for backend
  entry: pdm run -p backend/ pyright backend/transcribee_backend
  language: system
  pass_filenames: false

worker-pyright:
  name: Run typechecker for worker
  entry: pdm run -p worker/ pyright worker/transcribee_worker
  language: system
  pass_filenames: false

backend-openapi:
  name: update openapi-schema of the backend
  entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
  language: system
  pass_filenames: false

backend-tests:
  name: run backend tests
  entry: pdm run -p backend/ test
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: pnpm --prefix frontend/ run check:eslint
  language: system
  pass_filenames: false

openapi-typescript:
  name: openapi-typescript
  entry: pnpm --prefix frontend/ run generate-openapi
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: pnpm --prefix frontend/ run check:tsc
  language: system
  pass_filenames: false

format:
  name: format
  entry: pnpm --prefix frontend/ run format
  language: system
  pass_filenames: false

pnpm_test:
  name: pnpm test
  entry: pnpm --prefix frontend/ run test
  language: system
  pass_filenames: false

🧑‍💻 dev.sh: Wait for postgres before starting backend
  .github/workflows/lint.yml
  packaging/setup_backend.sh
  shell.nix
Due: none

🧑‍💻 Move redis database file to db folder
  packaging/Procfile
Due: none

⬆️ Update automerge in frontend
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/document.test.ts
  frontend/src/document.ts
  frontend/src/editor/automerge_websocket_editor.ts
Due: eslint, tsc, format, pnpm_test

🐛 Allow missing deps on loading initial document
  frontend/src/editor/automerge_websocket_editor.ts
Due: eslint, tsc, format, pnpm_test

💅 add help texts to new document page
  frontend/src/components/form.tsx
  frontend/src/components/popup.tsx
  frontend/src/pages/new_document.tsx
Due: eslint, tsc, format, pnpm_test

🐬 change model selection to slider
  frontend/src/components/form.tsx
  frontend/src/pages/new_document.tsx
Due: eslint, tsc, format, pnpm_test

Adjust new document styling
  frontend/src/pages/new_document.tsx
Due: eslint, tsc, format, pnpm_test

💅 capitalize language names
  frontend/src/pages/languageNames.json
Due: tsc, format, pnpm_test

💅 use pretty names for language selection
  frontend/src/pages/languageNames.json
  frontend/src/pages/new_document.tsx
Due: eslint, tsc, format, pnpm_test

Style quality slider for all browsers
  frontend/src/components/form.tsx
Due: eslint, tsc, format, pnpm_test

📣 add better logging to change detection in worker
  worker/run.py
Due: worker-pyright

Add discreet option to IconButton
  frontend/src/components/button.tsx
  frontend/src/components/popup.tsx
Due: eslint, tsc, format, pnpm_test

Improve file picker UX
  frontend/src/pages/new_document.tsx
Due: eslint, tsc, format, pnpm_test

🐛 New document: Fix wrapping long filenames
  frontend/src/pages/new_document.tsx
Due: eslint, tsc, format, pnpm_test

📈 add active users metric
  backend/transcribee_backend/auth.py
  backend/transcribee_backend/db/migrations/versions/ef78fa0844f4_add_user_last_seen.py
  backend/transcribee_backend/metrics.py
  backend/transcribee_backend/models/user.py
  backend/transcribee_backend/routers/user.py
Due: backend-pyright, backend-openapi, backend-tests

📈 add active documents metric
  backend/transcribee_backend/metrics.py
Due: backend-pyright, backend-openapi, backend-tests

🔨 Add password auto generation to create_user script
  backend/pdm.lock
  backend/scripts/create_user.py
Due: backend-pyright, backend-openapi, backend-tests

💄 Sticky TopBar
  frontend/src/common/top_bar.tsx
  frontend/src/pages/document.tsx
Due: eslint, tsc, format, pnpm_test

✨ add option for timestamps in plaintext export
  frontend/src/editor/export/plaintext.tsx
  frontend/src/utils/export/plaintext.ts
Due: eslint, tsc, format, pnpm_test

fix ci
  .github/workflows/build.yml
Due: none

nix: pin pdm to working version
  nix/pkgs/worker.nix
Due: none

nix: disable python checks for worker
  nix/pkgs/worker.nix
Due: none

Fix worker nix package
  .ruff.toml
  .vscode/settings.json
  backend/.gitignore
  backend/pdm.lock
  backend/pyproject.toml
  nix/pkgs/worker.nix
  proto/pyproject.toml
  shell.nix
  worker/.gitignore
  worker/pdm.lock
  worker/pyproject.toml
  worker/transcribee_worker/config.py
  worker/transcribee_worker/icu/__init__.pyi
  worker/transcribee_worker/worker.py
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests

Path conditions:
  backend-pyright: any of: backend/.*
  worker-pyright: any of: worker/.*
  backend-openapi: any of: backend/.*
  backend-tests: any of: backend/.*
  eslint: any of: \.[jt]sx?$
  openapi-typescript: any of: backend/openapi-schema.yml
  tsc: any of: frontend/.*
  format: any of: frontend/.*
  pnpm_test: any of: frontend/.*
