Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        exclude: .*/pnpm-lock.yaml$
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # python checks
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: Run ruff for python files
        entry: ruff check --config .ruff.toml --force-exclude --fix
        language: system
        'types_or': [python, pyi]
  - repo: local
    hooks:
      - id: backend-pyright
        name: Run typechecker for backend
        entry: pdm run -p backend/ pyright backend/transcribee_backend
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: worker-pyright
        name: Run typechecker for worker
        entry: pdm run -p worker/ pyright worker/transcribee_worker
        language: system
        files: worker/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-openapi
        name: update openapi-schema of the backend
        entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-tests
        name: run backend tests
        entry: pdm run -p backend/ test
        language: system
        files: backend/.*
        pass_filenames: false

  # frontend checks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: pnpm --prefix frontend/ run check:eslint
        language: system
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        pass_filenames: false
  - repo: local # openapi-schema typescript from the openapi-schema of the backend
    hooks:
      - id: openapi-typescript
        name: openapi-typescript
        entry: pnpm --prefix frontend/ run generate-openapi
        language: system
        files: backend/openapi-schema.yml
        pass_filenames: false
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm --prefix frontend/ run check:tsc
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: format
        name: format
        entry: pnpm --prefix frontend/ run format
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: pnpm_test
        name: pnpm test
        entry: pnpm --prefix frontend/ run test
        language: system
        files: frontend/.*
        pass_filenames: false

desktop: hook up progress reporting for running transcriptions
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/http_partial_content.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/tar.rs
  desktop/src/pages/document.tsx
  desktop/src/pages/home.tsx
  desktop/src/util/use_tauri_event.ts
  desktop/worker-adapter/Cargo.toml
  desktop/worker-adapter/src/handlers.rs
  desktop/worker-adapter/src/state.rs
  desktop/worker-adapter/src/worker_adapter.rs
Due: eslint

desktop: update @tauri-apps/plugin-log to match rust side
  desktop/package-lock.json
  desktop/package.json
Due: none

desktop: hook up basic recent documents ui
  desktop/src-tauri/src/file_handling.rs
  desktop/src/pages/home.tsx
Due: eslint

desktop: fix document order in documents_changed event
  desktop/src-tauri/src/file_handling.rs
Due: none

desktop: implement file handling flow
  desktop/package-lock.json
  desktop/package.json
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/capabilities/default.json
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/tar.rs
  desktop/src/pages/home.tsx
  desktop/worker-adapter/src/handlers.rs
  desktop/worker-adapter/src/worker_adapter.rs
Due: eslint

Fix dark mode background
  desktop/index.html
Due: none

Add new transcript dialog
  desktop/package-lock.json
  desktop/package.json
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/capabilities/default.json
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/lib.rs
  desktop/src/app.tsx
  desktop/src/pages/document.tsx
  desktop/src/pages/home.tsx
  desktop/src/pages/languages.json
  desktop/src/pages/new_transcript_dialog.tsx
  desktop/src/utils/window.ts
Due: eslint

Fix missing import in release build
  desktop/src-tauri/src/worker_plugin.rs
Due: none

Add macos menu and implement native window handling
  desktop/package-lock.json
  desktop/package.json
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/capabilities/default.json
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/menu.rs
  desktop/src-tauri/src/window.rs
  desktop/src-tauri/tauri.conf.json
  desktop/src/app.tsx
  desktop/src/pages/document.tsx
  desktop/src/pages/home.tsx
Due: eslint

desktop: better error handling for tauri commands
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/cmd_error.rs
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/worker_plugin.rs
Due: none

Move transcription quality input to ui-common
  desktop/src/pages/new_transcript_dialog.tsx
  frontend/src/pages/new_document.tsx
  ui-common/components/form.tsx
  ui-common/components/inputs/transcription_quality.tsx
Due: eslint, tsc, format, pnpm_test

Fix spacing in new document / transcript dialog
  desktop/src/pages/new_transcript_dialog.tsx
  frontend/src/pages/new_document.tsx
Due: eslint, tsc, format, pnpm_test

Move model language input to ui-common
  desktop/src/pages/new_transcript_dialog.tsx
  frontend/src/pages/languages.json
  frontend/src/pages/new_document.tsx
  ui-common/components/inputs/languages.json
  ui-common/components/inputs/model_language.tsx
Due: eslint, tsc, format, pnpm_test

Move speaker detection input to ui-common
  desktop/src/pages/new_transcript_dialog.tsx
  frontend/src/pages/new_document.tsx
  ui-common/components/inputs/speaker_detection.tsx
Due: eslint, tsc, format, pnpm_test

chore(desktop): add transcribee desktop deps to dev shell
  flake.nix
Due: none

chore: describe nix setup in desktop README.md
  desktop/README.md
Due: none

Use default color instead of black for logs
  desktop/src-tauri/src/lib.rs
Due: none

Have one file filter for all media files
  desktop/src/pages/new_transcript_dialog.tsx
Due: eslint

Log worker stderr as info instead of error level
  desktop/src-tauri/src/worker_plugin.rs
Due: none

fix(desktop): create parent as directory, not the transcribee document itself
  desktop/src-tauri/src/file_handling.rs
Due: none

Rename virtual:git-version to virtual-git-version
  frontend/src/components/footer.tsx
  frontend/src/types/virtual-git-version.d.ts
  frontend/vite.config.js
Due: eslint, tsc, format, pnpm_test

desktop: rework media file list to be stored
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src/pages/document.tsx
  desktop/src/pages/home.tsx
Due: eslint

desktop: dont prevent ctrl+s
  frontend/src/pages/document.tsx
  ui-common/editor/transcription_editor.tsx
Due: eslint, tsc, format, pnpm_test

desktop: add support to save files
  desktop/src-tauri/src/file_handling.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/menu.rs
  desktop/src-tauri/src/range_util.rs
  desktop/src-tauri/src/tar.rs
  desktop/src-tauri/src/transcribee_archive.rs
  desktop/src-tauri/src/window.rs
Due: none
