Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-openapi, openapi-typescript, tsc, format, pnpm_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # python checks
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        exclude: ^backend/.*/migrations/.*$
  - repo: local  # update openapi-schema of the backend
    hooks:
      - id: django-openapi
        name: django-openapi
        entry: pdm run -p backend/ manage generateschema --file openapi-schema.yml
        language: python
        files: backend/.*
        pass_filenames: false

  # frontend checks
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.35.0
    hooks:
      - id: eslint
        additional_dependencies:
          - eslint@8.35.0
          - eslint-config-prettier@8.6.0
          - eslint-plugin-import@2.27.5
          - eslint-plugin-react@7.32.2
          - "@typescript-eslint/eslint-plugin@5.54.0"
          - "@typescript-eslint/parser@5.54.0"
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]
        args: ["-c", "frontend/.eslintrc.json", "--max-warnings", "0"]
  - repo: local  # openapi-schema typescript from the openapi-schema of the backend
    hooks:
      - id: openapi-typescript
        name: openapi-typescript
        entry: pnpm --prefix frontend/ run generate-openapi
        language: node
        files: backend/openapi-schema.yml
        pass_filenames: false
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm --prefix frontend/ run check:tsc
        language: node
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: format
        name: format
        entry: pnpm --prefix frontend/ run check:format
        language: node
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: pnpm_test
        name: pnpm test
        entry: pnpm --prefix frontend/ run test:fast
        language: node
        files: frontend/.*
        pass_filenames: false

💅 more vertical space in md layout
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

💅 add current item indicator in speaker dropdown
  frontend/src/editor/speaker_dropdown.tsx
Due: tsc, format, pnpm_test

🐞 fix sticky speaker indecators for long names
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

🐞 unmount dropdown when not expanded
  frontend/src/components/dropdown.tsx
  frontend/src/editor/speaker_dropdown.tsx
Due: tsc, format, pnpm_test

🚀 improve performance of new layouting
  frontend/src/editor/speaker_dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/utils/document.ts
Due: tsc, format, pnpm_test

💄 Fix long names in speaker dropdown
  frontend/src/editor/speaker_dropdown.tsx
Due: tsc, format, pnpm_test

✌️ move dropdown arrow to the right
  frontend/src/components/dropdown.tsx
Due: tsc, format, pnpm_test

🐬 change all subsequent speaker-names in a block
  frontend/src/editor/speaker_dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

💅 add mobile optimized editor layout
  frontend/src/components/dropdown.tsx
  frontend/src/editor/speaker_dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

🔄 refactor: always forward props to first child
  frontend/src/components/dropdown.tsx
  frontend/src/components/form.tsx
  frontend/src/components/modal.tsx
  frontend/src/components/popup.tsx
  frontend/src/editor/speaker_dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/editor/webvtt_export.tsx
Due: tsc, format, pnpm_test

💅 add sticky speakers on large screens
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

🐬 inline speaker names into speaker dropdown
  frontend/src/components/dropdown.tsx
  frontend/src/editor/speaker_dropdown.tsx
Due: tsc, format, pnpm_test

💅 Adjust styling of speaker dropdown
  frontend/src/components/dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

🐞 take dark color scheme into account
  frontend/src/editor/speaker_dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

📄 reorder dom elements for better text selection
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

🐞 always keep speaker selection popup in view
  frontend/src/components/dropdown.tsx
  frontend/src/editor/player.tsx
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

🐞 fix speaker dropdown
  frontend/src/editor/speaker_dropdown.tsx
Due: tsc, format, pnpm_test

💅 combine same speaker markers
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

🐬 make mobile layout more even
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

🔄 refactor: use ComponentProps type
  frontend/src/components/button.tsx
  frontend/src/components/dropdown.tsx
  frontend/src/components/modal.tsx
  frontend/src/components/popup.tsx
  frontend/src/components/tooltip.tsx
  frontend/src/editor/speaker_dropdown.tsx
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

🐛 Set playback speed from local storage on initial wavesurfer load
  frontend/src/editor/player.tsx
Due: tsc, format, pnpm_test

💄 Increase speaker name contras on mobile
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

🐛 Cancel pending tasks if worker fails
  worker/transcribee_worker/util.py
Due: none

✨ Move task attempts to extra model, limit retries
  backend/openapi-schema.yml
  backend/pyproject.toml
  backend/tests/test_doc.py
  backend/transcribee_backend/auth.py
  backend/transcribee_backend/config.py
  backend/transcribee_backend/db/migrations/versions/6392770332cd_add_taskattempt.py
  backend/transcribee_backend/models/__init__.py
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/routers/document.py
  backend/transcribee_backend/routers/task.py
  frontend/src/editor/worker_status.tsx
  frontend/src/openapi-schema.ts
Due: django-openapi, openapi-typescript, tsc, format, pnpm_test

💥 Mark task as failed on exception
  backend/transcribee_backend/routers/task.py
  worker/transcribee_worker/worker.py
Due: django-openapi

💄 Show failed worker in WorkerStatus
  frontend/src/editor/worker_status.tsx
Due: tsc, format, pnpm_test

🧑‍💻 Add script to reset failed task(s)
  backend/scripts/reset_task.py
Due: django-openapi

♻️ Add SessionContextManager instead of next(get_session())
  backend/scripts/create_user.py
  backend/scripts/create_worker.py
  backend/scripts/reset_task.py
  backend/scripts/set_password.py
  backend/transcribee_backend/db/__init__.py
Due: django-openapi

♻️ Move attempt timeouting into repeating task
  backend/transcribee_backend/helpers/repeated_tasks.py
  backend/transcribee_backend/helpers/tasks.py
Due: django-openapi

♻️ Move attempt timeouting into repeating task
  backend/transcribee_backend/main.py
  backend/transcribee_backend/routers/task.py
Due: django-openapi

♻️ Send worker keepalive periodic, not on progress update
  backend/transcribee_backend/helpers/periodic_tasks.py
  backend/transcribee_backend/main.py
  worker/transcribee_worker/config.py
  worker/transcribee_worker/worker.py
Due: django-openapi
