Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        exclude: .*/pnpm-lock.yaml$
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # python checks
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: Run ruff for python files
        entry: ruff check --config .ruff.toml --force-exclude --fix
        language: system
        'types_or': [python, pyi]
  - repo: local
    hooks:
      - id: backend-pyright
        name: Run typechecker for backend
        entry: pdm run -p backend/ pyright backend/transcribee_backend
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: worker-pyright
        name: Run typechecker for worker
        entry: pdm run -p worker/ pyright worker/transcribee_worker
        language: system
        files: worker/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-openapi
        name: update openapi-schema of the backend
        entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-tests
        name: run backend tests
        entry: pdm run -p backend/ test
        language: system
        files: backend/.*
        pass_filenames: false

  # frontend checks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: pnpm --prefix frontend/ run check:eslint
        language: system
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        pass_filenames: false
  - repo: local # openapi-schema typescript from the openapi-schema of the backend
    hooks:
      - id: openapi-typescript
        name: openapi-typescript
        entry: pnpm --prefix frontend/ run generate-openapi
        language: system
        files: backend/openapi-schema.yml
        pass_filenames: false
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm --prefix frontend/ run check:tsc
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: format
        name: format
        entry: pnpm --prefix frontend/ run format
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: pnpm_test
        name: pnpm test
        entry: pnpm --prefix frontend/ run test
        language: system
        files: frontend/.*
        pass_filenames: false

Replace non-breaking space with normal space in README
  README.md
Due: none

Ignore __pycache__
  desktop/.gitignore
Due: none

Format native-deps.json
  desktop/src-tauri/native-deps.json
Due: none

add icons to transcribee-desktop
  desktop/README.md
  desktop/src-tauri/icons/128x128.png
  desktop/src-tauri/icons/128x128@2x.png
  desktop/src-tauri/icons/32x32.png
  desktop/src-tauri/icons/64x64.png
  desktop/src-tauri/icons/Square107x107Logo.png
  desktop/src-tauri/icons/Square142x142Logo.png
  desktop/src-tauri/icons/Square150x150Logo.png
  desktop/src-tauri/icons/Square284x284Logo.png
  desktop/src-tauri/icons/Square30x30Logo.png
  desktop/src-tauri/icons/Square310x310Logo.png
  desktop/src-tauri/icons/Square44x44Logo.png
  desktop/src-tauri/icons/Square71x71Logo.png
  desktop/src-tauri/icons/Square89x89Logo.png
  desktop/src-tauri/icons/StoreLogo.png
  desktop/src-tauri/icons/generate_icons.sh
  desktop/src-tauri/icons/icon.icns
  desktop/src-tauri/icons/icon.ico
  desktop/src-tauri/icons/icon.png
  desktop/src-tauri/icons/icon.svg
Due: none

🎉 Add desktop backend stub
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/backend.rs
  desktop/src-tauri/src/backend_plugin.rs
  desktop/src-tauri/src/lib.rs
Due: none

beautify tauri logs
  desktop/package-lock.json
  desktop/package.json
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/capabilities/default.json
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/worker_plugin.rs
Due: none

add initial standalone worker packaging
  .github/workflows/build_worker.yml
  worker/build_worker_bundle.py
  worker/native-deps.json
Due: worker-pyright

include the worker bundles in tauri app
  desktop/src-tauri/.gitignore
  desktop/src-tauri/download_native_deps.py
  desktop/src-tauri/native-deps.json
  desktop/src-tauri/prepare_resources.py
  desktop/src-tauri/prepare_worker.py
  desktop/src-tauri/tauri.conf.json
Due: none

Move backend to own crate & add standalone bin
  .vscode/settings.json
  desktop/desktop-backend/Cargo.lock
  desktop/desktop-backend/Cargo.toml
  desktop/desktop-backend/src/backend.rs
  desktop/desktop-backend/src/bin/standalone.rs
  desktop/desktop-backend/src/lib.rs
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/backend.rs
  desktop/src-tauri/src/backend_plugin.rs
  desktop/src-tauri/src/lib.rs
Due: backend-pyright, backend-openapi, backend-tests

✨ Desktop: Integrate backend with worker
  desktop/desktop-backend/src/backend.rs
  desktop/src-tauri/src/backend_plugin.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/worker_plugin.rs
Due: backend-pyright, backend-openapi, backend-tests

✨ Desktop backend: first routes, cli options
  .gitignore
  desktop/desktop-backend/Cargo.lock
  desktop/desktop-backend/Cargo.toml
  desktop/desktop-backend/src/backend.rs
  desktop/desktop-backend/src/bin/standalone.rs
  desktop/desktop-backend/src/lib.rs
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/src/backend_plugin.rs
Due: backend-pyright, backend-openapi, backend-tests

✨ Desktop: More routes, local media support in worker
  backend/openapi-schema.yml
  backend/transcribee_backend/models/document.py
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/routers/document.py
  desktop/desktop-backend/Cargo.lock
  desktop/desktop-backend/Cargo.toml
  desktop/desktop-backend/src/backend.rs
  desktop/desktop-backend/src/bin/standalone-backend.rs
  desktop/desktop-backend/src/bin/standalone.rs
  desktop/desktop-backend/src/handlers.rs
  desktop/desktop-backend/src/lib.rs
  desktop/desktop-backend/src/state.rs
  desktop/src-tauri/Cargo.lock
  frontend/src/openapi-schema.ts
  proto/transcribee_proto/api.py
  worker/transcribee_worker/config.py
  worker/transcribee_worker/worker.py
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

Add initial desktop application
  desktop/.gitignore
  desktop/README.md
  desktop/index.html
  desktop/package-lock.json
  desktop/package.json
  desktop/src-tauri/.gitignore
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/build.rs
  desktop/src-tauri/capabilities/default.json
  desktop/src-tauri/icons/icon.png
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/main.rs
  desktop/src-tauri/tauri.conf.json
  desktop/src/App.tsx
  desktop/src/main.tsx
  desktop/src/vite-env.d.ts
  desktop/tsconfig.json
  desktop/tsconfig.node.json
  desktop/vite.config.ts
Due: eslint

add icons to transcribee-desktop
  desktop/src-tauri/icons/128x128.png
  desktop/src-tauri/icons/128x128@2x.png
  desktop/src-tauri/icons/32x32.png
  desktop/src-tauri/icons/64x64.png
  desktop/src-tauri/icons/generate_icons.sh
  desktop/src-tauri/icons/icon.icns
  desktop/src-tauri/icons/icon.ico
  desktop/src-tauri/icons/icon.svg
  desktop/src-tauri/tauri.conf.json
Due: none

run worker in tauri app & add more beautiful logging
  desktop/package-lock.json
  desktop/package.json
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/capabilities/default.json
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/worker_plugin.rs
Due: none

include worker bundles in tauri app
  desktop/src-tauri/.gitignore
  desktop/src-tauri/prepare_worker.py
  desktop/src-tauri/tauri.conf.json
  worker/packaging/run_worker.sh.tmpl
Due: worker-pyright

Fix local deployment
  packaging/docker/Dockerfile
Due: none

📝 Move guidelines to bugbakery repo
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: none

worker: Add opt-in TwelveLabs Pegasus transcription backend
  worker/README.md
  worker/pyproject.toml
  worker/tests/test_pegasus_transcribe.py
  worker/transcribee_worker/config.py
  worker/transcribee_worker/pegasus_transcribe.py
  worker/transcribee_worker/worker.py
  worker/uv.lock
Due: worker-pyright

docker: fix error when TESTUSER_PASSWORD is not set
  packaging/docker/run.sh
Due: none

docker: allow WORKER_TOKEN_PATH to contain spaces
  packaging/docker/run.sh
Due: none

docker: allow to set secret_key from file
  packaging/docker/run.sh
Due: none

docker: specify application port
  packaging/docker/Dockerfile
Due: none

dev: fix setup_backend when using default socket file
  packaging/setup_backend.sh
Due: none

use url to configure redis connection
  backend/transcribee_backend/config.py
  backend/transcribee_backend/db/__init__.py
Due: backend-pyright, backend-openapi, backend-tests
