Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-openapi, openapi-typescript, tsc, format, pnpm_test

django-openapi:
  name: django-openapi
  entry: pdm run -p backend/ manage generateschema --file openapi-schema.yml
  language: python
  pass_filenames: false

openapi-typescript:
  name: openapi-typescript
  entry: pnpm --prefix frontend/ run generate-openapi
  language: node
  pass_filenames: false

tsc:
  name: tsc
  entry: pnpm --prefix frontend/ run check:tsc
  language: node
  pass_filenames: false

format:
  name: format
  entry: pnpm --prefix frontend/ run check:format
  language: node
  pass_filenames: false

pnpm_test:
  name: pnpm test
  entry: pnpm --prefix frontend/ run test:fast
  language: node
  pass_filenames: false

📝 Fix link to dev setup document
  CONTRIBUTING.md
Due: none

🧑‍💻 Reload worker if source code changed
  packaging/Procfile
  worker/pdm.lock
  worker/pyproject.toml
  worker/run.py
Due: none

🚸 Set highlight if clicked outside of word
  frontend/src/editor/transcription_editor.tsx
Due: tsc, format, pnpm_test

🐛 Fuzzy-compare start time for highlighting
  frontend/src/editor/player.tsx
Due: tsc, format, pnpm_test

🐛 Fix new doc form canceling on enter
  frontend/src/pages/new_document.tsx
Due: tsc, format, pnpm_test

♻️ Rewrite worker/dump_doc.py for fastapi backend
  worker/dump_doc.py
  worker/pdm.lock
  worker/pyproject.toml
Due: none

💄 Center playbar, handle smaller screens
  frontend/src/editor/player.tsx
Due: tsc, format, pnpm_test

🐛 Resize waveform if viewport resized
  frontend/src/editor/player.tsx
Due: tsc, format, pnpm_test

🌚🌝 Dark Mode
  frontend/index.html
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/button.tsx
  frontend/src/components/dialog.tsx
  frontend/src/components/form.tsx
  frontend/src/components/popup.tsx
  frontend/src/editor/debug_panel.tsx
  frontend/src/editor/player.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/editor/worker_status.tsx
  frontend/src/index.css
  frontend/src/pages/new_document.tsx
  frontend/src/pages/user_home.tsx
Due: tsc, format, pnpm_test

handle invalid unicode when decoding token
  backend/transcribee_backend/auth.py
Due: django-openapi

fix documentation of default user
  doc/development_setup.md
Due: none

add new database location to gitignore
  backend/.gitignore
Due: django-openapi

do not retry getMe, when receiving 422
  frontend/src/api/user.ts
Due: tsc, format, pnpm_test

Switch authentication to fastapi.security
  backend/openapi-schema.yml
  backend/transcribee_backend/auth.py
  frontend/src/openapi-schema.ts
Due: django-openapi, openapi-typescript, tsc, format, pnpm_test

worker: Move from watchdog to watchfiles
  worker/pdm.lock
  worker/pyproject.toml
  worker/run.py
Due: none

🙈 Re-add new backend db to gitignore
  backend/.gitignore
Due: django-openapi

🖨️ remove spammy logging from backend
  backend/transcribee_backend/helpers/sync.py
Due: django-openapi

🙈 re-add .pdm.toml to the backend gitignore
  backend/.gitignore
Due: django-openapi

🐬 combine / split paragraphs to match sentences
  worker/transcribee_worker/whisper_transcribe.py
Due: none

🐬 a different approach to speaker identification
  README.md
  backend/openapi-schema.yml
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/routers/document.py
  doc/task_protocol.md
  frontend/src/openapi-schema.ts
  proto/transcribee_proto/api.py
  proto/transcribee_proto/document.py
  worker/.env.example
  worker/README.md
  worker/pdm.lock
  worker/pyproject.toml
  worker/run.py
  worker/transcribee_worker/diarize.py
  worker/transcribee_worker/identify_speakers.py
  worker/transcribee_worker/worker.py
Due: django-openapi, openapi-typescript, tsc, format, pnpm_test

🙈 fix gitignore(s) for worker
  backend/storage/.gitignore
Due: django-openapi

🙈 raise_for_status in worker while getting media
  worker/transcribee_worker/worker.py
Due: none

🐬 use ffmpeg to load audio in worker
  packaging/shell.nix
  worker/pdm.lock
  worker/pyproject.toml
  worker/transcribee_worker/util.py
  worker/transcribee_worker/worker.py
Due: none

Path conditions:
  django-openapi: any of: backend/.*
  openapi-typescript: any of: backend/openapi-schema.yml
  tsc: any of: frontend/.*
  format: any of: frontend/.*
  pnpm_test: any of: frontend/.*
