Repository bugbakery/transcribee: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, worker-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        exclude: .*/pnpm-lock.yaml$
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # python checks
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: Run ruff for python files
        entry: ruff check --config .ruff.toml --force-exclude --fix
        language: system
        'types_or': [python, pyi]
  - repo: local
    hooks:
      - id: backend-pyright
        name: Run typechecker for backend
        entry: pdm run -p backend/ pyright backend/transcribee_backend
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: worker-pyright
        name: Run typechecker for worker
        entry: pdm run -p worker/ pyright worker/transcribee_worker
        language: system
        files: worker/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-openapi
        name: update openapi-schema of the backend
        entry: pdm run -p backend/ generate_openapi --file openapi-schema.yml
        language: system
        files: backend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: backend-tests
        name: run backend tests
        entry: pdm run -p backend/ test
        language: system
        files: backend/.*
        pass_filenames: false

  # frontend checks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: pnpm --prefix frontend/ run check:eslint
        language: system
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        pass_filenames: false
  - repo: local # openapi-schema typescript from the openapi-schema of the backend
    hooks:
      - id: openapi-typescript
        name: openapi-typescript
        entry: pnpm --prefix frontend/ run generate-openapi
        language: system
        files: backend/openapi-schema.yml
        pass_filenames: false
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm --prefix frontend/ run check:tsc
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: format
        name: format
        entry: pnpm --prefix frontend/ run format
        language: system
        files: frontend/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: pnpm_test
        name: pnpm test
        entry: pnpm --prefix frontend/ run test
        language: system
        files: frontend/.*
        pass_filenames: false

✨ Add custom metrics
  backend/openapi-schema.yml
  backend/pdm.lock
  backend/pyproject.toml
  backend/transcribee_backend/auth.py
  backend/transcribee_backend/config.py
  backend/transcribee_backend/main.py
  backend/transcribee_backend/metrics.py
  frontend/src/openapi-schema.ts
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

✨ Add sql query count metric
  backend/scripts/create_user.py
  backend/scripts/create_worker.py
  backend/scripts/reset_task.py
  backend/scripts/set_password.py
  backend/transcribee_backend/db/__init__.py
  backend/transcribee_backend/helpers/tasks.py
  backend/transcribee_backend/media_storage.py
  backend/transcribee_backend/metrics.py
  backend/transcribee_backend/routers/document.py
Due: backend-pyright, backend-openapi, backend-tests

✨ Group TasksInState and Queue metric by task type
  backend/transcribee_backend/metrics.py
Due: backend-pyright, backend-openapi, backend-tests

✨ Add metrics endpoint
  backend/pdm.lock
  backend/pyproject.toml
  backend/transcribee_backend/main.py
Due: backend-pyright, backend-openapi, backend-tests

🐛 Skip para recombination if produced para is > 30s
  worker/tests/data/test_strict_sentence_paragraphs-doest_combine_long_para.json
  worker/transcribee_worker/whisper_transcribe.py
Due: worker-pyright

🐛 Fix DONT_COMBINE_RES not doing anything
  worker/tests/data/test_strict_sentence_paragraphs-leaves_special_paras.json
  worker/tests/test_transcribe.py
  worker/transcribee_worker/whisper_transcribe.py
Due: worker-pyright

Update pdm
  .github/workflows/lint.yml
  backend/pdm.lock
  shell.nix
  worker/pdm.lock
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests

Update numpy
  worker/pdm.lock
Due: worker-pyright

⚡️ Switch to faster-whisper
  backend/data/models.json
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/routers/document.py
  shell.nix
  worker/pdm.lock
  worker/pyproject.toml
  worker/scripts/generate_model_config.py
  worker/tests/data/test_combine_tokens_to_words-simple.json
  worker/tests/test_transcribe.py
  worker/transcribee_worker/whisper_transcribe.py
  worker/transcribee_worker/worker.py
Due: backend-pyright, worker-pyright, backend-openapi, backend-tests

🐛 fix loading bee blocking top bar
  frontend/src/editor/player.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/pages/document.tsx
Due: eslint, tsc, format, pnpm_test

🐛 dont flash login only routes
  frontend/src/app.tsx
Due: eslint, tsc, format, pnpm_test

🐬 sow loading screen only after 200ms
  frontend/src/pages/loading.tsx
Due: eslint, tsc, format, pnpm_test

🐬 remove loading page
  frontend/src/app.tsx
  frontend/src/pages/loading.tsx
  frontend/src/pages/page.tsx
Due: eslint, tsc, format, pnpm_test

🐛 Fix create_api_token management command
  backend/scripts/create_api_token.py
  backend/scripts/create_user.py
  backend/scripts/create_worker.py
  backend/scripts/reset_task.py
  backend/scripts/set_password.py
Due: backend-pyright, backend-openapi, backend-tests

📈 Make worker thread count configurable
  worker/transcribee_worker/config.py
  worker/transcribee_worker/whisper_transcribe.py
Due: worker-pyright

✨ Add task queue info endpoint
  backend/openapi-schema.yml
  backend/transcribee_backend/models/task.py
  backend/transcribee_backend/routers/task.py
  frontend/src/openapi-schema.ts
Due: backend-pyright, backend-openapi, backend-tests, eslint, openapi-typescript, tsc, format, pnpm_test

🐛 Do not gitignore migrations
  backend/.gitignore
Due: backend-pyright, backend-openapi, backend-tests

🔧 Pass additional parameters to overmind
  packaging/dev.sh
Due: none

✨ Add basic video preview
  frontend/src/editor/player.tsx
  frontend/src/utils/use_audio.ts
Due: eslint, tsc, format, pnpm_test

🧱 Include video in reencoded preview media
  frontend/src/editor/player.tsx
  worker/transcribee_worker/config.py
  worker/transcribee_worker/reencode.py
  worker/transcribee_worker/worker.py
Due: worker-pyright, eslint, tsc, format, pnpm_test

🧱 Scale preview video to 480p and keep audio file
  frontend/src/editor/player.tsx
  worker/transcribee_worker/config.py
  worker/transcribee_worker/reencode.py
  worker/transcribee_worker/worker.py
Due: worker-pyright, eslint, tsc, format, pnpm_test

🧹 Enable video preview based on media tags
  frontend/src/editor/player.tsx
  frontend/src/utils/use_audio.ts
Due: eslint, tsc, format, pnpm_test

✨ Add space for video below document content
  frontend/src/editor/player.tsx
  frontend/src/editor/transcription_editor.tsx
  frontend/src/pages/document.tsx
Due: eslint, tsc, format, pnpm_test

🐛 Fix reencode progress calculation
  worker/transcribee_worker/worker.py
Due: worker-pyright
